<main *ngIf="mgl">  
  <div class="row"></div>
   <form (ngSubmit)="Submit()" #lolForm="ngForm">
  <div class="row">
    <div class="col s1 m1 l1"></div>
    <div class="col s10 m10 l10 z-depth-2 card-panel grey lighten-5 widgetBN loginLongBN">
      <div class="row"></div>
          <div class="row valign-wrapper">
            <div class="col s1"><img src="../../assets/mgl/images/0.jpg" class="imags" name=""></div>
            <div class="col s4 regNrmSp1BN">{{'Bill Payment for Mahanagar Gas (Mumbai) Consumer Number '}}<b>{{mgl.ca}} </b> for Rs.   <b>{{mgl.netpay}}</b></div>
           
            <div class="col s3">{{'Recharge Rs . ' }}<span>{{mgl.netpay}}</span></div>
            <div class="col s4"><button type="submit" name="proceed" class="btn waves-effect waves-light col s12 m12 l12 regNrmSpBN red  buttonBN">{{'Proceed to pay Rs. '}}<b>{{mgl.netpay}}</b></button></div>
        </div>
      <div class="row"></div>   
    </div>
    <div class="col s1 m1 l1"></div>
  </div>
   </form>
</main>
