<div materialize>
  <div class="row"></div>
  <div materialize="modal" id="seedeatil2" class="modal modlBN modal-fixed-footer productModalBN" [materializeActions]="seemodalActions">
      <div class="modal-content">
          <app-seeproductdetail [selPayment] = "getSelPayment()"></app-seeproductdetail>
      </div>
 </div>
  <div class="col s12 noLeftPaddingBN">
    <a class="linkButtonBN inputTextBN dashboardRedirectBN" [routerLink]="dashboard">
      <i class="material-icons alignMidBN">arrow_back</i>
      <span class="alignMidBN">{{'Back to Dashboard' | translate}}</span>
    </a>
  </div>
  <div class="row" (click)="resetTick()">
    <div class="row"></div>
    <div class="row" *ngIf="hasTransactions()">
      <div class="col s12 m7 l7 searchBorderBN">
        <i class="col s2 material-icons searchIconBN">search</i>
        <input id="searchCamp" placeholder="{{'Search' | translate}}..." name="searchCamp" class="col s10 inputTextBN searchBN"
               type="text" [(ngModel)]="searchText">
      </div>
      <div [ngClass]='processingCSV?"col s5 exportBN overlayBN hide-on-small-only":"col s5 exportBN hide-on-small-only"'>
        <a class="linkButtonBN" *ngIf="numPages > 0" (click)="downloadCSV(1)">
          <span class="alignMidBN exportTextBN">{{'Export Report' | translate}}</span>
          <i class="material-icons alignMidBN exportIconBN">file_download</i>
          <a id="reportDownloadBN" [attr.href]="sanitize(encUri)" download="Payments.csv">&nbsp;</a>
        </a>
        <div *ngIf="processingCSV" class="preloader-wrapper small active noOverlayBN">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
        <div *ngIf="!processingCSV && successCSV" class="noOverlayBN">
          <img src="../../assets/shared/images/success.png" class="alignMidBN" />
        </div>
      </div>
    </div>
    <div class="row smallGapBN">&nbsp;</div>
    <div class="row smallGapBN">&nbsp;</div>
    <div class="row" style="margin-bottom: 0px" *ngIf="hasTransactions()">
      <div class="col s12 m6 l6">
        <span class="labelPLBN">
          {{'For' | translate}}
        </span><br>
        <div class="dateRangeSBN">
          <select materialize="material_select">
            <option value="all" selected>{{'All Payments' | translate}}</option>
          </select>
        </div>
      </div>
      <div class="col s12 smallGapBN hide-on-med-and-up"></div>
      <div class="col s12 m6 l6">
        <span class="labelPLBN">
          {{'Duration' | translate}}
        </span><br>
        <div class="dateRangeSBN">
          <select materialize="material_select">
            <option value="all" selected>{{'All Time' | translate}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row"></div>
    <div *ngIf="hasTransactions()" class="row">
      <ul class="col s12 listPLBN collapsible" data-collapsible="accordion" materialize="collapsible">
        <li *ngFor="let p of payments; let i = index;">
          <div [id]="p.id" [ngClass]= 'checkClass(i, p.id)' (click)="arrowChange(p.id)">
        <span (click)="changeIcon(p.id)">
          <i *ngIf = "!isSelected(p.id) || !detailsExpanded" class="material-icons alignMidBN iconBN">keyboard_arrow_right</i>
          <i *ngIf = "isSelected(p.id) && detailsExpanded" class="material-icons alignMidBN iconBN">keyboard_arrow_down</i>
        </span>
            <div class="col s6 m5 l5 fieldBN">
              {{p.dateAndTime | date: 'MMM d, yyyy h:mm a'}}
            </div>
            <div class="col s6 m4 l4 truncate fieldBN">
              {{p.vPA}}<br>
              <span class="hide-on-med-and-up">₹ {{p.amount | number : '1.2-2'}}</span>
            </div>
            <div class="col m3 l3 hide-on-small-only fieldBN">
              <span class="right">₹ {{p.amount | number : '1.2-2'}}</span>
            </div>
          </div>
          <div class="collapsible-body noLeftPaddingBN collapsibleBodyBN">
            <div class="row" style="margin-bottom: 0px;">
              <div class="col s6 m4 l4 truncate secondFieldBN center"><b>{{'Payment ID' | translate}}</b> <br>{{p.id}}</div>
              <div class="col s6 m5 l5 truncate secondFieldBN center"><b>{{'Buyer Details' | translate}}</b> <br> {{p.email}}<br> {{p.phone}}</div>
              <div class="col  s12 m3 l3 truncate secondFieldBN center" ><b>{{'Payment For' | translate}}</b> <br> {{p.description}}
              <br> 
              <span *ngIf="p.products"><b class="linkButtonBN textcolorBN" (click)="seedetails(p)">{{'See Details' | translate}}</b></span></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="processing" class="col s12 center">
      <div class="row"></div>
      <div class="row"></div>
      <div class="preloader-wrapper active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        </div>
      </div>
      <div class="col s12 center inputTextBN">
        {{'Loading Transactions' | translate}}
      </div>
    </div>
    <div *ngIf="!hasTransactions() && !processing" class="col s12 center">
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="col s12 center inputTextBN">
        {{'No Transactions Found!' | translate}}
      </div>
    </div>
    <div class="row" style="margin-bottom: 5px;">
      <div class="col s12">
        <a class="linkButtonBN previousBN" (click)="previous()" *ngIf="numPages > 1 && page > 1">
          <i class="material-icons alignMidBN">navigate_before</i>
          <span class="alignMidBN">{{'Previous' | translate}}</span>
        </a>
        <a class="linkButtonBN nextBN" (click)="next()" *ngIf="numPages > page">
          <span class="alignMidBN">{{'Next' | translate}}</span>
          <i class="material-icons alignMidBN">navigate_next</i>
        </a>
      </div>
    </div>
    <div class="row hide-on-med-and-up">
      <div class="col s12 center" style="border-top: 2px solid #dddddd;">
        <div *ngIf="processingCSV" class="preloader-wrapper small active">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
        <div *ngIf="!processingCSV && successCSV" class="">
          <img src="../../assets/shared/images/success.png" class="alignMidBN" />
        </div>
      </div>
      <div [ngClass]='processingCSV?"col s12 reportMobBN overlayBN center":"col s12 reportMobBN center"'>
        <a class="linkButtonBN exportMobBN" *ngIf="numPages > 0" (click)="downloadCSV(2)">
          <i class="material-icons alignMidBN">file_download</i>
          <span class="alignMidBN ">{{'Export Report' | translate}}</span>
          <a id="reportDownloadMobBN" [attr.href]="sanitize(encUri)" download="Payments.csv">&nbsp;</a>
        </a>
      </div>
    </div>
  </div>
</div>
