.allContentBN {
    max-width: 550px;
}

.infoMsgBN {
    margin-top: -10px;
}

.padT4BN {
    padding-top: 4px;
}

.secondaryCBBN {
    margin-top: 10px;
    margin-left: 25px;
}

.productsModalBN {
    width: 90%;
    max-width: 630px; 
    top: 5%!important;
    max-height: 90%;
}
