<div materialize>
  <div class="row"></div>
  <div class="row" *ngIf="businesspro">
    <div class="col s12 noLeftPaddingBN">
      <a class="linkButtonBN inputTextBN dashboardRedirectBN" [routerLink]="dashboard">
        <i class="material-icons alignMidBN">arrow_back</i>
        <span class="alignMidBN">{{'Back to Dashboard' | translate}}</span>
      </a>
    </div>
    <div class="row"></div>
    <!--payment link-->
    <div class="row">
      <div class="col s1 m1 l1"></div>
      <div class="col s10 m10 l10 titleBN"> My Digital Payment Identity</div>
      <div class="col s1 m1 l1"></div>


    </div>
    <div class="roundBorderMainBN col s10 offset-s1">
      <div class="row">
        <div class="titleBN col s12">
          {{'Universal Payment Link' | translate}}
        </div>
      </div>
      <div class="row hide-on-med-and-up">
        <div class="col s12 regNrmS6BN">
          {{'you just need to share this link with your customers and they will fill the amount according to their needs.' | translate}}
        </div>
      </div>
      <div class="row hide-on-small-only">
        <div class="col s12 regNrmS6BN">
          {{'Your universal payment Link is a special type of payment link in which you do not have to put any amount or any details
          , you just need to share this link with your customers and they will fill the amount according to their needs.'
          | translate}}
        </div>
      </div>
      <div class="row">
        <div class=" col s12 m8 l8 center">
          <i class="material-icons alignMidBN tpBN">link</i>
          <input type="text" [readonly]="true" [(ngModel)]="streurlpay" class="validate inputjBN">
        </div>
        <div class="row  center hide-on-med-and-up"></div>
        <div class=" col s12 m4 l4 center">

          <a class="alignMidBN copyBN linkButtonBN" [href]="streurlpay" target="_blank">
            <i class="material-icons alignMidBN">remove_red_eye</i>
          </a>
          &nbsp;
          <i class="material-icons alignMidBN copyBN linkButtonBN" (click)="sharej()">share</i> &nbsp;
          <a class="copyBN" [class.btn-success]="isCopied1" type="button" ngxClipboard [cbContent]="streurlpay" (cbOnSuccess)="isCopied1 = true">
            <i class="material-icons alignMidBN">content_copy</i>
          </a>
        </div>
      </div>
      <div class="row  center hide-on-small-only" *ngIf="payshare">
        <a (click)="emaiil()" class="linkButtonBN" width="78" height="50" title="Email Share Button" style="border: 0; overflow: hidden; vertical-align:middle; padding-right: 10px; ">
          <img src="../../assets/newbiz/imgs/email.png" alt="email" width="35" height="35" style="border-radius: 17px;" />
        </a>

        <span *ngIf="emailtext">
          <input type="email" name="email" [(ngModel)]="email" placeholder="please enter Email-Id" class="shrtextBN">

          <button [disabled]="hasemail()" type="submit" class="btn regNrmS4BN center buttonBN subBN " (click)="emailpost()">
            <i class="material-icons send">send</i>
          </button>


        </span>


        <a (click)="sms()" width="59" height="20" class="linkButtonBN" width="78" height="50" title="SMS Share Button" style="border: 0; overflow: hidden; vertical-align:middle; padding-right: 10px; ">
          <img src="../../assets/newbiz/imgs/SMS.png" alt="sms" width="35" height="35" style="border-radius: 17px;" />
        </a>


        <span *ngIf="smstext">
          <input type="text" name="mobilenumber" [(ngModel)]="mobileNumber" placeholder="please enter Mobile Number" class="shrtextBN">

          <button [disabled]="hasSMS()" type="submit" class="btn regNrmS4BN center buttonBN  subBN " (click)="smspost()">
            <i class="material-icons send">send</i>
          </button>
        </span>


        <a width="59" height="20" class="linkButtonBN" (click)="fbClick()" width="78" height="50" title="Facebook Share Button" style="border: 0; overflow: hidden; vertical-align:middle; padding-right: 10px; ">
          <img src="../../assets/newbiz/imgs/facebook.png" alt="Share on Facebook" width="35" height="35" style="border-radius: 17px;"
          />
        </a>
        <a class="linkButtonBN hide-on-med-and-up" style="border: 0; overflow: hidden; vertical-align:middle;padding-right: 10px;"
          title="WhatsApp share Button" (click)="WhatsApp()">
          <img src="../../assets/newbiz/imgs/wtsup.jpg" alt="whatsapp" width="35" height="35" />
        </a>
        <div class="row"></div>
        <div class="smsmailBN center" *ngIf="suceessmsg">
          <span class="center smsBN">{{'successful! We have sent a payment link message to the mail.' | translate}}</span>
        </div>
        <div class="smsmailBN center" *ngIf="smsucess">
          <span class="center smsBN">{{'successful! We have sent a payment link message to the number.' | translate}}</span>
        </div>

      </div>
      <div class="row  center hide-on-med-and-up" *ngIf="payshare">
        <a (click)="emaiil()" class="linkButtonBN" width="78" height="50" title="Email Share Button" style="border: 0; overflow: hidden; vertical-align:middle; padding-right: 10px; ">
          <img src="../../assets/newbiz/imgs/email.png" alt="email" width="35" height="35" style="border-radius: 17px;" />
        </a>


        <a (click)="sms()" width="59" height="20" class="linkButtonBN" width="78" height="50" title="SMS Share Button" style="border: 0; overflow: hidden; vertical-align:middle; padding-right: 10px; ">
          <img src="../../assets/newbiz/imgs/SMS.png" alt="sms" width="35" height="35" style="border-radius: 17px;" />
        </a>
        <a width="59" height="20" class="linkButtonBN" (click)="fbClick()" width="78" height="50" title="Facebook Share Button" style="border: 0; overflow: hidden; vertical-align:middle; padding-right: 10px; ">
          <img src="../../assets/newbiz/imgs/facebook.png" alt="Share on Facebook" width="35" height="35" style="border-radius: 17px;"
          />
        </a>
        <a class="linkButtonBN hide-on-med-and-up" style="border: 0; overflow: hidden; vertical-align:middle;padding-right: 10px;"
          title="WhatsApp share Button" (click)="WhatsApp()">
          <img src="../../assets/newbiz/imgs/wtsup.jpg" alt="whatsapp" width="35" height="35" />
        </a>
        
        <div class="row center" *ngIf="emailtext">
          <input type="email" name="email" [(ngModel)]="email" placeholder="please enter Email-Id" class="shrtextBNM">

          <button [disabled]="hasemail()" type="submit" class="btn regNrmS4BN center buttonBN subBN " (click)="emailpost()">
            <i class="material-icons send">send</i>
          </button>


        </div>
        
        <div class="row center" *ngIf="smstext">
          <input type="text" name="mobilenumber" [(ngModel)]="mobileNumber" placeholder="please enter Mobile Number" class="shrtextBNM">

          <button [disabled]="hasSMS()" type="submit" class="btn regNrmS4BN center buttonBN  subBN " (click)="smspost()">
            <i class="material-icons send">send</i>
          </button>
        </div>

        <div class="smsmailBN center" *ngIf="suceessmsg">
          <span class="center smsBN">{{'successful! We have sent a payment link message to the mail.' | translate}}</span>
        </div>
        <div class="smsmailBN center" *ngIf="smsucess">
          <span class="center smsBN">{{'successful! We have sent a payment link message to the number.' | translate}}</span>
        </div>

      </div>

    </div>
    <!-- Desktop View Below -->
    <div class="roundBorderMainBN col s10 offset-s1 hide-on-small-only">
      <div class="row">
        <div class="titleBN col s12">
          {{'Create a Payment Link' | translate}}
        </div>
      </div>
      <div class="col s12 regNrmS6BN ">
        {{'If you want to collect a specific amount from your customer then create and send a prefilled payment link in which the
        payment amount is set . Your customers have to just pay the set amount. The amount cant be edited by the customer.'
        | translate}}
      </div>
      <div class="row"></div>
      <div class="row">
        <form materialize (ngSubmit)="onSubmit()" #paymentLinkForm="ngForm">
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <input id="purpose" name="purpose" type="text" [(ngModel)]="purpose" class="validate inputTextBN" maxlength="30" placeholder="{{'What is this payment for?' | translate}}"
                required>
              <label for="purpose" class="active labelPLBN">{{'Purpose of Payment*' | translate}}</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <input id="amount" name="amount" type="number" [(ngModel)]="amount" class="validate noBottomMarginBN inputTextBN" placeholder="{{'Enter the amount' | translate}}"
                (keyup)="checkAmount()" required>
              <label for="amount" class="active labelPLBN">{{'Amount*' | translate}}</label>
              <span *ngIf="isAmountLess" class="errNrmS6B2BN">{{'*Amount should be more than ₹10' | translate}}</span>
            </div>
          </div>
          <div class="row">
            <ul class="col s10 offset-s1 accordionPLBN collapsible" data-collapsible="accordion" materialize="collapsible">
              <li>
                <div id="advance" class="collapsible-header noLeftMarginBN accordionHeaderBN" (click)="arrowChange()">
                  <span (click)="changeIcon()">
                    <i *ngIf="!detailsExpanded" class="material-icons alignMidBN">keyboard_arrow_right</i>
                    <i *ngIf="detailsExpanded" class="material-icons alignMidBN">keyboard_arrow_down</i>
                  </span>
                  <span class="inputTextBN advanceBN">{{'Advanced Options' | translate}}</span>
                </div>
                <div class="collapsible-body noLeftPaddingBN">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="invoice" name="invoice" type="text" [(ngModel)]="invoiceNum" class="validate inputTextBN" maxlength="20" placeholder="{{'Invoice Number (Optional)' | translate}}">
                      <label for="invoice" class="active labelPLBN">{{'Invoice Number' | translate}}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="expDt" name="expDt" type="text" class="datepicker inputTextBN dtpkrBN dateInputBN" materialize="pickadate" [materializeParams]="dateParams"
                        placeholder="{{'Select Date (Optional)' | translate}}" [(ngModel)]="sampleDate">
                      <label for="expDt" class="active labelPLBN">{{'Expiry By' | translate}}</label>
                    </div>
                    <i class="material-icons iconAlignBN" (click)="dateClickedDesk()">event_busy</i>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="row valign-wrapper">
            <div class="col s12 center">
              <button class="btn waves-effect waves-light regNrmS4BN center buttonBN checkHeight" type="submit" name="create" [disabled]="!validateForm() ">{{'CREATE PAYMENT LINK' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Mobile View Below -->
    <div class="NoBorderMainBN col s12  noLeftPaddingBN hide-on-med-and-up">
      <div class="row">
        <div class="titleBN col s12">
          {{'Create a Payment Link' | translate}}
        </div>
        <div class="row"></div>
        <div class=" col s12 regNrmS6BN ">
          {{'Your customers have to just pay the set amount . The amount cant be edited by the customer.' | translate}}
        </div>

      </div>
      <div class="row"></div>
      <div class="row">
        <form materialize (ngSubmit)="onSubmit()" #paymentLinkForm="ngForm">
          <div class="row">
            <div class="input-field col s12">
              <input id="purpose" name="purpose" type="text" [(ngModel)]="purpose" class="validate inputTextBN" maxlength="30" placeholder="{{'What is this payment for?' | translate}}"
                required>
              <label for="purpose" class="active labelPLBN">{{'Purpose of Payment*' | translate}}</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="amount" name="amount" type="number" [(ngModel)]="amount" class="validate noBottomMarginBN inputTextBN" placeholder="{{'Enter the amount' | translate}}"
                (keyup)="checkAmount()" required>
              <label for="amount" class="active labelPLBN">{{'Amount' | translate}}</label>
              <span *ngIf="isAmountLess" class="errNrmS6B2BN">{{'*Amount should be more than ₹10' | translate}}</span>
            </div>
          </div>
          <div class="row">
            <ul class="col s12 accordionPLBN collapsible " data-collapsible="accordion" materialize="collapsible">
              <li>
                <div id="advanceMob" class="collapsible-header noLeftMarginBN accordionHeaderBN " (click)="arrowChange()">
                  <span (click)="changeIconMob()">
                    <i *ngIf="!detailsExpanded" class="material-icons alignMidBN">keyboard_arrow_right</i>
                    <i *ngIf="detailsExpanded" class="material-icons alignMidBN">keyboard_arrow_down</i>
                  </span>
                  <span class="inputTextBN advanceBN">{{'Advanced Options' | translate}}</span>
                </div>
                <div class="collapsible-body noLeftPaddingBN borderBN">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="invoice" name="invoice" type="text" [(ngModel)]="invoiceNum" class="validate inputTextBN" maxlength="20" placeholder="{{'Invoice Number (Optional)' | translate}}">
                      <label for="invoice" class="active labelPLBN">{{'Invoice Number' | translate}}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="expDtMob" name="expDt" type="text" class="datepicker inputTextBN dtpkrBN dateInputBN" materialize="pickadate"
                        [materializeParams]="dateParams" placeholder="{{'Select Date (Optional)' | translate}}" [(ngModel)]="sampleDate">
                      <label for="expDtMob" class="active labelPLBN">{{'Expiry By' | translate}}</label>
                    </div>
                    <i class="material-icons iconAlignBN" (click)="dateClickedMob()">event_busy</i>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="row valign-wrapper">
            <div class="col s12 center">
              <button class="btn waves-effect waves-light buttonBN regNrmS4BN center checkHeight" type="submit" name="create" [disabled]="!validateForm() || !paymentLinkForm.form.valid">{{'CREATE PAYMENT LINK' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>