.roundBorderMainBN{
  border: 1px solid;
  border-color: rgb(204,204,204);
  border-radius: 10px;
  margin-bottom: 20px;
}

.noLeftPaddingBN{
  padding-left: 0px!important;
   border-bottom: 0px solid #ddd!important;
}

.dashboardRedirectBN{
  color: #E53935;
  font-weight: bold;
}

.titleBN{
  font-family: Barlow;
  font-size: 14pt;
  line-height: 17px;
  color: rgb(61,61,61);
  margin-top: 10px;
  font-weight: bold;
}

.labelPLBN{
  font-family: Barlow;
  font-size: 14pt;
  line-height: 12px;
  color: rgb(65,58,90);
  font-weight: bold;
}

.labelPLBN2 {
  font-family: Barlow;
  font-size: 12pt;
  line-height: 12px;
  color: rgb(65,58,90);
  font-weight: bold;  
}

.inputTextBN{
  font-family: Barlow;
  font-size: 12pt!important;
  line-height: 14px!important;
}

.advanceBN{
  font-weight: bold;
  padding-top: 5px;
}

.iconAlignMedBN{
  right: -390px;
  position: relative;
  top: -51px;
}

.iconAlignBN{
  float: right;
  position: relative;
  top: -51px;
  left: -2%;
}

.noLeftMarginBN{
  margin-left: 0px;
  padding-left: 0px;
}

.checkHeight{
  line-height: 10px!important;
  height: 30px!important;
  font-family: Barlow;
  font-size: 10pt;
  font-weight: bold;
}

.accordionPLBN{
  border: none;
  box-shadow: none;
}

.accordionHeaderBN{
  background-color: #f2f2f2!important;
  border-radius: 46px;
}

.noBottomMarginBN{
  margin-bottom: 0px!important;
}
.inputjBN{
  width: 65%!important;
  height: 13%!important;
  background-color: #f2f2f2!important;
  border: #f2f2f2!important;
  padding: 10px!important;
  margin:0px!important;
  text-transform:lowercase!important;
}
.copyBN{
  color:black;
}
.shrtextBN {
  width: 32%!important;
  border: 1px #ddd solid!important;
  border-bottom: 1px #ddd solid!important;
  margin:0px!important;
  padding-left: 10px!important;
  background-color: grey;
  height:2.5rem!important;
}
.shrtextBNM {
  width: 32%!important;
  border: 1px #ddd solid!important;
  border-bottom: 1px #ddd solid!important;
  margin:0px!important;
  padding-left: 10px!important;
  background-color: grey;
  height:2.5rem!important;
}
.subBN{
  margin-left: -4px!important;
  vertical-align: middle!important;
  height:30pt!important;
  height: 40px!important;
  margin-top: -4.5px;
  padding: 0 1rem!important;
  box-shadow: 0px!important;
  margin-right: 15px;
}
.send{
  color:white;
}
.paygBN{
  font-weight:800;
  font-size: 13pt; 
}
.mrgnBN{
  margin-bottom: 0px!important;
}
.mghBN{
  margin-bottom: 10px!important;
}
.checkBN{
 background-color: red!important;
}
.modBN{
  color:grey;
}
.roundBorderMainBN {
  border: 1px solid;
  border-color: rgb(204,204,204);
  border-radius: 10px;
  margin-bottom: 20px;
}
.titleBN {
  font-family: Barlow;
  font-size: 12pt;
  line-height: 17px;
  color: rgb(61,61,61);
  margin-top: 10px;
  font-weight: bold;
}
.smsBN{
  color: green;
  font-size: 10pt;}
  .smsmailBN{
  margin-bottom: 10px;
}
.brdrNB{
  border-bottom: 1px dotted grey;
}
.tpBN{
  background-color: #f2f2f2!important;
    height: 38px;
    padding-top: 6px;
    width: 35px;
    margin-right: -3px;
    padding-left: 7px;
    margin-top: -3px;
}