<!-- <div class="progress">
  <div class="indeterminate"></div>
</div>
<h4 align="center">Processing your transaction,</h4>
<h4 align="center">please do not click back or refresh the page</h4> -->

<!-- <form id="razorPayWebRequestForm" #razorPayWebRequestForm ngNoForm action="{{payWebRequestUrl}}" method="POST">
  <button class="btn-flat waves-effect waves-light transparent regNrmS2BN" type="submit" id="submitButton" style="color: transparent; background-color: transparent;">Pay</button>
  <input type="hidden" name="status" [ngModel]="status" />
  <input type="hidden" name="mode" [ngModel]="mode" />
  <input type="hidden" name="amount" [ngModel]="amount" />
  <input type="hidden" name="txnid" [ngModel]="txnId" />
  <input type="hidden" name="phone" [ngModel]="phone" />
  <input type="hidden" name="udf4" [ngModel]="udf4" />
  <input type="hidden" name="udf3" [ngModel]="udf3" />
  <input type="hidden" name="mtype" [ngModel]="mtype" />
  <input type="hidden" name="paylinkid" [ngModel]="paylinkid" />
</form> -->

<div id="parent">
  <h1>Transaction Success</h1>
  <img class="img-cross" src="http://downloadicons.net/sites/default/files/tick-mark-icon-95228.png" height="140px">
</div>