<div class="row"></div>
<div class="row" *ngIf="products">
  <div class="col s12 l8 offset-l2" align="center">    
    <form materialize (ngSubmit)="buy()" #buyForm="ngForm">
      <div class="row allContentBN">
        <div class="col s12 center">
          <img class="featuredImageBN responsive-img" *ngIf="sdk.imageURL" src={{uploadsURL}}{{sdk.imageURL}} />
          <img class="featuredImageBN responsive-img" *ngIf="!sdk.imageURL" src='../../assets/paymentlink/images/paym.png' />
        </div>
      </div>
      <div class="row allContentBN">
        <div class="col s12 regHdrS2BN center">
          <span>{{sdk.title}} - {{'by' | translate}}</span>
          <span class="errHdrS2BN">{{sdk.businessName}}</span>
        </div>
      </div>
      <div class="row allContentBN">
        <div class="col s12 regNrmS5BN center">{{sdk.description}}</div>
      </div>
      <div class="row allContentBN">
        <div class="col s8 offset-s2 m4 center" *ngFor="let p of products">
          <productwidget [forCart]="true" [product]="p" [showDelete]="false"></productwidget> 
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
            <button class="btn waves-effect waves-light red regNrmS2BN buttonBN" type="submit" 
              name="proceed" [disabled]="!buyForm.form.valid || isInvalid()">{{'Proceed to Pay' | translate}} 
              <span *ngIf="getTotal() > 0">₹ {{getTotal() | number : '1.2-2'}}</span>
            </button>
        </div>
      </div>
    </form>
  </div>
</div>