<div class="row"></div>
<div class="row" *ngIf="products">
  <div class="col s12 l8 offset-l2" align="center">
    <form materialize (ngSubmit)="buy()" #buyForm="ngForm">
      <div class="row allContentBN" *ngIf="!sdk.isButton">
        <div class="col s12 center">
          <img class="featuredImageBN responsive-img" *ngIf="sdk.imageURL" src={{uploadsURL}}{{sdk.imageURL}} />
          <img class="featuredImageBN responsive-img" *ngIf="!sdk.imageURL" src='../../assets/paymentlink/images/paym.png' />
        </div>
      </div>
      <div class="row allContentBN" *ngIf="!sdk.isButton && !ishc">
        <div class="col s12 regHdrS2BN center">
          <span>{{sdk.title}} - {{'by' | translate}}</span>
          <span class="errHdrS2BN">{{sdk.businessName}}</span>
        </div>
      </div>
      <div class="row allContentBN">
        <div class="col s12 regNrmS5BN center line-breaker">{{sdk.description}}</div>
      </div>
      <div *ngIf="sdk">
        <div *ngIf="(sdk.isButton || ishc ) && sdk.mtype == 2" class="row">
          <br /><br />
          <div class="fullWidthBN" align="center">
            <div class="maxWidthBN" align="left">
              <div class="row">
                <div class="col m10 offset-m2 hide-on-small-only errNrmS5B1BN">
                  <div class="col m3 offset-m2" align="right">{{'Cost' | translate}}</div>
                  <div class="col m4" align="center">{{'Quantity' | translate}}</div>
                  <div class="col m3" align="right">{{'Amount' | translate}}</div>
                </div>
                <div class="col s12 thinGapBuyBN">&nbsp;</div>
                <div class="col s12" *ngFor="let p of products">
                  <newproductwidget [product]="p"></newproductwidget>          
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            <div *ngIf="(!sdk.isButton && !ishc) || sdk.mtype != 2" class="row allContentBN noProdMarginBN">
        <div class="col s8 offset-s2 m4 center" *ngFor="let p of products">
          <productwidget [forCart]="true" [mtype]="sdk.merchantType" [editQty]="true" [product]="p"></productwidget>
        </div>
      </div>
      <div class="row hide-on-small-only" *ngIf="sdk.mtype == 2">
          <span class="center orBN col s12">- {{'Or' | translate}} -</span>
          <div class="col s9 offset-s3">
              <div class="col s2 invHdrS1BN rupeeBN">₹ </div>
              <div class="input-field col s5 regNrmS4B2BN">
                <input id="amountPay" name="amountPay" type="number" class="inputBoxBN" [(ngModel)]="payAmount" [disabled]="isProdSelected()" style="margin:0px"/>
                <label for="amountPay" [ngClass]="{active: payAmount}">{{'Enter Amount to Donate' | translate}}</label>
              </div>
            <div class="col s4"></div>
          </div>
        <span class="col s12 downLabelBN" *ngIf="false">{{'You can enter any amount eg:₹100, ₹150, ₹200, etc.' | translate}}</span>
      </div>
      <div class="row hide-on-med-and-up" *ngIf="sdk.mtype == 2">
        <span class="center orBN col s12">- {{'Or' | translate}} -</span>
        <div class="col s10 offset-s1">
          <div class="col s1 invHdrS1BN rupeeBN">₹ </div>
          <div class="input-field col s10 regNrmS4B2BN">
            <input id="amountPay" name="amountPay" type="number" class="inputBoxBN" [(ngModel)]="payAmount" [disabled]="isProdSelected()" style="margin:0px"/>
            <label for="amountPay" [ngClass]="{active: payAmount}">{{'Enter Amount to Donate' | translate}}</label>

          </div>
          <span class="col s12 downLabelBN" *ngIf="false">{{'You can enter any amount eg:₹100, ₹150, ₹200, etc.' | translate}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
            <button *ngIf="sdk.merchantType != 2" class="btn waves-effect waves-light red regNrmS3BN buttonBN tenPadsBN" type="submit"
              name="proceed" [disabled]="isInvalid()">{{'Proceed to Pay' | translate}}
              <span *ngIf="getTotal() > 0">₹ {{getTotal() | number : '1.2-2'}}</span>
            </button>
            <button *ngIf="sdk.merchantType == 2" class="btn waves-effect waves-light red regNrmS3BN buttonBN tenPadsBN" type="submit"
              name="proceed" [disabled]="isInvalid()">{{'Proceed to Contribute' | translate}}
              <span *ngIf="getTotal() > 0">₹ {{getTotal() | number : '1.2-2'}}</span>
            </button>
        </div>
      </div>
    </form>
  </div>
</div>
