.paymntfailBN {
    font-size: 42px!important;
    color: #E53935!important;
}

.payf1BN {
   margin-top:-18px
}

.paymntBN {
   font-size: 14pt!important;
   font-weight: 600!important;
}

.payfBN {
   margin-top:-16px
}
