<div class="row">
  <div class="col s12 nopadsBN" align="center">
    <div class="storeimgBN" id="storeimgdiv"></div>
    <div class="clearingBN" id="clearingdiv">&nbsp;</div>
    <div class="pad30lrBN">
      <div class="col s12 white card-panel z-depth-2 nameplateBN" *ngIf="storeName">
        <div class="col s12" align="center" *ngIf="storeLogo">
          <div class="storeLogoDivBN" align="center">
              <span class="helperBN"></span><img [src]="storeLogo" class="storeLogoBN" />
          </div>
        </div>
        <div class="col s12">&nbsp;</div>
        <div class="col s12">
          <span class="linkButtonBN storetitleBN" >{{storeName}}</span>
          <div *ngIf="onclickn">
            <div class="col s12">{{storeAddress}}</div>
            <div class="col s12">{{storeEmail}}</div>
            <div class="col s12">
              <i class="material-icons phonedetBN">phone</i> {{storeContact}}
            </div>
            <div class="col s12">&nbsp;</div>
          </div>
        </div>

         <div class="col s12 redcolBN" (click)="abtbusiness()">
          <span class="linkButtonBN" >{{'About this business'}}</span>
            <i class="material-icons linkButtonBN poBN" *ngIf="!onclickn">keyboard_arrow_down</i>
            <i class="material-icons linkButtonBN poBN" *ngIf="onclickn">keyboard_arrow_up</i>
        </div>
      </div>
      <div class="col s12 white card-panel z-depth-2 storeprodsBN" *ngIf="products">
        <div class="row"></div>
        <div class="row">
          <div align="center" class="col l3 m4 s12 storewidgetcntnrBN" *ngFor="let product of products">
            <div class="storepborBN linkButtonBN">
              <prodwidget [product]="product"></prodwidget>
            </div>
          </div>
        </div>
        <div class="row" align="center" *ngIf="page < numPages">
          <button class="btn waves-effect waves-light morefromstoreBN" (click)="more()">{{'See More Products' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="storedetailBN" class="dropdown-content storedetailBN" *ngIf="storeAddress" align="center">
  <div class="col s12">{{storeAddress}}</div>
  <div class="col s12">&nbsp;</div>
  <div class="col s12">
    <i class="material-icons phonedetBN">phone</i> {{storeContact}}
  </div>
</div>