<div class="row">
  <div class="col s12 nopadsBN" align="center">
    <div class="storeimgBN" id="storeimgdiv"></div>
    <div class="clearingBN" id="clearingdiv">&nbsp;</div>
    <div class="pad30lrBN">
      <div class="col s12 white card-panel z-depth-2 nameplateBN">
        <div class="col s12" align="center" *ngIf="storeLogo">
          <div class="storeLogoDivBN" align="center">
              <span class="helperBN"></span><img [src]="storeLogo" class="storeLogoBN" />
          </div>
        </div>
        <div class="col s12">&nbsp;</div>
        <div class="col s12 storetitleBN">{{storeName}}</div>
      </div>
      <div class="col s12 white card-panel z-depth-2 storeprodsBN" *ngIf="products">
        <div class="row"></div>
        <div class="row">
          <div align="center" class="col s3 storewidgetcntnrBN" *ngFor="let product of products">
            <div class="storepborBN linkButtonBN">
              <prodwidget [product]="product"></prodwidget>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
