.clearingBN {
    margin-top: -325px;
    height: 100px;
    width: 100%;
}

.pad30lrBN {
    padding-right: 30px;
    padding-left: 30px;
}

.nameplateBN {
    height: 180px;
}

.nopadsBN {
    padding-right: 0px;
    padding-left: 0px;    
}

.storetitleBN {
    font-size: 20pt!important;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.05rem;       
}

.storeprodsBN {
    padding-top: 10px;
}

.storewidgetcntnrBN {
    padding-left: 20px;
    padding-right: 10px;
}

.storepborBN {
    border: 1px solid #F7F9FA;
}

.storeLogoDivBN {
    margin-top: -65px;
    height: 130px;
    width: 130px;
    border-radius: 65px;
    overflow: hidden;
    background-color: white;
    white-space: nowrap;    
}

.storeLogoBN {
    max-height: 125px;
    max-width: 125px;
    vertical-align: middle;
}

.helperBN {
    display: inline-block;
    height: 100%;
    vertical-align: middle;    
}
