.bizFooterBN {
    background-color: #3d3d3d;
    font-family: 'Barlow', sans-serif;
    font-size: 10pt;
    color: #ffffff;
    font-weight: 400;
}

.bizFooterLinksBN {
    color: #ffffff;
    text-decoration: none;
}