<div class="row smallGapBN">&nbsp;</div>
<div materialize="modal" id="seedeatil2" class="modal modlBN modal-fixed-footer productModalBN" [materializeActions]="seemodalActions">
      <div class="modal-content">
          <app-seeproductdetail [selPayment] = "getSelPayment()"></app-seeproductdetail>
      </div>
 </div>
<div class="row hide-on-med-and-up" align="center" *ngIf="hasTransactions()" >
  <div class="col s12">
    <div class="dateRangeSBN">
      <select class="" materialize="material_select" (ngModelChange)="dateRangeChanged($event)" [(ngModel)]="dateRange">
        <option value="1">{{'Today' | translate}}</option>
        <option value="2">{{'This Week' | translate}}</option>
        <option value="3">{{'This Month' | translate}}</option>
      </select>
    </div>
  </div>
</div>
<div class="row hide-on-small-only">
    <div class="col m4 dateRangeBN offset-m8" align="right" *ngIf="hasTransactions()" >
        <select class="" materialize="material_select" (ngModelChange)="dateRangeChanged($event)" [(ngModel)]="dateRange">
            <option value="1">{{'Today' | translate}}</option>
            <option value="2">{{'This Week' | translate}}</option>
            <option value="3">{{'This Month' | translate}}</option>
        </select>
    </div>
</div>
<div class="row smallGapBN"></div>
<div class="row">
  <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3 dashTitleBN">
    <div class="col s6 dashLeftTitleBN">
      {{'Amount Collected' | translate}}
    </div>
    <div class="col s6 dashRightTitleBN">
      {{'No. of Transactions' | translate}}
    </div>
  </div>
  <div class="col s1 m3 l3"></div>
  <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3 statsBoxBN">
    <div class="col s6 leftPaneBN truncate" >
      ₹ {{totalAmount | number : '1.2-2'}}
    </div>
    <div class="col s6 rightPaneBN">
      {{numPayments}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col m12 l12 hide-on-small-only" style="border-bottom: 1px solid #dddddd;">

  </div>
  <div class="col s6 m4 l4 recentBN">
    {{'Recent Sales' | translate}}
  </div>
  <div class="col s6 hide-on-med-and-up" style="border-bottom: 2px solid #dddddd; height: 30px;">

  </div>
</div>
<div *ngIf="hasTransactions()" class="row">
  <ul class="col s12 listPLBN collapsible" data-collapsible="accordion" materialize="collapsible">
    <li *ngFor="let p of selPayments; let i = index;">
      <div [id]="p.id" [ngClass]= 'checkClass(i, p.id)' (click)="arrowChange(p.id)">
        <span (click)="changeIcon(p.id)">
          <i *ngIf = "!isSelected(p.id) || !detailsExpanded" class="material-icons alignMidBN iconBN">keyboard_arrow_right</i>
          <i *ngIf = "isSelected(p.id) && detailsExpanded" class="material-icons alignMidBN iconBN">keyboard_arrow_down</i>
        </span>
        <div class="col s6 m5 l5 fieldBN">
          {{p.dateAndTime | date: 'MMM d, yyyy h:mm a'}}
        </div>
        <div class="col s6 m4 l4 truncate fieldBN">
          {{p.vPA}}<br>
          <span class="hide-on-med-and-up">₹ {{p.amount | number : '1.2-2'}}</span>
        </div>
        <div class="col m3 l3 hide-on-small-only fieldBN">
          <span class="right">₹ {{p.amount | number : '1.2-2'}}</span>
        </div>
      </div>
      <div class="collapsible-body noLeftPaddingBN collapsibleBodyBN">
        <div class="row" style="margin-bottom: 0px;">
          <div class="col s6 m4 l4 truncate secondFieldBN center"><b>{{'Payment ID' | translate}}</b> <br>{{p.id}}</div>
          <div class="col s6 m5 l5 truncate secondFieldBN center"><b>{{'Buyer Details' | translate}}</b> <br> {{p.email}}<br> {{p.phone}}</div>
          <!--<div class="col s12 m3 l3"><b>{{'Payment For' | translate}}</b><br>{{p.description}}</div>-->
          <div class="col s12 m3 l3 right"><b class="linkButtonBN textcolorBN right" (click)="seedetails(p)">{{'See Details' | translate}}</b></div>
        </div>
      </div>
    </li>
  </ul>
  <div class="row">
  <button class="col s10 offset-s1 m6 offset-m3 l4 offset-l4 btn waves-effect waves-light buttonBN smallerFontBN center" type="submit" name="create" [routerLink]="transactionHistory">
    {{'VIEW ALL SALES' | translate}}</button>
</div>
</div>
<div *ngIf="processing" class="col s12 center">
  <div class="row"></div>
  <div class="row"></div>
  <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
  </div>
  <div class="col s12 center">
    {{'Loading Transactions' | translate}}
  </div>
</div>
<div *ngIf="!hasTransactions() && !processing" class="col s12 center">
  <div class="row"></div>
  <div class="row"></div>
  <div class="col s12 center">
    {{'No Transactions Found!' | translate}}
  </div>
</div>

