<div class="row smallGapBN">&nbsp;</div>
<div materialize="modal" id="seedeatil2" class="modal modlBN productModalBN" [materializeActions]="sharelinkurlmodalActions">
    <div class="modal-content">
      <div class="row">
        <div class="col s4 typeBN">Share</div>
        <div class="col s8">
          <i class="material-icons alignMidBN right linkButtonBN" style="font-size: 14pt;" (click)="shareclose()">close</i>
        </div>
      </div>
      <div class="row">
        <div class="col s3 typeBN">
          <a (click)="emaiil()" width="59" height="20" class="linkButtonBN" width="78" height="50" title="Email Share Button" style="border: 0; overflow: hidden; vertical-align:middle; padding-right: 10px; ">
            <img src="../../assets/newbiz/imgs/email.png" alt="email" width="35" height="35" style="border-radius: 17px;" />
          </a>
        </div>
        <div class="col s9">Email</div>
      </div>
      <div class="row bderBN" *ngIf="emailtext">
        <div class="valign wrapper">
        <div class="col s12 maiBN">
         <input type="email" name="email" [(ngModel)]="email" placeholder="please enter Email-Id" class="maiBN">
        </div>
      </div>
      <div class="valign wrapper ">
          <div class="col s12 center">
           <button type="submit" class="btn waves-effect waves-light buttonBN smallerFonttBN center" (click)="emailpost()">Email</button>

          </div>
         <div class="col s12 center smsBN" *ngIf="suceessmsg">{{'successfully email sent!' | translate}}</div>
        </div>
        
      </div>
      <div class="row" >
        <div class="col s3 typeBN">
          <a (click)="sms()" width="59" height="20" class="linkButtonBN" width="78" height="50" title="SMS Share Button" style="border: 0; overflow: hidden; vertical-align:middle; padding-right: 10px; ">
            <img src="../../assets/newbiz/imgs/SMS.png" alt="sms" width="35" height="35" style="border-radius: 17px;" />
          </a>
        </div>
        <div class="col s9">SMS</div>
      </div>
      <div class="row bderBN" *ngIf="smstext">
          <div class="valign wrapper">
          <div class="col s12 maiBN">
           <input type="text" name="mobilenumber" [(ngModel)]="mobileNumber" placeholder="please enter Mobile Number" class="maiBN">
          </div>
        </div>
        <div class="valign wrapper">
            <div class="col s12 center">
             <button type="submit" class="btn waves-effect waves-light buttonBN smallerFonttBN center" (click)="smspost()">SMS</button>
            </div>
          </div>
         <div *ngIf="smsucess" class="col s12 center smsBN">{{'successfully sms sent !'}}</div>
        </div>
      <div class="row">
        <div class="col s3 typeBN">
          <a width="59" height="20" class="linkButtonBN" (click)="fbClick()" width="78" height="50" title="Facebook Share Button" style="border: 0; overflow: hidden; vertical-align:middle; padding-right: 10px; ">
            <img src="../../assets/newbiz/imgs/facebook.png" alt="Share on Facebook" width="35" height="35" style="border-radius: 17px;"
            />
          </a>
        </div>
        <div class="col s9">Facebook</div>
      </div>
      <div class="row">
        <div class="col s3 typeBN">
          <a class="linkButtonBN " style="border: 0; overflow: hidden; vertical-align:middle;padding-right: 10px;"
            title="Twitter Tweet Button" (click)="twitterbutton()">
            <img src="../../assets/newbiz/imgs/Twitter_Icon.png" alt="Tweet on Twitter" width="35" height="35" />
          </a>
        </div>
        <div class="col s9">Twitter</div>
      </div>
      <div class="row show-on-small hide-on-large-only">
        <div class="col s3 typeBN">
          <a class="linkButtonBN " style="border: 0; overflow: hidden; vertical-align:middle;padding-right: 10px;"
            title="WhatsApp share Button" (click)="WhatsApp()">
            <img src="../../assets/newbiz/imgs/wtsup.jpg" alt="Tweet on Twitter" width="35" height="35" />
          </a>
        </div>
        <div class="col s9">WhatsApp</div>
      </div>
      <div class="row">
        <span class="col s12">Click to copy link</span>
        <div class="col s12 typeBN">

          <div class="smallFontBN noLeftPaddingBN">
            <a class="copyBN" [class.btn-success]="isCopied1" type="button" ngxClipboard [cbContent]="url" (cbOnSuccess)="isCopied1 = true">
              <input type="text" class="smallFontBN inputBN" [(ngModel)]="url" disabled/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
 
<div materialize="modal" id="sharr" class="modal modlBN1 " [materializeActions]="sharemodalActions">
    
  <div class="modal-content">
      <div class="row right ">
        <div class="col s12">
          <span (click)="close()">
            <i class="material-icons alignMidBN linkButtonBN" >close</i>
          </span></div>

        </div>
        <br>
      <div class="row center ">
        <span class="textgreenBN">
            Congratulations!
        </span></div>
     <div class="row center">
        <div class="col s1 m1 l1"></div>
       <div class="col s10 m10 l10">
          You have Sucessfully created your digital Identity.
          Now you can share your Payment link to collect money or you can add product to your online store and start selling them online.
    
       </div>  
       <div class="col s1 m1 l1"></div>
     </div>
    <div class="row"> <b>Digital Payment Link:</b></div>
     <div class="row">
        <div class="col s12 m8 l8">
       <input type="text" class="inputjBN" [(ngModel)]="storeurl" readonly="true"/> 
       </div>
       <div class="col s12 m4 l4">
          <a class="copyBN linkButtonBN alignMidBN" [class.btn-success]= "isCopied1"
          type="button" ngxClipboard [cbContent]="storeurl" (cbOnSuccess)="isCopied1 = true">
            <i class="material-icons alignMidBN">content_copy</i>
            <span class="alignMidBN" style="margin-right: 10px;"></span>
          </a>
          
              <i class="material-icons linkButtonBN alignMidBN" (click)="shareopen(2)">share</i>
            
      </div>
      </div>
    
    <p class="borfBN"></p>
     <div class="row"> <b>Online Store Link:</b></div>
    
     <div class="row">  
       <div class="col s12 m8 l8">
       <input type="text" class="inputjBN" [(ngModel)]="streurl" readonly="true" />
       </div><div class="col s12 m4 l4">
          <a class="copyBN linkButtonBN" [class.btn-success]= "isCopied2"
          type="button" ngxClipboard [cbContent]="streurl" (cbOnSuccess)="isCopied2 = true">
            <i class="material-icons alignMidBN">content_copy</i>
            <span class="alignMidBN" style="margin-right: 10px;"></span>
          </a>
          <i class="material-icons linkButtonBN alignMidBN"  (click)="shareopen(1)">share</i>
           
      </div>
    </div> 
     <div class="row">
       <div class="col s12 m8 l8"><span>Selling Online, Add your product now</span> </div>
       <div class="col s12 m4 l4">
        <button class="col s12 btn waves-effect waves-light buttonBN smallerFontBN center" type="submit" name="create" (click)="adproduct()">
            {{'Add product' | translate}}</button></div>
     </div>
    </div>
</div>
<div materialize="modal" id="seedeatil2" class="modal  modal-fixed-footer productModalBN" [materializeActions]="seemodalActions">
      <div class="modal-content">
          <app-seeproductdetail [selPayment] = "getSelPayment()"></app-seeproductdetail>
      </div>
 </div>
<div class="row hide-on-med-and-up" align="center" *ngIf="hasTransactions()" >
  <div class="col s12">
    <div class="dateRangeSBN">
      <select class="" materialize="material_select" (ngModelChange)="dateRangeChanged($event)" [(ngModel)]="dateRange">
        <option value="1">{{'Today' | translate}}</option>
        <option value="2">{{'This Week' | translate}}</option>
        <option value="3">{{'This Month' | translate}}</option>
      </select>
    </div>
  </div>
</div>
<div class="row hide-on-small-only">
    <div class="col m4 dateRangeBN offset-m8" align="right" *ngIf="hasTransactions()" >
        <select class="" materialize="material_select" (ngModelChange)="dateRangeChanged($event)" [(ngModel)]="dateRange">
            <option value="1">{{'Today' | translate}}</option>
            <option value="2">{{'This Week' | translate}}</option>
            <option value="3">{{'This Month' | translate}}</option>
        </select>
    </div>
</div>
<div class="row smallGapBN"></div>
<div class="row">
  <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3 dashTitleBN">
    <div class="col s6 dashLeftTitleBN">
      {{'Amount Collected' | translate}}
    </div>
    <div class="col s6 dashRightTitleBN">
      {{'No. of Transactions' | translate}}
    </div>
  </div>
  <div class="col s1 m3 l3"></div>
  <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3 statsBoxBN">
    <div class="col s6 leftPaneBN truncate" >
      ₹ {{totalAmount | number : '1.2-2'}}
    </div>
    <div class="col s6 rightPaneBN">
      {{numPayments}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col m12 l12 hide-on-small-only" style="border-bottom: 1px solid #dddddd;">

  </div>
  <div class="col s6 m4 l4 recentBN">
    {{'Recent Sales' | translate}}
  </div>
  <div class="col s6 hide-on-med-and-up" style="border-bottom: 2px solid #dddddd; height: 30px;">

  </div>
</div>
<div *ngIf="hasTransactions()" class="row">
  <ul class="col s12 listPLBN collapsible" data-collapsible="accordion" materialize="collapsible">
    <li *ngFor="let p of selPayments; let i = index;">
      <div [id]="p.id" [ngClass]= 'checkClass(i, p.id)' (click)="arrowChange(p.id)">
        <span (click)="changeIcon(p.id)">
          <i *ngIf = "!isSelected(p.id) || !detailsExpanded" class="material-icons alignMidBN iconBN">keyboard_arrow_right</i>
          <i *ngIf = "isSelected(p.id) && detailsExpanded" class="material-icons alignMidBN iconBN">keyboard_arrow_down</i>
        </span>
        <div class="col s6 m5 l5 fieldBN">
          {{p.dateAndTime | date: 'MMM d, yyyy h:mm a'}}
        </div>
        <div class="col s6 m4 l4 truncate fieldBN">
          {{p.vPA}}<br>
          <span class="hide-on-med-and-up">₹ {{p.amount | number : '1.2-2'}}</span>
        </div>
        <div class="col m3 l3 hide-on-small-only fieldBN">
          <span class="right">₹ {{p.amount | number : '1.2-2'}}</span>
        </div>
      </div>
      <div class="collapsible-body noLeftPaddingBN collapsibleBodyBN">
        <div class="row" style="margin-bottom: 0px;">
          <div class="col s6 m4 l4 truncate secondFieldBN center"><b>{{'Payment ID' | translate}}</b> <br>{{p.id}}</div>
          <div class="col s6 m5 l5 truncate secondFieldBN center"><b>{{'Buyer Details' | translate}}</b> <br> {{p.email}}
            <br> {{p.phone}}<br>{{p.address}}<br>{{p.pin}} - {{p.city}}<br>{{p.state}}</div>
         <div class="col  s12 m3 l3 truncate secondFieldBN center" ><b>{{'Payment For' | translate}}</b> <br> {{p.description}}
          <span *ngIf="p.products"><b class="linkButtonBN textcolorBN" (click)="seedetails(p)">{{'See Details' | translate}}</b></span></div>  </div>
      </div>
    </li>
  </ul>
  <div class="row">
  <button class="col s10 offset-s1 m6 offset-m3 l4 offset-l4 btn waves-effect waves-light buttonBN smallerFontBN center" type="submit" name="create" [routerLink]="transactionHistory">
    {{'VIEW ALL SALES' | translate}}</button>
</div>
</div>
<div *ngIf="processing" class="col s12 center">
  <div class="row"></div>
  <div class="row"></div>
  <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
  </div>
  <div class="col s12 center">
    {{'Loading Transactions' | translate}}
  </div>
</div>
<div *ngIf="!hasTransactions() && !processing" class="col s12 center">
  <div class="row"></div>
  <div class="row"></div>
  <div class="col s12 center">
    {{'No Transactions Found!' | translate}}
  </div>
</div>

