.statsBoxBN{
  background-color: #413A5A;
  color: white;
  height: 80px;
  border: 0px solid #413A5A;
  border-radius: 15px;
  font-family: Barlow;
  font-size: 15pt;
  font-weight: bold;
}
.noLeftPaddingBN{
  padding-left: 20px!important;
}
.leftPaneBN{
  border-right: 4px solid white;
  text-align: center;
  height: 80px;
  padding: 20px 12px 0px 0px;
}
.rightPaneBN{
  text-align: center;
  padding-top: 20px;
}
.collapsibleBodyBN {
  font-size: 11pt;
  font-family: 'Barlow', sans-serif;
}
.collapsibleHeadBN{
  font-size: 11pt;
  font-family: 'Barlow', sans-serif;
}
.collapsibleHeadRedBN{
  color: red;
  font-size: 11pt;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
}
.listPLBN{
  box-shadow: none;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #ddd;
}
.accordionHeaderBN{
  background-color: #f2f2f2;
}
.dashLeftTitleBN{
  border-right: 4px solid white;
  text-align: center;
  height: 20%;
  padding: 0px 0px 10px 0px;
  font-size: 11pt;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
}
.dashRightTitleBN{
  text-align: center;
  height: 20%;
  padding: 0px 0px 10px 0px;
  font-size: 11pt;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
}
.iconBN{
  margin: 0px;
}
.fieldBN{
  padding-left: 0px;
}
.secondFieldBN{
  margin-bottom: 10px;
}
.recentBN{
  font-size: 14pt;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 0px;
  padding-right: 0px;
}
.smallerFontBN{
  font-family: Barlow;
  font-size: 10pt!important;
  line-height: 12px!important;
  padding: 0px;
  height: 25px;
}
.smallerFonttBN{
  font-family: Barlow;
  font-size: 10pt!important;
  line-height: 12px!important;
 
  height: 25px;
}

.dateRangeBN {
  max-width: 150px;
  border: solid 1px #413A5A;
  border-radius: 10px;
}

.dateRangeSBN {
  max-width: 120px;
  padding-left: 10px;
  padding-right: 5px;
  border: solid 1px #413A5A;
  border-radius: 10px;
}

.smallGapBN {
  height: 1px;
  margin-bottom: 5px;
}

.textcolorBN {
   color: red !important;
   text-decoration: underline;
}

.textgreenBN{
  color:green;
  font-size: 18pt;
}
.modlBN1{
 
  max-height: 85%!important;
}
.borfBN{
  border: solid 1px #f5f5f5!important;
}
.inputjBN{
  width: 65%!important;
  height: 13%!important;
  background-color: #f2f2f2!important;
  border: #f2f2f2!important;
  padding: 10px!important;
  margin:0px!important;
  text-transform:lowercase!important;
}
.copyBN{
  color:black!important;
}
.sharelin{
left:287.797px!important;
}
.modlBN{
  width: 297px;
  height: 418px;
  margin-top: 86px;
}
.shrtextBN {
  width: 32%!important;
  border: 1px #ddd solid!important;
  border-bottom: 1px #ddd solid!important;
  margin:0px!important;
  padding-left: 10px!important;
  background-color: grey;
  height:2.5rem!important;
}
.shrtextBNM {
  width:63%!important;
  border: 1px #ddd solid!important;
  border-bottom: 1px #ddd solid!important;
  margin:0px!important;
  padding-left: 10px!important;
  background-color: grey;
  height:2.5rem!important;
}
.subBN{
  margin-left: -4px!important;
  vertical-align: middle!important;
  height:30pt!important;
  height: 40px!important;
  margin-top: -4.5px;
  padding: 0 1rem!important;
  box-shadow: 0px!important;
  margin-right: 15px;
}
.send{
  color:white;
}
.paygBN{
  font-weight:800;
  font-size: 13pt; 
}
.mrgnBN{
  margin-bottom: 0px!important;
}
.mghBN{
  margin-bottom: 10px!important;
}
.checkBN{
 background-color: red!important;
}
.modBN{
  color:grey;
}
.roundBorderMainBN {
  border: 1px solid;
  border-color: rgb(204,204,204);
  border-radius: 10px;
  margin-bottom: 20px;
}
.titleBN {
  font-family: Barlow;
  font-size: 12pt;
  line-height: 17px;
  color: rgb(61,61,61);
  margin-top: 10px;
  font-weight: bold;
}
.smsBN{
  color: green;
  font-size: 10pt;}
  .smsmailBN{
  margin-bottom: 10px;
}
.brdrNB{
  border-bottom: 1px dotted grey;
}
.tpBN{
  background-color: #f2f2f2!important;
    height: 38px;
    padding-top: 6px;
    width: 35px;
    margin-right: -3px;
    padding-left: 7px;
    margin-top: -3px;
}
.tbnBN{
  background-color: #E53935;
  padding: 8px;
  margin-left: 16px;
}
.tinBN{
  border: 2px solid #E53935;
  background-color: #f6fbfd;
}
.buttonseBN{
  background-color: white!important;
    border: 1px solid white!important;
    border-radius:4px;
}

.failedTransaction {
  text-decoration: line-through;
}

.failedtxnstts {
  color: #E53935;
  font-weight: 600;
  font-family: Barlow;
  font-size: 15pt;
}