<div materialize *ngIf="campaign">
  <div class="row"></div>
  <div class="row">
    <div class="col s12 noLeftPaddingBN">
      <a class="linkButtonBN inputTextBN dashboardRedirectBN" [routerLink]="'/createcampaign'">
        <i class="material-icons alignMidBN">arrow_back</i>
        <span class="alignMidBN">{{'Back' | translate}}</span>
      </a>
    </div>
    <div class="row"></div>
    <div class="roundBorderMainBN col s10 offset-s1">
      <div class="row"></div>
      <div class="row">
        <div class="titleBN col s12 center">
          {{'Add Products' | translate}}
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
</div>