<div class="row"></div>
<div class="row"></div>
<div class="row">
    <div class="col s12 center">
        <img src="../../assets/login/images/Green Check Circle@2x.png" />
    </div>
</div>
<div class="row">
    <div class="col s12 center regHdrS2BN leftSpaceBN">{{'Password Changed Successfully!' | translate}}</div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col s12 center">
        <button class="btn waves-effect waves-light red regNrmS2BN buttonBN" [routerLink]="'/login/1'" name="signIn">
            {{'Back to Login' | translate}}
        </button>
    </div>
</div>
<div class="row"></div>
<div class="row"></div>