<div materialize>
  <div class="row">
    <div class="col m1 l3 "></div>
    <div class="col s12 m10 l6 card-panel">
      <div class="row"></div>
      <div class="row"></div>
      <div class="row valign-wrapper">
        <div class="input-field col s12 m12 l6">
          <select class="" materialize="material_select">
      <option value="helpdesk@benow.in" selected disabled>helpdesk@benow.in</option> 
    </select>
          <label class="labelPL1BN">To</label>
        </div>
       <div class="input-field col l6"></div>
      </div>
      <div class="row valign-wrapper">
        <div class="input-field col s12 m12 l6">
          <br>
          <textarea id="campaigndescription" rows="4" cols="50" name="campaigndescription" [(ngModel)]="description" class="validate noBottomMarginBN textareaBN inputTextBN"
            maxlength="500" placeholder="{{'Explain in short. Mention important details.' | translate}}" required>
              </textarea>

          <label class="labelPLBN">Description</label>
        </div>
        <div class="input-field col l6"></div>

      </div>
      <div class="row valign-wrapper">
        <div class="col s12 m6 l6 center">
          <button class="btn waves-effect waves-light buttonBN regNrmS4BN left checkHeight" 
          (click)="send()" type="submit" name="create"  [disabled]="!hasrequired()">{{'Send' | translate}}</button>
        </div>
        <div class="col  m6 l6"></div>
      </div>
      <div class="row valign-wrapper" *ngIf="err">
        <div class="col s12 m6 l6 left">
         <span class="errBN">{{msg}}</span>
        </div>
        <div class="col  m6 l6"></div>
      </div>
      <div class="row"></div>
      <span class="col s12 m12 l12 labelPLBN">{{'Registered Office'}}</span><br>
      <span class="col s12 m12 l12 labelPL1BN">{{'Cashless Technologies India'}}</span><br>
      <span class="col s12 m12 l12 labelPL2BN">{{'507 Hiranandani Lighthall, Tower A, Above Maruti Suzuki Showroom – Saki Vihar Road, Andheri East Mumbai 400072'}}</span>
      <div class="row"></div>
      <div class="row"></div>
    </div>
  <div class="col s12 m1 l3 "></div>
  </div>

</div>