.colrnewBN{
    color:white!important;
    font-size: 10pt!important;
}
.greyBN{
    color: grey!important;
}
.serchbrderBN{
    border: 1px solid grey;
    border-radius: 43px;
}
.srcBN {
    margin-top: 10px!important;
}
.inptBN{
        margin: 0 !important;
         border-bottom: 0px solid white!important;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: #413A5A!important;
    color: white!important;
}
.dashBN {
    border: 1px dashed grey;
    border-radius: 12px;
    padding: 6px;
}
.payrBN {

height: 122px;
border: 1px dashed grey;
border-radius: 19px;
}
.mrgNBN {
    margin-right: 35px;
}
.redBN{
color:white!important;
padding:10px!important;
}
.paddBN {

    padding-left: 0px!important;
}
.bordrBN {
    border-radius: 90px;
    color: #E53935;
    background-color: white;
    font-size: 18px!important;
}
.dropBN {
    min-width: 19%!important;
    padding: 10px!important;
    left: 724px!important;
}
.colpBodyBN{
    padding: 1rem!important;
}
.widBN {
    width:62%;
}
.paddBottomBN {
    margin-bottom: 2px!important;
}
.previewBN{
    padding: 0px 7px 0px 6px!important;
}
.copBN{
    font-size: 9pt;
     padding-top: 2pt; 
     color: #E53935;
}
