<div class="row">
    <span class="col s12 center footerRow1BN">
        <a target="_blank" href="http://www.benow.in/terms-and-conditions/" class="regNrmS6B1BN">{{'Privacy Policy' | translate}}</a>
        | <a target="_blank" href="http://www.benow.in/terms-and-conditions/" class="regNrmS6B1BN">{{'Terms and Conditions' | translate}}</a>
        | <a target="_blank" href="http://www.benow.in/biz-help/" class="regNrmS6B1BN">{{'FAQs' | translate}}</a>
    </span>
    <span class="col s12 center regNrmS6BN">© {{'2017-18 Cashless Technologies Pvt. Ltd. All Rights Reserved.' | translate}}</span>
</div>