<div *ngIf="product" (mouseover)="over=true;" (mouseout)="over=false;" 
    [ngClass]="forCart ? (over ? 'row grey lighten-5 productCartWidgetBN' : 'row productCartWidgetBN') : (over ? 'row grey lighten-5 productWidgetBN' : 'row productWidgetBN')">
    <div class="col s12 center fixHeightBN" align="center">
<!--         <i [ngClass]="over ? 'material-icons absoluteBN greyBN linkButtonBN icon17BN' : 'material-icons absoluteBN transparentBN linkButtonBN icon17BN'"
            (click)="delete()" *ngIf="showDelete">close</i> -->
        <img *ngIf="!product.imageURL" class="prodImageBN" src="../assets/shared/images/no-image.png" />
        <img *ngIf="product.imageURL" class="prodImageBN" src={{uploadsURL}}{{product.imageURL}} />        
    </div>
    <div class="col s12 center regNrmS5B1BN" *ngIf="forCart && !editQty">
        {{'QTY' | translate}} : {{product.qty}}
    </div>
    <div class="col s12" *ngIf="forCart && editQty">
        <div class="col s3">
            <input type="checkbox" class="filled-in checkbox-red" id="{{product.id}}" name="{{product.id}}" [(ngModel)]="product.isSelected" 
                (change)="checked()"/>
            <label for="{{product.id}}" class="cblblBN regNrmS5B1BN">
                <span *ngIf="product.isSelected">&nbsp;</span>
                <span *ngIf="!product.isSelected">{{'Buy' | translate}}</span>
            </label>
        </div>
        <div class="col s5 regNrmS5B1BN right" align="left">
            <span *ngIf="product.isSelected">{{'QTY' | translate}}</span>
        </div>
        <div class="col s4 priceInputBN">
            <input [(ngModel)]="product.qty" class="validate thinInputBN" type="number" step="1" min="1" max="9999999" name="qty" (blur)="qtyChanged()" 
                id="qty" required  *ngIf="product.isSelected">
        </div>
    </div>
    <div [ngClass]="product.isSelected ? 'col s12 errNrmS4B1BN center px3BN selProdPriceBN' : 'col s12 errNrmS4B1BN center px3BN'" 
        *ngIf="forCart">₹ {{product.price | number : '1.2-2'}}</div>
    <div class="col s4 shiftTop20BN regNrmS5BN" *ngIf="!forCart">
        <input type="checkbox" class="filled-in checkbox-red" id="{{product.id}}" name="{{product.id}}" [(ngModel)]="product.isSelected" />
        <label for="{{product.id}}" class="productRsBN">₹</label>
    </div>
    <div class="col s8 regNrmS6B1BN left px3BN" *ngIf="!forCart && !product.isSelected" align="left">{{product.price | number : '1.2-2'}}</div>
    <div class="col s8 priceInputBN" *ngIf="!forCart && product.isSelected">
        <input [(ngModel)]="product.price" class="validate thinInputBN" type="number" step="0.01" min="0" max="9999999.99" 
            name="price" (blur)="priceChanged()" (focus)="select()" id="price" required>
    </div>
    <div *ngIf="product.uom" class="col s12 regNrmS6BN center shiftTop10BN truncate bottom10BN">{{'per' | translate}} {{product.uom}}</div>
    <div [ngClass]="product.uom ? 'col s12 regNrmS6B1BN center shiftTop10BN truncate' : 'col s12 regNrmS6B1BN center shiftTop10BN truncate bottom10BN'">{{product.name}}&nbsp;</div>
    <div class="col s12 regNrmS6BN center shiftTop10BN">{{product.description}}</div>
</div>