<div materialize>
    <div materialize="modal" id="notificationsModal" class="modal viewModalSBN" [materializeActions]="notifModalActions">
        <div class="modal-content">
             <notifications [notifications]="notifications" [user]="user"></notifications> 
            <div class="row"></div>
            <div class="row" align="right">
                <a (click)="closeNotifModal()" class="col s10 offset-s1 errNrmS4BN linkButtonBN">{{'CLOSE' | translate}}</a>
            </div>        
        </div>
    </div>
    <div id="notifications" class="dropdown-content grey lighten-5 notificationsMenuBN" (touchstart)="stopBubble($event)" (click)="stopBubble($event)">
         <notifications [notifications]="notifications" [user]="user"></notifications> 
    </div>
    <ul id="account" [ngClass]="mtype == 2 ? 'dropdown-content grey lighten-5 topNavDDMenuNGOBN' : 'dropdown-content grey lighten-5 topNavDDMenuBN'">
        <li *ngIf="!onTilConsole()">
            <a (click)="goTo('tilconsole')">
                <span class="valign-wrapper topNavDDMenuItemBN"> 
                    <i class="material-icons iconPrefixBN">group_work</i>
                    {{'Till Console' | translate}} 
                </span>
            </a>
        </li>
        <li *ngIf="!onDashboard()">
            <a (click)="goHome()">
                <span class="valign-wrapper topNavDDMenuItemBN"> 
                    <i class="material-icons iconPrefixBN">dashboard</i>
                    {{'Payments Dashboard' | translate}} 
                </span>
            </a>
        </li>
        <li *ngIf="!onInvices()">
            <a (click)="goTo('invoices')">
                <span class="valign-wrapper topNavDDMenuItemBN"> 
                    <i class="material-icons iconPrefixBN">account_balance</i>
                    {{'Distributor Connect' | translate}} 
                </span>
            </a>
        </li>
        <li *ngIf="hasCampaign()">
            <a [routerLink]="campaignURL">
                <span class="valign-wrapper topNavDDMenuItemBN"> 
                    <i class="material-icons iconPrefixBN">loyalty</i>
                    {{'Create Campaign' | translate}} 
                </span>
            </a>
        </li>
        <li *ngIf="hasCatalog()">
            <a [routerLink]="catalogURL">
                <span class="valign-wrapper topNavDDMenuItemBN"> 
                    <i class="material-icons iconPrefixBN">store</i>
                    {{'Manage Catalog' | translate}} 
                </span>
            </a>
        </li>
        <li *ngIf="!onProfile()">
            <a (click)="goTo('settings')">
                <span class="valign-wrapper topNavDDMenuItemBN">
                    <i class="material-icons iconPrefixBN">edit</i>
                    {{'Merchant Settings' | translate}}
                </span>
            </a>
        </li>
        <li *ngIf="!hasTils">
            <a (click)="changePassword()" >
                <span class="valign-wrapper topNavDDMenuItemBN">           
                    <i class="material-icons iconPrefixBN">settings</i> 
                    {{'Change Password' | translate}}
                </span>
            </a>
        </li>
        <li>
            <a (click)="signOut()">
                <span class="valign-wrapper topNavDDMenuItemBN"> 
                    <i class="material-icons iconPrefixBN">exit_to_app</i>
                    {{'Sign Out' | translate}} 
                </span> 
            </a>
        </li>
        <li *ngIf="mtype > 2">
            <a (click)="mainModal()">
                <span class="valign-wrapper topNavDDMenuItemBN"> 
                    <i class="material-icons iconPrefixBN">help</i>
                    {{'Take a Tour' | translate}} 
                </span> 
            </a>
        </li>
    </ul>
</div>
<nav materialize class="nav white topNavBN">
    <div class="nav-wrapper">            
        <div class="fullWidthBN" align="center">
            <div class="maxWidthBN" align="left">            
                <a class="brand-logo left linkButtonBN" (click)="goHome()">
                    <img *ngIf="mtype == 1" class="largeLogoBN hide-on-med-and-down" src="../assets/shared/images/Logo.png?v=2" />
                    <img *ngIf="mtype == 1" class="smallLogoBN hide-on-large-only" src="../assets/shared/images/Logo.png?v=2" />
                    <img *ngIf="mtype == 2" class="largeLogoBN hide-on-med-and-down" src="../assets/shared/images/Logo_ngo.png?v=2" />
                    <img *ngIf="mtype == 2" class="smallLogoBN hide-on-large-only" src="../assets/shared/images/Logo_ngo.png?v=2" />
                    <img *ngIf="mtype == 3" class="largeLogoBN hide-on-med-and-down" src="../assets/shared/images/Logo_hb.png?v=2" />
                    <img *ngIf="mtype == 3" class="smallLogoBN hide-on-large-only" src="../assets/shared/images/Logo_hb.png?v=2" />
                </a>
                <ul class="left hide-on-med-and-down largeLangHBDDBN">
                    <li class="topNavDDBN">
                        <select class="regNrmS4B3BN dropDownBN" materialize="material_select" (ngModelChange)="langChanged($event)" [(ngModel)]="language">
                            <option value="1">English</option>
                            <option value="2">हिंदी</option>
                            <option value="3">मराठी</option>
                        </select>
                    </li>
                </ul>
                <ul class="left hide-on-large-only hide-on-small-only mediumLangDDBN">
                    <li class="topNavDDBN">
                        <select class="regNrmS4B3BN dropDownBN" materialize="material_select" name="language" (ngModelChange)="langChanged($event)" 
                            [(ngModel)]="language">
                            <option value="1">English</option>
                            <option value="2">हिंदी</option>
                            <option value="3">मराठी</option>
                        </select>                
                    </li>
                </ul>
                <ul class="left hide-on-med-and-up smallLangDDBN">
                    <li>
                        <select class="regNrmS6BN dropDownBN fhDDBN" materialize="material_select" name="language" (ngModelChange)="langChanged($event)" 
                            [(ngModel)]="language">
                            <option value="1">English</option>
                            <option value="2">हिंदी</option>
                            <option value="3">मराठी</option>
                        </select>                
                    </li>
                </ul>
                <ul class="right">
                    <li class="hide-on-small-only">&nbsp;&nbsp;&nbsp;</li>
                    <li *ngIf="hasNotifications && !onNotifications()" class="hide-on-med-and-down">
                        <a materialize="dropdown" class="dropdown-button topNavMenuBN accBtnBN" data-activates="notifications" data-beloworigin="true">
                            <span class="regNrmS5B1BN">{{'Notifications' | translate}}</span>
                            <i class="material-icons iconPrefixBN notifIconBN">notifications</i>
                            <span class="errNrmS8B1BN notifNumBN" *ngIf="numUnreadNotifs > 0">&nbsp;{{numUnreadNotifs}}&nbsp;</span>
                        </a>
                    </li>
                    <li *ngIf="hasNotifications && !onNotifications()" class="hide-on-large-only">
                        <a (click)="notifModal()" class="noPadsIconBN">
                            <i class="material-icons iconPrefixBN notifIconBN">notifications</i>
                            <span class="errNrmS8B1BN notifNumBN" *ngIf="numUnreadNotifs > 0">&nbsp;{{numUnreadNotifs}}&nbsp;</span>
                        </a>
                    </li>
                    <li class="hide-on-small-only">&nbsp;&nbsp;&nbsp;</li>
                    <li class="navInfoBN hide-on-small-only">
                        <span class="regNrmS4BN">{{'Welcome' | translate}}, </span>
                        <span class="errNrmS4B2BN">{{name}}</span>
                        <br />
                        <span class="regNrmS7BN">{{tmLoad}}</span>
                    </li>
                    <li class="hide-on-small-only">&nbsp;&nbsp;&nbsp;</li>
                    <li>
                        <a materialize="dropdown" class="dropdown-button topNavMenuBN accBtnBN" data-activates="account" data-beloworigin="true">
                            <i class="hide-on-small-only material-icons iconPrefixBN">menu</i>
                            <i class="hide-on-med-and-up material-icons iconPrefixBN">more_vert</i>
                        </a>
                    </li>
                </ul>        
            </div>
        </div>
    </div>
</nav>
<div *ngIf="isUnregistered" class="row nilPadsBN">
    <div class="col s10 offset-s1 errNrmS5B1BN center">
        {{'Your registration is incomplete! You will not be able to use most features.' | translate}}
        <a href="https://merchant.benow.in/mrlogin/1">{{'CLICK HERE' | translate}}</a>
        {{'to complete your registration.' | translate}}
    </div>
</div>

<div materialize>
    <div id="tourModal3" class="modal modelBN modal0PadBN grey" materialize="modal" [materializeActions]="tourModal3Actions">
        <div class="modal-footer modfooterBN grey">
            <a class="modal-action modal-close ">
                <span class="alignMidBN colorBN gdCloseBN rightBN">
                    <i class="material-icons matBN">close</i> &nbsp;&nbsp;{{'Tap to close' | translate}}
                </span>
            </a>
        </div>
        <br>
        <div class="modal-content modBN modal0PadBN grey">
            <div class="col s12" align="center">
                <span class="errHdrS1BN">{{'Need help getting started on Benow?' | translate}}</span>
                <br />
                <br />
                <span class="disNrmS4BN">
                    <i>{{'Click on the following options to learn how to use these services' | translate}}</i>
                </span>
                <br />
            </div>
            <p class="borderBN"></p>
            <div class="row roBN linkButtonBN" (click)="estall()">
                <div class="valign-wrapper">
                    <div class="col s5 m4">
                        <img src="../assets/shared/images/e-stall@2x.png" class="screeBN" alt="">
                    </div>
                    <div class="col s5 m6 regNrmS2B2BN">
                        {{'How do I setup my e-Stall?' | translate}}
                    </div>
                    <div class="col s2">
                        <i class="material-icons pad1BN">keyboard_arrow_right</i>
                    </div>
                </div>
            </div>
            <p class="borderBN"></p>
            <div class="row linkButtonBN" (click)="sms()">
                <div class="valign-wrapper">
                    <div class="col s5 m4">
                        <img src="../assets/shared/images/SMS@2x.png" class="screeBN" alt="">
                    </div>
                    <div class="col s5 m6 regNrmS2B2BN">
                        {{'How do I send a SMS Payment Link?' | translate}}
                    </div>
                    <div class="col s2">
                        <i class="material-icons pad1BN">keyboard_arrow_right</i>
                    </div>
                </div>
            </div>
            <p class="borderBN"></p>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="tourModal1" class="modal modelBN grey modal0PadBN" materialize="modal" [materializeActions]="tourModal1Actions">
        <div class="modal-footer grey modfooterBN">
            <a class="modal-action modal-close ">
                <span class="alignMidBN colorBN gdCloseBN rightBN">
                    <i class="material-icons matBN">close</i> &nbsp;&nbsp;{{'Tap to close' | translate}}
                </span>
            </a>
        </div>
        <div class="modal-content grey modal0PadBN">
            <div (touchstart)="plSwipeStart($event)" (touchend)="plSwipeEnd($event)" (mousedown)="plSwipeStart($event)" (mouseup)="plSwipeEnd($event)"
                class="center">
                <div class="grey white-text">
                    <div class="carouItemHeightBN" *ngIf="plSlide == 1">
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <p>
                                <img src="../assets/shared/images/blue1@2x.png" alt="" class="NumberBN">
                            </p>
                            <img style="width: 56px!important;" width="56" height="69" src="../assets/shared/images/yellowclick@2x.png" alt="">
                            <p></p>
                        </div>
                        <div class="row">
                            <div class="col s12 regHdrS2BN center lnBN"> {{'Click' | translate}}
                                <span class="errHdrS2BN">{{"'Send SMS Payment Link'" | translate}}</span>
                                {{'on the Benow dashboard'| translate}}
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col s12 center regNrmS4B2BN">
                                <span class="coloBN alignMidBN truncate ">
                                    <i class="material-icons blueBN zeroPaddingLeftMarginBN leftBN">email</i> 
                                    <span class="hide-on-small-only">&nbsp;&nbsp;</span>{{'Send SMS Payment Link'| translate}}
                                    <span class="hide-on-small-only">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <i class="material-icons">keyboard_arrow_right</i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="carouItemHeightBN" *ngIf="plSlide == 2">
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <p>
                                <img src="../assets/shared/images/blue2@2x.png" alt="" class="NumberBN">
                            </p>
                            <img style="width: 40px!important;" width="40" height="67" src="../assets/shared/images/mobile@2x.png"  alt="">
                            <p></p>
                        </div>
                        <div class="row">
                            <div class="col s10 offset-s1 regHdrS2BN lnBN">{{'Enter' | translate}}
                                <span class="errHdrS2BN">{{'Customer Mobile Number' | translate}}</span>
                                <br>
                            </div>
                            <div class="col s1"></div>
                        </div>
                        <div class="row">
                            <div class="col s12 center">
                                <span class="italicBN disNrmS4BN">
                                    {{'An SMS Payment link will be sent' | translate}}
                                    {{'to this mobile number' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="carouItemHeightBN" *ngIf="plSlide == 3">
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <p>
                                <img class="NumberBN" src="../assets/shared/images/blue3@2x.png" alt="">
                            </p>
                            <img style="width: 54px!important;" width="54" height="60" src="../assets/shared/images/invoice@2x.png" alt="">
                            <br>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col s10 offset-s1 center regHdrS2BN lnBN"> {{'Enter' | translate}}
                                <span class="errHdrS2BN">{{'Invoice Amount'| translate}}</span>
                                {{'& Invoice Ref No. (If any)' | translate}}
                            </div>
                            <div class="col s1"></div>
                        </div>
                    </div>
                    <div class="carouItemHeightBN" *ngIf="plSlide == 4">
                        <div class="row">
                            <div class="col s12">
                                <img style="width: 114px!important;" width="114" height="116" src="../assets/shared/images/finalsms@2x.png" alt="">
                            </div>
                            <div class="col s12">&nbsp;</div>
                            <div class="col s12 lnBN">
                                <span class="errHdrS-1BN">{{"That's It!" | translate}}</span>
                                <br />
                                <br />
                                <span class="regHdrS2BN">
                                    {{"Press the 'SEND' button and"| translate}}
                                    {{'your customer will receive the payment' | translate}}
                                    {{'link via SMS' | translate}}
                                </span>
                                <br />
                            </div>
                            <div class="col s12">&nbsp;</div>
                            <div class="col s10 offset-s1">
                                <button id="createplinkbtn" class="btn pad10BN waves-effect waves-light red regHdrS2BN buttonBN">
                                    {{'Send SMS Payment Link' | translate}}
                                </button>
                            </div>
                            <div class="col s1"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center">
                            <span (click)="plSelect(1)" 
                                [ngClass]="plSlide == 1 ? 'dotBN selDotBN' : 'dotBN'">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span (click)="plSelect(2)" 
                                [ngClass]="plSlide == 2 ? 'dotBN selDotBN' : 'dotBN'">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span (click)="plSelect(3)" 
                                [ngClass]="plSlide == 3 ? 'dotBN selDotBN' : 'dotBN'">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span (click)="plSelect(4)" 
                                [ngClass]="plSlide == 4 ? 'dotBN selDotBN' : 'dotBN'">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tourModal2" class="modal modelBN grey modal0PadBN" materialize="modal" [materializeActions]="tourModal2Actions">
        <div class="modal-footer grey modfooterBN">
            <a class="modal-action modal-close ">
                <span class="alignMidBN colorBN gdCloseBN rightBN">
                    <i class="material-icons matBN">close</i>&nbsp;&nbsp;{{'Tap to close' | translate}}</span>
            </a>
        </div>
        <div class="modal-content grey modal0PadBN">
            <div (touchstart)="estallSwipeStart($event)" (touchend)="estallSwipeEnd($event)" (mousedown)="estallSwipeStart($event)" (mouseup)="estallSwipeEnd($event)"
                class="center">
                <div class="grey white-text">
                    <div class="carouItemHeightBN" *ngIf="estallSlide == 1">
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <p>
                                <img src="../assets/shared/images/number1@2x.png" alt="" class="thirdBN">
                            </p>
                            <div>
                                <img height="69" width="56" style="width:56px!important" src="../assets/shared/images/Create e-stall2@2x.png" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s10 offset-s1 regHdrS2BN lnBN"> {{'Click' | translate}}
                                <span class="errHdrS2BN">{{"'Create e-Stall'" | translate}}</span> {{'on the' | translate}}
                                <br>{{'Benow dashboard' | translate}}
                            </div>
                            <div class="col s1"></div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col s12 center regNrmS3B2BN">
                                <span class="coloBN alignMidBN truncate">
                                    <i class="material-icons clearedBN zeroPaddingLeftMarginBN leftBN">business</i> &nbsp;&nbsp;&nbsp;{{'Create e-Stall' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="material-icons">keyboard_arrow_right</i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="carouItemHeightBN" *ngIf="estallSlide == 2">
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <p>
                                <img src="../assets/shared/images/number2@2x.png" alt="" class="thirdBN">
                            </p>
                            <div>
                                <img src="../assets/shared/images/banner@2x.png" style="width: 113px!important;" height="60" width="113" alt="">
                            </div>
                            <p></p>
                        </div>
                        <div class="row">
                            <div class="col s10 offset-s1 regHdrS2BN lnBN">
                                <span class="errHdrS2BN">{{'Upload a Banner Image' | translate}}</span>
                                <br> {{'and enter e-Stall Details' | translate}}
                            </div>
                            <div class="col s1"></div>
                            <div class="col s12">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col s10 offset-s1 disNrmS4BN italicBN">
                                {{'This will help attract more customers' | translate}}
                                {{'to your e-Stall' | translate}}
                            </div>                            
                        </div>
                    </div>
                    <div class="carouItemHeightBN" *ngIf="estallSlide == 3">
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <p>
                                <img class="thirdBN" src="../assets/shared/images/number3@2x.png" alt="">
                            </p>
                            <span>
                                <img src="../assets/shared/images/addproducts@2x.png" height="57" width="57" style="width: 57px!important;" alt="">
                            </span>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col s10 offset-s1 regHdrS2BN lnBN">
                                <span class="errHdrS2BN">{{'Add products' | translate}}</span> {{'to your e-Stall' | translate}}
                            </div>
                            <div class="col s1"></div>
                        </div>
                        <span>
                            <img src="../assets/shared/images/addproducts2@2x.png" style="width: 137px!important;" width="137" height="153" alt="">
                        </span>
                    </div>
                    <div class="carouItemHeightBN" *ngIf="estallSlide == 4">
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <p>
                                <img class="thirdBN" src="../assets/shared/images/number4@2x.png" alt="">
                            </p>
                            <div>
                                <img style="width: 80px!important;" width="80" height="64" src="../assets/shared/images/customer details@2x.png" alt="">
                            </div>
                            <p></p>
                        </div>
                        <div class="row">
                            <div class="col s12 lnBN">
                                <span class="errHdrS2BN">{{'Choose Customer details Needed'| translate}}</span>
                                <br>
                                <span class="disNrmS4BN italicBN">{{'Eg. Name, Email ID, Address, Etc' | translate}}</span>
                                <br>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col s12 center regHdrS2BN">
                                <span class="alignMidBN truncate sendgreyBN">
                                    {{'& Click the Create e-Stall Button' | translate}}
                                </span>
                            </div>
                            <div class="col s1"></div>
                        </div>
                    </div>
                    <div class="carouItemHeightBN" *ngIf="estallSlide == 5">
                        <div class="row">
                            <div class="col s12">
                                <img style="width: 114px!important;" width="114" height="116" src="../assets/shared/images/final@2x.png" alt="">
                            </div>
                            <div class="col s12">&nbsp;</div>
                            <div class="col s12 lnBN">
                                <span class="errHdrS-1BN">{{"That's It!" | translate}}</span>
                                <br />
                                <br />
                                <span class="regHdrS2BN">
                                    {{'Share Your Unique e-Stall link' | translate}}
                                    {{'on Social Media/SMS'| translate}}
                                    {{'and reach out to your Customer' | translate}}
                                </span>
                                <br />
                            </div>
                            <div class="col s12">&nbsp;</div>
                            <div class="col s10 offset-s1 regHdrS2BN">
                                <button id="createestallbtn" class="btn waves-effect waves-light red regHdrS2BN buttonBN">
                                    {{'Create e-Stall' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center">
                            <span (click)="esSelect(1)" 
                                [ngClass]="estallSlide == 1 ? 'dotBN selDotBN' : 'dotBN'">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span (click)="esSelect(2)" 
                                [ngClass]="estallSlide == 2 ? 'dotBN selDotBN' : 'dotBN'">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span (click)="esSelect(3)" 
                                [ngClass]="estallSlide == 3 ? 'dotBN selDotBN' : 'dotBN'">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span (click)="esSelect(4)" 
                                [ngClass]="estallSlide == 4 ? 'dotBN selDotBN' : 'dotBN'">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span (click)="esSelect(5)" 
                                [ngClass]="estallSlide == 5 ? 'dotBN selDotBN' : 'dotBN'">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>