<div materialize>
    <div id="notificationsModal" class="modal viewModalSBN">
        <div class="modal-content">
            <!-- <notifications [notifications]="notifications" [user]="user"></notifications> -->
            <div class="row"></div>
            <div class="row" align="right">
                <a (click)="closeNotifModal()" class="col s10 offset-s1 errNrmS4BN linkButtonBN">{{'CLOSE' | translate}}</a>
            </div>        
        </div>
    </div>
    <div id="notifications" class="dropdown-content grey lighten-5 notificationsMenuBN" (touchstart)="stopBubble($event)" (click)="stopBubble($event)">
        <!-- <notifications [notifications]="notifications" [user]="user"></notifications> -->
    </div>
    <ul id="account" class="dropdown-content grey lighten-5 topNavDDMenuBN">
    <li *ngIf="!onTilConsole()">
        <a (click)="goTo('tilconsole')">
            <span class="valign-wrapper topNavDDMenuItemBN"> 
                <i class="material-icons iconPrefixBN">group_work</i>
                {{'Til Console' | translate}} 
            </span>
        </a>
    </li>
    <li *ngIf="!onDashboard()">
        <a (click)="goTo('dashboard')">
            <span class="valign-wrapper topNavDDMenuItemBN"> 
                <i class="material-icons iconPrefixBN">dashboard</i>
                {{'Payments Dashboard' | translate}} 
            </span>
        </a>
    </li>
    <li *ngIf="!onInvices()">
        <a (click)="goTo('invoices')">
            <span class="valign-wrapper topNavDDMenuItemBN"> 
                <i class="material-icons iconPrefixBN">account_balance</i>
                {{'Distributor Connect' | translate}} 
            </span>
        </a>
    </li>
    <li *ngIf="!hasTils">
        <a (click)="changePassword()" >
            <span class="valign-wrapper topNavDDMenuItemBN">           
                <i class="material-icons iconPrefixBN">settings</i> 
                {{'Change Password' | translate}}
            </span>
        </a>
    </li>
    <li>
        <a (click)="signOut()">
            <span class="valign-wrapper topNavDDMenuItemBN"> 
                <i class="material-icons iconPrefixBN">exit_to_app</i>
                {{'Sign Out' | translate}} 
            </span> 
        </a>
    </li>
    </ul>
</div>
<nav materialize class="nav white topNavBN">
    <div class="nav-wrapper">                
        <a class="brand-logo left linkButtonBN" (click)="goTo('home')">
            <img *ngIf="mtype == 1" class="largeLogoBN hide-on-med-and-down" src="../assets/shared/images/Logo.png?v=2" />
            <img *ngIf="mtype == 1" class="smallLogoBN hide-on-large-only" src="../assets/shared/images/Logo.png?v=2" />
            <img *ngIf="mtype == 2" class="largeLogoBN hide-on-med-and-down" src="../assets/shared/images/Logo_ngo.png?v=2" />
            <img *ngIf="mtype == 2" class="smallLogoBN hide-on-large-only" src="../assets/shared/images/Logo_ngo.png?v=2" />
            <img *ngIf="mtype == 3" class="largeLogoBN hide-on-med-and-down" src="../assets/shared/images/Logo_hb.png?v=2" />
            <img *ngIf="mtype == 3" class="smallLogoBN hide-on-large-only" src="../assets/shared/images/Logo_hb.png?v=2" />
        </a>
        <ul class="left" [ngClass]="mtype == 3 ? 'hide-on-med-and-down largeLangHBDDBN' : 'hide-on-med-and-down largeLangDDBN'">
            <li class="topNavDDBN">
                <select class="browser-default regNrmS4B3BN dropDownBN" name="language" (ngModelChange)="langChanged($event)">
                    <option value="1">English</option>
                    <option value="2">हिंदी</option>
                    <option value="3">मराठी</option>
                </select>                
            </li>
        </ul>
        <ul class="left" class="hide-on-large-only hide-on-small-only mediumLangDDBN">
            <li class="topNavDDBN">
                <select class="browser-default regNrmS4B3BN dropDownBN" name="language" (ngModelChange)="langChanged($event)">
                    <option value="1">English</option>
                    <option value="2">हिंदी</option>
                    <option value="3">मराठी</option>
                </select>                
            </li>
        </ul>
        <ul class="left" class="hide-on-med-and-up smallLangDDBN">
            <li>
                <select class="browser-default regNrmS6BN dropDownBN fhDDBN" name="language" (ngModelChange)="langChanged($event)">
                    <option value="1">English</option>
                    <option value="2">हिंदी</option>
                    <option value="3">मराठी</option>
                </select>                
            </li>
        </ul>
        <ul class="right">
            <li class="hide-on-small-only">&nbsp;&nbsp;&nbsp;</li>
            <li class="navInfoBN hide-on-small-only">
                <span class="regNrmS4BN">{{'Welcome' | translate}}, </span>
                <span class="errNrmS4B2BN">{{name}}</span>
                <br />
                <span class="regNrmS7BN">{{tmLoad}}</span>
            </li>
            <li class="hide-on-small-only">&nbsp;&nbsp;&nbsp;</li>
            <li *ngIf="hasNotifications && !onNotifications()" class="hide-on-small-only">
                <a class="dropdown-button topNavMenuBN accBtnBN" data-activates="notifications" data-beloworigin="true">
                    <i class="material-icons iconPrefixBN notifIconBN">email</i>
                    <span class="errNrmS8B1BN notifNumBN" *ngIf="numUnreadNotifs > 0">&nbsp;{{numUnreadNotifs}}&nbsp;</span>
                </a>
            </li>
            <li *ngIf="hasNotifications && !onNotifications()" class="hide-on-med-and-up">
                <a (click)="notifModal()" class="noPadsIconBN">
                    <i class="material-icons iconPrefixBN notifIconBN">email</i>
                    <span class="errNrmS8B1BN notifNumBN" *ngIf="numUnreadNotifs > 0">&nbsp;{{numUnreadNotifs}}&nbsp;</span>
                </a>
            </li>
            <li class="hide-on-small-only">&nbsp;&nbsp;&nbsp;</li>
            <li>
                <a materialize="dropdown" class="dropdown-button topNavMenuBN accBtnBN" data-activates="account" data-beloworigin="true">
                    <i class="material-icons iconPrefixBN">more_vert</i>
                </a>
            </li>
        </ul>        
    </div>
</nav>