    <main >
        <div class="row profileBN">
            <div class="col s12" style="margin: 0px">
                <div class="row" style="margin: 0px">
                   
                    <div class="col l12 m12 s12">
                        <div class="row" style="margin-bottom: 0px">
                            <div class="col s12 card-panel buttonBN1">
                              
                                <i class="material-icons alignMidBN linkButtonBN doneBN" >done</i>
                                <span class="alignMidBN regHdrS2BN" style="margin-left:10px">{{'Account Activated' | translate}}</span>
                                <a class="linkButtonBN right" >
                                    <i class="material-icons alignMidBN">close</i>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                  
                </div>
                <div class="row">
                    <div class="col l2 m2 s1"></div>
                    <div class="col l8 m8 s10 colaccordBN colaccorBN">
                      
                        <span class="col s12 m12 l12 paddhdjBN ">
                            <p>
                                <b>Now you can receive upto ₹ 10,000 per month</b>
                                <br>
                                To remove the above limit, kindly provide us with
                                your PAN card and Bank Statement documents
                                that clearly mention your details
                            </p>
                        </span>
                         
                    </div>
                    <div class="col l2 m2 s1"></div>
                </div>
                <div class="row">
                    <div class="col s1 m3 l4| center-align"></div>
                    <div class="col s10 m6 l4| center-align">
                        <button (click)="removelimit()" class="btn waves-effect waves-light col s6 offset-s3 red regNrmS2BN buttonBN" name="submit" type="submit" >
                            Remove Limit
                        </button>
                    </div>
                    <div class="col s1 m3 l4| center-align"></div>
                </div>
            </div>
        </div>
    </main>
    