<form (ngSubmit)="onSubmit()" #changePwdForm="ngForm">
    <div class="row">
        <div class="col s12 center regHdrS2BN leftSpaceBN">{{'Change Password' | translate}}</div>
        <div class="col s12 center errNrmS2BN">{{user.email}}</div>
    </div>
    <div class="row">
        <div class="valign-wrapper">
            <div class="col m1 l2 hide-on-small-only"></div>
            <div class="input-field col s8 m8 l7">
                <input id="vcode" name="vcode" type="text" class="validate regNrmS4BN" required 
                    [(ngModel)]="verificationCode">
                <label for="vcode" [ngClass]="{active: verificationCode}">{{'Enter Verification Code' | translate}}</label>
            </div>
            <div class="col s4 m2 l1">
                <a class="errNrmS4B1BN linkButtonBN" (click)="resend()">{{'resend' | translate}}</a>
            </div>
            <div class="col m1 l2 hide-on-small-only"></div>
        </div>
        <div class="valign-wrapper" *ngIf="isSentError || isSentSuccess">
            <span *ngIf="isSentError" class="col s12 center-align errNrmS6BN">
                {{'Error in sending email! Please try again.' | translate}}</span>
            <span *ngIf="isSentSuccess" class="col s12 center-align regNrmS6BN">
                {{'Successully sent the Verification Code again!' | translate}}</span>
        </div>
        <div class="valign-wrapper">
            <div class="col m1 l2 hide-on-small-only"></div>
            <div class="input-field col s12 m10 l8">
                <input id="password" name="password" type="password" class="validate regNrmS4BN" required 
                    [(ngModel)]="password" (keyup)="validatePassword()">
                <label for="password" [ngClass]="{active: password}">{{'Enter new password' | translate}}</label>
            </div>
            <div class="col m1 l2 hide-on-small-only"></div>
        </div>        
        <div class="valign-wrapper">
            <div class="col m1 l2 hide-on-small-only"></div>
            <div class="input-field col s12 m10 l8">
                <input id="confirm" name="confirm" type="password" class="validate regNrmS4BN" required 
                    [(ngModel)]="confirmPassword" (keyup)="validatePassword()">
                <label for="confirm" [ngClass]="{active: confirmPassword}">{{'Confirm password' | translate}}</label>
            </div>
            <div class="col m1 l2 hide-on-small-only"></div>
        </div>        
        <div class="valign-wrapper">
            <span *ngIf="isSubmitError" class="col s12 center-align errNrmS6BN">{{submitErrMsg | translate}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col m1 l2 hide-on-small-only"></div>
        <div class="col s12 m11 l10">
            <button class="btn waves-effect waves-light red regNrmS2BN buttonBN" type="submit" 
                name="signIn" [disabled]="!changePwdForm.form.valid || !hasAllRequiredFields()">{{'Submit' | translate}}
            </button>
        </div>
    </div>
</form>