<main>
  <div *ngIf="showprogress">
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
    <h5 align="center">Fetching your details please wait.</h5>
  </div>
  <div materialize>
    <div class="row container" *ngIf="!showprogress">
      <form class="col s12 m10 l10 card-panel grey lighten-5 widgetBN loginLongBN offset-l1 offset-m1" (ngSubmit)="savePrePage()"
        #preForm="ngForm">
        <div class="row">
          <div *ngIf="hasPayPin" class="valign-wrapper">
            <div class="input-field col s11">
              <input disabled value="{{payPin}}" id="paypin" type="text" class="validate">
              <label class="active" for="paypin">PAY PIN ID
                <label class="error-text-normal mandatory">*</label>
              </label>
            </div>
            <i class="material-icons left col s1" (click)="onEditClick()">edit</i>
          </div>
          <div *ngIf="!hasPayPin" class="input-field col s12">
            <input id="paypin" type="text" class="validate" (input)="onEnterPayPin($event.target.value)">
            <label for="paypin">PAY PIN ID</label>
            <span class="helper-text" data-error="wrong" data-success="right">You can find your PAY PIN ID in the bill</span>
            <div *ngIf="invalidPaypin ;then showError else other_content"></div>
            <ng-template #showError>
              <div align="left" class="error-text col s12">This is not a valid PAY PIN ID</div>
            </ng-template>
            <ng-template #other_content>
            </ng-template>
          </div>
        </div>
        <div class="row" *ngIf="!hasPayPin">
          <div class="col s12 center-align">
            <button type="submit" name="proceed" class="btn waves-effect waves-light red">Submit
            </button>
          </div>
          <div class="col s12 center-align">
            <br>or
            <a class="red-text" href="https://app.zipgrid.com/login">Login via Zipgrid</a>
          </div>
          <div class="col s12 center-align">
            <br> For queries please contact:
            <a class="red-text" href="mailto:zipdesk@zipgrid.com" target="_top">zipdesk@zipgrid.com</a>
            /
            <!-- Cross-platform compatible (Android + iPhone) -->
            <a class="red-text" href="tel://9579474743">9579474743</a>
          </div>
        </div>
        <div *ngIf="hasPayPin">
          <div class="row valign-wrapper">
            <div class="col s5" align="left">Community code</div>
            <div class="col s1" align="left">: </div>
            <div class="col s6" align="left">{{payPinModel.community_name}}</div>
          </div>

          <div class="row valign-wrapper">
            <div class="col s5" align="left">Flat code</div>
            <div class="col s1" align="left">: </div>
            <div class="col s6 truncate" align="left">{{payPinModel.flat}}</div>
          </div>

          <div class="row valign-wrapper">
            <div class="col s5" align="left">Payer name
              <span class="error-text-normal">*</span>
            </div>
            <div class="col s1" align="left">: </div>
            <div class="col s6 truncate" align="left">
              <input id="name" type="text" name="name" class="validate" required [(ngModel)]="strFullName" (input)="onEnterName($event.target.value)">
              <div class="row">
                <span *ngIf="strInvalidName" class="error-text-normal col s12 left">{{strInvalidName}}</span>
              </div>
            </div>
          </div>

          <div class="row valign-wrapper">
            <div class="col s5" align="left">Email address
              <span class="error-text-normal">*</span>
            </div>
            <div class="col s1" align="left">: </div>
            <div class="col s6" align="left">
              <input id="inp_email" type="email" class="validate" required [(ngModel)]="strEmail" name="email" (input)="onEnterEmail($event.target.value)">
              <div class="row">
                <span *ngIf="strInvalidEmail" class="error-text-normal col s12 left">{{strInvalidEmail}}</span>
              </div>
            </div>
          </div>

          <div class="row valign-wrapper">
            <div class="col s5" align="left">Mobile number
              <span class="error-text-normal">*</span>
            </div>
            <div class="col s1" align="left">: </div>
            <div class="col s6 truncate" align="left">
              <input id="mobile" type="text" class="validate" required [(ngModel)]="strMobile" name="mobile" (input)="onEnterMobile($event.target.value)">
              <div class="row">
                <span *ngIf="strInvalidMobile" class="error-text-normal col s12 left">{{strInvalidMobile}}</span>
              </div>
            </div>
          </div>

          <div class="row valign-wrapper">
            <div class="col s5" align="left">Due date</div>
            <div class="col s1" align="left">: </div>
            <div class="col s6 truncate" align="left">{{payPinModel.due_date}}</div>
          </div>

          <div *ngIf="!subLedgerList">
            <br>
            <p>Add sub ledger</p>
            <br>
            <div class="row valign-wrapper" *ngFor="let subLedger of subLedgerList">
              <div class="col s8">
                <input type="checkbox" id="{{subLedger.subledger_code}}" name="keepSignedIn" />
                <label for="{{subLedger.subledger_code}}" class="checkBoxLblBN">{{subLedger.type}} &#x20b9; {{subLedger.amount}}</label>
              </div>
              <div class="col s4">
                <div class="input-field col s12">
                  <input value="{{subLedger.amount}}" id="amount" type="text" class="validate">
                  <label class="active" for="amount">Amount
                    <label class="error-text-normal mandatory">*</label>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div hidden class="row">
            <div class="col s12 center">
              <ul materialize="collapsible" class="collapsible accordionBN" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">
                    <div class="row noPadsNewBN fullWidthBN">
                      <div class="col s5" align="left">
                        <span class="truncate">Bill</span>
                      </div>
                      <div class="col s6" align="right">
                        <span class="truncate">&#x20b9; {{totalBillAmount}}</span>
                      </div>
                      <div class="col s1" align="right">
                        <i class="material-icons greyBN">keyboard_arrow_down</i>
                      </div>
                      <div *ngIf="totalAmount > 1000000 ;then showError else other_content"></div>
                      <ng-template #showError>
                        <div align="left" class="error-text col s12">Total amount should be less than &#x20b9; 1,000,000</div>
                      </ng-template>
                      <ng-template #other_content>
                      </ng-template>
                    </div>
                  </div>
                  <div class="collapsible-body">
                    <div class="row valign-wrapper" *ngFor="let subLedger of subLedgerList; let i = index">
                      <div class="col m8 l8 s6" align="left">{{subLedger.type}} &#x20b9; {{subLedger.oAmount}}</div>
                      <div class="col m4 l4 s6">
                        <div class="input-field col s12">
                          <input value="{{subLedger.amount}}" name="isValidPayment" id="amount" type="text" class="validate" required (input)="onEnterPayment($event.target.value, i)">
                          <label class="active" for="amount">Amount</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    <div class="row noPadsNewBN fullWidthBN">
                      <div class="col s5" align="left">
                        <span class="truncate">Sub ledger</span>
                      </div>
                      <div class="col s6" align="right">
                        <span class="truncate">&#x20b9; {{totalSubledgerAmount}}</span>
                      </div>
                      <div class="col s1" align="right">
                        <i class="material-icons greyBN">keyboard_arrow_down</i>
                      </div>
                      <div *ngIf="totalAmount > 1000000 && totalSubledgerAmount > 0;then showError else other_content"></div>
                      <ng-template #showError>
                        <div align="left" class="error-text col s12">Total amount should be less than &#x20b9; 1,000,000</div>
                      </ng-template>
                      <ng-template #other_content>
                      </ng-template>
                    </div>
                  </div>
                  <div class="collapsible-body">
                    <div class="row valign-wrapper" *ngFor="let subLedger of allSubLedgerList; let i = index">
                      <div class="col m8 l8 s6" align="left">{{subLedger.type}} &#x20b9; {{subLedger.oAmount}}</div>
                      <div class="col m4 l4 s6">
                        <div class="input-field col s12">
                          <input value="{{subLedger.amount}}" id="amount" type="text" class="validate" (input)="onEnterSubLedger($event.target.value, i)">
                          <label class="active" for="amount">Amount</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <!-- <div class="row center-align" *ngFor="let subLedger of subLedgerList; let i = index">
            <div class="input-field col s12">
              <input value="{{subLedger.amount}}" name="isValidPayment" id="amount" type="text" class="validate" required (input)="onEnterPayment($event.target.value, i)">
              <label class="active" for="amount">Amount</label>
              <div class="row">
                <span *ngIf="strInvalidAmount" class="error-text-normal col s12 left-align">{{strInvalidAmount}}</span>
              </div>
            </div>
            <br>
            <span align="left" class="paymentHelper col s12">Against maintenance bill ({{payPin}} &#x20b9; {{subLedger.oAmount}})</span>
            <div *ngIf="totalAmount > 1000000 ;then showError else other_content"></div>
            <ng-template #showError>
              <div align="left" class="error-text col s12">Total amount should be less than &#x20b9; 1,000,000</div>
            </ng-template>
            <ng-template #other_content>
            </ng-template>
          </div> -->

          <div class="row center-align">
            <div class="input-field col s12">
              <input value="{{totalBillAmount}}" name="isValidPayment" id="amount" type="text" class="validate" required (input)="onEnterPayment($event.target.value, i)">
              <label class="active" for="amount">Amount
                <label class="error-text-normal mandatory">*</label>
              </label>
              <div class="row">
                <span *ngIf="strInvalidAmount" class="error-text-normal col s12 left-align">{{strInvalidAmount}}</span>
              </div>
            </div>
            <br>
            <span align="left" class="paymentHelper col s12">Against maintenance bill ({{payPin}} &#x20b9; {{totalBillAmount}})</span>
            <div *ngIf="totalAmount > 1000000 ;then showError else other_content"></div>
            <ng-template #showError>
              <div align="left" class="error-text col s12">Total amount should be less than &#x20b9; 1,000,000</div>
            </ng-template>
            <ng-template #other_content>
            </ng-template>
          </div>

          <div>
            <p class="title">Pay using</p>

            <div class="row valign-wrapper" *ngIf="upiCharges">
              <div class="col s12">
                <input name="group1" type="radio" id="upi" [(ngModel)]="paymentMode" value="UPI" (click)="paymentModeChanged('UPI')" />
                <div *ngIf="upiCharges.category == 'PERCENT' ;then percentage else other_content"></div>

                <ng-template #other_content>
                  <div *ngIf="upiCharges.category == 'FLAT' ;then flat else else_content"></div>
                </ng-template>
                <ng-template #percentage>
                  <label class="title" for="upi">UPI</label>
                  <br>
                  <div class="subTitleContainer">
                    <div class="emptySpace">
                      <span class="subTitle">{{upiCharges.charge}}% Convenience Fees* applicable</span>
                    </div>
                  </div>
                </ng-template>
                <ng-template #flat>
                  <label class="title" for="upi">UPI</label>
                  <br>
                  <div class="subTitleContainer">
                    <div class="emptySpace">
                      <span class="subTitle">Flat &#x20b9; {{upiCharges.charge}} Convenience Fees* applicable (Zipgrid Offer)</span>
                    </div>
                  </div>
                </ng-template>
                <ng-template #else_content>
                </ng-template>
              </div>
            </div>

            <div class="row valign-wrapper" *ngIf="netBankingCharges">
              <div class="col s12">
                <input name="group1" type="radio" id="netBanking" [(ngModel)]="paymentMode" value="NB" (click)="paymentModeChanged('NB')"
                />
                <div *ngIf="netBankingCharges.category == 'PERCENT' ;then percentage else other_content"></div>

                <ng-template #other_content>
                  <div *ngIf="netBankingCharges.category == 'FLAT' ;then flat else else_content"></div>
                </ng-template>
                <ng-template #percentage>
                  <label class="title" for="netBanking">Internet Banking</label>
                  <br>
                  <div class="subTitleContainer">
                    <div class="emptySpace">
                      <span class="subTitle">{{netBankingCharges.charge}}% Convenience Fees* applicable</span>
                    </div>
                  </div>
                </ng-template>
                <ng-template #flat>
                  <label class="title" for="netBanking">Internet Banking</label>
                  <br>
                  <div class="subTitleContainer">
                    <div class="emptySpace">
                      <span class="subTitle">Flat &#x20b9; {{netBankingCharges.charge}} Convenience Fees* applicable (Zipgrid Offer)</span>
                    </div>
                  </div>
                </ng-template>
                <ng-template #else_content>

                </ng-template>
              </div>
            </div>

            <div class="row valign-wrapper" *ngIf="dcCharges">
              <div class="col s12">
                <input name="group1" type="radio" id="debit" [(ngModel)]="paymentMode" value="DC" (click)="paymentModeChanged('DC')" />
                <div *ngIf="dcCharges.category == 'PERCENT' ;then percentage else other_content"></div>

                <ng-template #other_content>
                  <div *ngIf="dcCharges.category == 'FLAT' ;then flat else else_content"></div>
                </ng-template>
                <ng-template #percentage>
                  <label class="title" for="debit">Debit Card</label>
                  <br>
                  <div class="subTitleContainer">
                    <div class="emptySpace">
                      <span class="subTitle">{{dcCharges.charge}}% Convenience Fees* applicable</span>
                    </div>
                  </div>
                </ng-template>
                <ng-template #flat>
                  <label class="title" for="debit">Debit Card</label>
                  <br>
                  <div class="subTitleContainer">
                    <div class="emptySpace">
                      <span class="subTitle">Flat &#x20b9; {{dcCharges.charge}} Convenience Fees* applicable (Zipgrid Offer)</span>
                    </div>
                  </div>
                </ng-template>
                <ng-template #else_content>
                </ng-template>
              </div>
            </div>

            <div class="row valign-wrapper" *ngIf="ccCharges">
              <div class="col s12">
                <input name="group1" type="radio" id="credit" [(ngModel)]="paymentMode" value="CC" (click)="paymentModeChanged('CC')" />
                <div *ngIf="ccCharges.category == 'PERCENT' ;then percentage else other_content"></div>

                <ng-template #other_content>
                  <div *ngIf="ccCharges.category == 'FLAT' ;then flat else else_content"></div>
                </ng-template>
                <ng-template #percentage>
                  <label class="title" for="credit">Credit Card</label>
                  <br>
                  <div class="subTitleContainer">
                    <div class="emptySpace">
                      <span class="subTitle">{{ccCharges.charge}}% Convenience Fees* applicable</span>
                    </div>
                  </div>
                </ng-template>
                <ng-template #flat>
                  <label class="title" for="credit">Credit Card</label>
                  <br>
                  <div class="subTitleContainer">
                    <div class="emptySpace">
                      <span class="subTitle">Flat &#x20b9; {{ccCharges.charge}} Convenience Fees* applicable (Zipgrid Offer)</span>
                    </div>
                  </div>
                </ng-template>
                <ng-template #else_content>

                </ng-template>
              </div>
            </div>

            <div class="row valign-wrapper">
              <span class="subTitle">&nbsp;&nbsp;&nbsp;&nbsp;*Convenience Fees is excluding 18% GST on such fees.</span>
            </div>
          </div>

          <div class="row valign-wrapper noBottomMargin">
            <div class="col s5" align="left">Total amount</div>
            <div class="col s1" align="left">: </div>
            <div class="col s6" align="right">&#x20b9; {{amountWithoutCharge | number : '1.2-2'}}</div>
          </div>

          <div class="row valign-wrapper noBottomMargin">
            <div class="col s5" align="left">Convenience fees + GST</div>
            <div class="col s1" align="left">: </div>
            <div class="col s6" align="right">&#x20b9; {{convenienceFee + gst | number : '1.2-2'}}</div>
          </div>

          <div class="row valign-wrapper noBottomMargin">
            <div class="col s5" align="left">Net payable</div>
            <div class="col s1" align="left">: </div>
            <div class="col s6" align="right">&#x20b9; {{totalAmount | number : '1.2-2'}}</div>
          </div>

          <div class="row valign-wrapper noBottomMargin hyperlink" (click)="onTaxClck()">
            <div class="col s12" align="left">Tax breakup</div>
          </div>

          <!-- Modal Structure -->
          <div materialize="modal" id="taxModal" class="modal modal-fixed-footer productsModalBN" [materializeParams]="[{dismissible: false}]"
            [materializeActions]="modalActions">
            <div class="modal-content">
              <h4>Tax Breakup</h4>

              <div class="row valign-wrapper">
                <div class="col s5" align="left">Total amount</div>
                <div class="col s1" align="left">: </div>
                <div class="col s6" align="right">&#x20b9; {{amountWithoutCharge | number : '1.2-2'}}</div>
              </div>

              <div class="row valign-wrapper">
                <div class="col s5" align="left">Convenience fees</div>
                <div class="col s1" align="left">: </div>
                <div class="col s6" align="right">&#x20b9; {{convenienceFee | number : '1.2-2'}}</div>
              </div>

              <div class="row valign-wrapper">
                <div class="col s5" align="left">GST @ 18%</div>
                <div class="col s1" align="left">: </div>
                <div class="col s6" align="right">&#x20b9; {{gst | number : '1.2-2'}}</div>
              </div>

            </div>
            <div class="modal-footer footerHgtBN">
              <div class="col s12 center">
                <div class="title" (click)="closeModal()">Close</div>
              </div>
            </div>
          </div>

          <div hidden class="row">
            <div class="input-field col l3 m3 s6">
              <input disabled value="{{amountWithoutCharge | number : '1.2-2'}}" id="total" type="text" class="validate">
              <label class="active" for="total">Payment</label>
            </div>
            <span class="col l1 m1 s1">+</span>
            <div class="input-field col l3 m3 s6">
              <input disabled value="&#x20b9; {{convenienceFee | number : '1.2-2'}}" id="total" type="text" class="validate">
              <label class="active" for="total">Convenience</label>
            </div>
            <span class="col l1 m1 s1 hide-on-small-only">=</span>
            <div class="input-field col l3 m3 s5 hide-on-small-only">
              <input disabled value="&#x20b9; {{totalAmount | number : '1.2-2'}}" id="total" type="text" class="validate">
              <label class="active" for="total">Total</label>
            </div>
          </div>

          <div class="row valign-wrapper">
            <div class="input-field col s12">
              <input value="{{remarks}}" id="remarks" type="text" class="validate" (input)="onEnterRemarks($event.target.value)">
              <label class="active" for="remarks">Remarks
                <label class="error-text-normal mandatory">*</label>
              </label>
              <div class="row">
                <span *ngIf="strInvalidRemarks" class="error-text-normal col s12 left">{{strInvalidRemarks}}</span>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="genericError">
            <div class="error-text col s12">{{genericError}}</div>
          </div>

          <div class="row valign-wrapper">
            <div class="col s12 m12 l12" align="center">
              <button class="btn waves-effect waves-light red regNrmS2BN buttonBN" type="submit" name="till" [disabled]="!hasAllRequiredFields()">Pay &#x20b9; {{totalAmount | number : '1.2-2'}}
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>