.heBN{
    font-family: 'Barlow', sans-serif;
    font-size: 11pt;
    color:rgba(61,61,61,1);
    font-style: normal;
    text-align: left;
    line-height: 14.4px;
    letter-spacing: 0em;
    font-weight: 600;
}
.he1BN{
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    color:rgba(61,61,61,1);
    font-style: normal;
    text-align: left;
    line-height: 16.8px;
    letter-spacing: 0em;
} 

.reset{
    font-size: 13pt!important;
    line-height: 14px!important;
    font-weight: bold;
    text-align: left;

}