.pad0lrBN {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.offsetBN {
    padding-left: 20px;
}

.titleBN {
    font-size: 20pt;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    color: #9D9B9B;  
    line-height: 40pt;    
}

.offsetlrBN {
    padding-left: 35px;
    padding-right: 55px;    
}

.rdoGrpBN {
    padding-top: 14px;
    min-height: 58px;
    border-bottom: 1px solid #EDECEA;
}

.rdolblBN {
    font-size: 17pt!important;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    color: #3D3D3D;
    letter-spacing: 0.1rem;   
}

.upiLogoBN {
    width: 80px;
}

.rdoGrpNoBrdrBN {
    padding-top: 14px;
    min-height: 58px;    
}

.upiBN {
    position: relative;
    top: -4px;
}

.convfeeBN {
    font-size: 10pt!important;
    font-family: 'Barlow', sans-serif;
    color: #9D9B9B;    
    letter-spacing: 0.05rem;   
    position: relative;
    top: -7px;
}

.nolrpdBN {
    padding-left: 0px;
    padding-right: 0px;
}

.buy2BN {
    margin-top: 15px;
    border-radius: 5px;
    height: 60px;
    font-size: 20pt!important;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.1rem;   
    text-transform: none;        
}

.buy2BN2 {
    margin-top: 15px;
    border-radius: 5px;
    height: 60px;
    font-size: 20pt!important;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.1rem;   
    text-transform: none;        
    padding-top: 10px;    
}

.spqrModalBN {
    height: 80%;
    width: 80%;
    max-width: 400px;    
    overflow: hidden;
}

.spfooterHgtBN {
    height: 75px;
}

.spcloseMdlBtnBN {
    border-radius: 5px;
    color: white;
    font-size: 13pt;
    font-family: 'Barlow', sans-serif;
    text-transform: none;        
}

.spqrqrBN {
    width: 180px;
}

.spqrhdrBN {
    font-size: 14pt;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    color: #3D3D3D;    
}

.spqrftrBN {
    font-size: 14pt;
    font-family: 'Barlow', sans-serif;
    color: #3D3D3D;    
}

.spqrrgtBN {
    width: 140px;
}

.medpadleft0BN {
    padding-left: 0px;
}

.ipanelBN {
    padding-left: 10px;
    padding-right: 10px;        
}

.spanelBN {
    padding-left: 10px;
    padding-right: 10px;            
}

.ctitleBN {
    font-size: 20pt;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    color: #9D9B9B;  
    line-height: 40pt;        
}

.coffsetBN {
    padding-left: 35px;    
}

.padlr10BN {
    padding-left: 10px;
    padding-right: 10px;        
}

.carttotalpriceBN {
    line-height: 25pt;
    font-weight: 600;
    font-size: 11pt;
    font-family: 'Barlow', sans-serif;
    color: #3D3D3D;    
}

.discountgreenBN {
    color: #79A616;
}

.medpadright0BN {
    padding-right: 0px;
}

.medpadleft0BN {
    padding-left: 0px;
}

.smallFontsBN {
    padding-top: 10px;
    font-weight: 600;
    color: #CBCBCB;
    font-size: 11pt;
    font-family: 'Barlow', sans-serif;    
}

.placeorderbtnBN {
    text-transform: none;
    border-radius: 5px;
    height: 60px;
    font-size: 17pt!important;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
}

.itemPanelBN {
    padding-left: 0px;
    padding-right: 0px;
}

.nopadleftBN {
    padding-left: 0px;    
}

.pt10BN {
    padding-top: 10px;
}