.nopadsBN {
    padding: 0px!important;
    margin-bottom: 0px!important;
}

.nopadstopbottomBN {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.leftMenuBN {
    padding-left: 35px;    
}

.leftMenuSBN {
    padding-left: 20px;    
}

.biztopNavBN {
    background-color: #E53935
}

.bizLogoBN {
    padding-left: 50px;
    margin-top: 15px;
}
.accountBalBN {
    background-color: #00acc1;
    color: #ffffff;
    padding-top: 6px;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 20px;
    font-size: 24px;
}

.bizLogoBN {
    margin-top: 15px;
}

.bizHdrIconBN {
    font-size: 23pt;
    padding-right: 15px;
}

.bizHdrSoloIconBN {
    font-size: 23pt;
    padding-right: 20px;    
}

.bizHdrSoloIconSBN {
    font-size: 18pt;
    padding-right: 10px;
}

.bizHdrLastIconBN {
    font-size: 23pt;
    padding-right: 35px;    
}

.bizHdrLastIconSBN {
    font-size: 18pt;
}

.bizUserBN {
    max-width: 250px;
    padding-right: 20px;    
}

.regcolorBN {
    color: #3D3D3D;
}

.rightMenuBN {
    min-width: 230px;
    overflow: hidden;
    background-color: #413A5A!important;
}

.dropdown-content {
    background-color: #413A5A!important;
}

.dropdown-content li > a:hover, .dropdown-content li > span:hover {
    background-color: #E53935;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: white;
    font-size: 11pt;
    font-family: 'Barlow', sans-serif;
}

.select-wrapper span.caret {
    color: white;
}

.select-wrapper input.select-dropdown {
    color: white;
    font-size: 11pt;
    font-family: 'Barlow', sans-serif;
} 

.menuitemhoverBN:hover {
    background-color: #E53935!important;
}

.whiteTextBN {
    color: white;
}

.incomingMsgBN {
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0px;
    display: none;
}

.incomingMsgTxtBN {
    background-color: #413A5A;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #413A5A;
    color: #FFECB3;
}
