<div materialize *ngIf="user">
  <ul id="account" class="dropdown-content rightMenuBN">
    <li class="menuitemhoverBN">
      <div class="row nopadsBN">
        <div class="col s10 offset-s1">
          <select materialize="material_select" (ngModelChange)="langChanged($event)" [(ngModel)]="language">
            <option value="1">English</option>
            <option value="2">हिंदी</option>
            <option value="3">मराठी</option>
          </select>
        </div>
      </div>
    </li>
    <li class="menuitemhoverBN">
      <a class="nopadstopbottomBN whiteTextBN" (click)="changePassword()">
        <span class="valign-wrapper"> 
          <i class="material-icons iconPrefixBN whiteTextBN">settings</i> {{'Change Password' | translate}} 
        </span> 
      </a>
    </li>
    <li class="menuitemhoverBN">
      <a class="nopadstopbottomBN whiteTextBN" (click)="signOut()">
        <span class="valign-wrapper"> 
          <i class="material-icons iconPrefixBN whiteTextBN">exit_to_app</i> {{'Sign Out' | translate}} 
        </span> 
      </a>
    </li>
</ul>  
  <nav materialize class="nav biztopNavBN">
    <div class="nav-wrapper">            
      <a class="brand-logo linkButtonBN" [routerLink]="'/dashboard'">
        <img class="bizLogoBN hide-on-med-and-down" src="../assets/shared/images/benow1x.png" />
        <img class="bizLogoSBN hide-on-large-only" src="../assets/shared/images/benow1x.png" />
      </a>
      <ul class="left hide-on-large-only">
        <li class="hide-on-small-only">
          <a materialize="sideNav" data-activates="slide-out3" class="button-collapse linkButtonBN">
            <i class="material-icons linkButtonBN">menu</i>
          </a>
        </li>
        <li class="hide-on-med-only">
          <a materialize="sideNav" data-activates="slide-out2" class="button-collapse linkButtonBN">
            <i class="material-icons linkButtonBN">menu</i>
          </a>
        </li>
      </ul>
      <ul class="right">
        <li class="hide-on-small-only" *ngIf="false">
          <i class="material-icons bizHdrSoloIconBN linkButtonBN">notifications</i>
        </li>
        <li class="hide-on-med-and-up" *ngIf="false">
          <i class="material-icons bizHdrSoloIconSBN linkButtonBN">notifications</i>
        </li>
        <li class="hide-on-med-and-down">
          <i class="material-icons bizHdrIconBN">account_circle</i>
        </li>
        <li class="hide-on-med-and-down">
          <span class="truncate bizUserBN">{{user.displayName}}</span>
        </li>
        <li>
            <a materialize="dropdown" class="dropdown-button" data-activates="account" data-beloworigin="true">
              <i class="material-icons bizHdrLastIconBN linkButtonBN hide-on-small-only">more_vert</i>
              <i class="material-icons bizHdrLastIconSBN linkButtonBN hide-on-med-and-up">more_vert</i>
            </a>
        </li>
      </ul>      
    </div>
  </nav>
  <div class="incomingMsgBN" id="dummyIncomingMsgBN" *ngIf="newPayments">
    <div *ngFor="let newPayment of newPayments" class="row">
      <div class="col s12 center">
        <span class="incomingMsgTxtBN">{{'Received' | translate}} 
          <b>₹ {{newPayment.amount | number : '1.2-2'}}</b> {{'from' | translate}} 
          <b>{{newPayment.vPA}}</b>
        </span>
      </div>
    </div>
  </div>  
</div>