<div class="progress">
    <div class="indeterminate"></div>
</div>
<form id="paymentForm" #paymentForm ngNoForm action={{processPaymentURL}} method='POST'>
    <div *ngIf="pg">
        <input type="hidden" name="email" [ngModel]="pg.email" />
        <input type="hidden" name="phone" [ngModel]="pg.phone" />
        <input type="hidden" name="mobileNo" [ngModel]="pg.mobileNo" />
        <input type="hidden" name="lastname" [ngModel]="pg.lastName" />
        <input type="hidden" name="firstname" [ngModel]="pg.firstName" />
        <input type="hidden" name="productinfo" [ngModel]="pg.merchantId" />
        <input type="hidden" name="merchantcode" [ngModel]="pg.merchantCode" />
        <input type="hidden" name="merchantname" [ngModel]="pg.title" />
        <input type="hidden" name="payamount" [ngModel]="pg.amount" />
        <input type="hidden" name="paytype" [ngModel]="pg.mode" />
        <input type="hidden" name="paylinkid" [ngModel]="pg.paylinkid" />
        <input type="hidden" name="sourceId" [ngModel]="pg.sourceId" />
        <input type="hidden" name="ismobileview" [ngModel]="pg.ismobileview" />
        <input type="hidden" name="txnid" [ngModel]="pg.txnId" />
        <input type="hidden" name="surl" [ngModel]="pg.surl" />
        <input type="hidden" name="furl" [ngModel]="pg.furl" />
        <input type="hidden" name="udf2" [ngModel]="pg.udf2" />
        <input type="hidden" name="udf3" [ngModel]="pg.udf3" />
        <input type="hidden" name="udf4" [ngModel]="pg.udf4" />
        <input type="hidden" name="udf5" [ngModel]="pg.udf5" />
    </div>
</form>
<h5 align="center" *ngIf="pg.mtype != 2">{{'Redirecting you to payment gateway,' | translate}}</h5>
<h5 align="center" *ngIf="pg.mtype == 2">{{'Redirecting you to contribution gateway,' | translate}}</h5>
<h5 align="center">{{'please do not click back or refresh the page' | translate}}</h5>