.noMarginRowBN {
    margin-bottom: 0;
}

.sidenavBN {
    background-color: #413A5A;
}

.minHeightBN {
    min-height: 770px;
}

.rightNavBN {
    background-color: #f2f2f2;
}

ul.side-nav.fixed {
    overflow: hidden;
    margin-top: 64px;
}

.sidenavmediumBN {
    background-color: #413A5A;
    width: 200px;
    position: absolute;
    overflow: auto!important;
}

.sidenavsmallBN {
    background-color: #413A5A;
    width: 200px;
    position: absolute;
    overflow: auto!important;
    margin-top: 56px!important;    
}

.sidenavBN {
    background-color: #413A5A;
    width: 200px;
    position: absolute;
}

main {
    padding-left: 200px;
}

@media only screen and (max-width : 992px) {
    main {
      padding-left: 0;
    }
}
.pad5BN1 {
    padding: 19px 4px 4px 0px!important;
}

.oldVersionBN {
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}

.versionRedirectBN {
    color: #E53935;
    font-weight: bold;
    font-family: Barlow;
    font-size: 10pt!important;
    line-height: 12px!important;
}
  