<header>
  <biztopnav></biztopnav>
</header>
<main>
  <div class="row noMarginRowBN">
    <div class="col hide-on-med-and-down l3 sidenavBN" [style.height]="getMainHeight()">
      <leftnav></leftnav>
    </div>
    <div id="absoluteMain" class="col s12 m9 l6 minHeightBN">
      <router-outlet></router-outlet>
    </div> 
    <div class="col hide-on-small-only m3 rightNavBN" [style.height]="getMainHeight()">
      <rightnav></rightnav>
    </div>
  </div>
</main>
<footer>
  <bizfooterbar></bizfooterbar> 
</footer>