<div class="row"></div>
<div class="row">
  <div class="col s12">
    <a class="linkButtonBN errNrmS4B1BN" [routerLink]="'/dashboard'">
      <i class="material-icons alignMidBN">arrow_back</i>
      <span class="alignMidBN">{{'Back to Dashboard' | translate}}</span>
    </a>
  </div>
</div>
<div *ngIf="formLoaded " class="col s12 center">
  <div class="row"></div>
  <div class="row"></div>
  <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <div class="col s12 center inputTextBN">
    {{'Loading Settings' | translate}}
  </div>
</div>
<div class="row" *ngIf="user && businesspro && accountpro && !formLoaded">

  <ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
    <li>
      <div id="returnBN" (click)="returnploicy1()" [ngClass]="!isReturn?'collapsible-header setTitleBN profileDetailBN':
      'collapsible-header setTitleBN profileDetailRedBN'">
        <span class="mrlBN" (click)="returnploicy()">
          <i *ngIf="isReturn" class="material-icons alignMidBN">keyboard_arrow_down</i>
          <i *ngIf="!isReturn" class="material-icons alignMidBN">keyboard_arrow_right</i>
        </span>{{'Return Policy Setting' | translate}}
      </div>
      <div class="paddindfBN collapsible-body" style="display: block;">

        <div class="row">
          <div class="col s1 m1 l1 "></div>
          <div class="col s10 m10 l10">
            <div class="row"></div>
            <div class="row">
              <div class="col s12">
                <input type="radio" class="with-gap" name="r1"  id="s1" checked="checked" (click)="contactseller('true')" 
                />
                <label for="s1" class="sellBN">Contact the seller</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <input type="radio" class="with-gap" name="r1" id="s2" (click)="noReturnExchange('true')" />
                <label for="s2" class="sellBN">No returns or exchanges</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <input type="radio" class="with-gap" name="r1" id="s3" (click)="productExchange('true')"  />
                <label for="s3" class="sellBN">Exchange only on faulty products within
                  <input type="text" class="expro" name="day" [readonly]="!businesspro.productExchange" [(ngModel)]="businesspro.productExchangeDay"> days of return.(No returns)</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <input type="radio" class="with-gap" name="r1" id="s4" (click)="productReturnOrExchange('true')"
                />
                <label for="s4" class="sellBN">Returns /exchange only on faulty products within
                  <input type="text" class="expro" name="day" [readonly]="!businesspro.productReturnOrExchange"  [(ngModel)]="businesspro.productReturnOrExchangeDay"> days.</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <input type="radio" class="with-gap" name="r1" id="s5" (click)="returnAvailable('true')" />
                <label for="s5" class="sellBN">Returns available within
                  <input type="text" class="expro" name="day" [readonly]="!businesspro.returnAvailable"  [(ngModel)]="businesspro.returnsAvailableDay"> days.</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <input type="radio" class="with-gap" name="r1" id="s6" (click)="noExchangeFlage('true')" />
                <label for="s6" class="sellBN">No questions asked exchange</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <input type="radio" class="with-gap" name="r1" id="s7" (click)="noReturnFlage('true')" />
                <label for="s7" class="sellBN">No questions asked return</label>
              </div>
            </div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <div class="input-field s12 m12 l12 center regNrmS4BN">
                <button class="btn waves-effect waves-light buttonBN regNrmS4BN center checkHeight" type="submit" (click)="returnploicysave()" name="submit">
                  {{'SUBMIT' | translate}}
                </button>
              </div>

            </div>
          </div>
          <div class="col s1 m1 l1 "></div>
        </div>


      </div>
    </li>
    <li>
      <div id="shippingbn" (click)="shippingsetting1()" [ngClass]="!isShipped?'collapsible-header setTitleBN profileDetailBN':
      'collapsible-header setTitleBN profileDetailRedBN'">
        <span class="mrlBN" (click)="shippingsetting()">
          <i *ngIf="isShipped" class="material-icons alignMidBN">keyboard_arrow_down</i>
          <i *ngIf="!isShipped" class="material-icons alignMidBN">keyboard_arrow_right</i>
        </span>{{'Shipping Setting' | translate}}
      </div>
      <div class="paddindfBN collapsible-body" style="display: block;">

        <div class="row">
          <div class="col s1 m1 l1 "></div>
          <div class="col s10 m10 l10">
            <div class="row"></div>
            <div class="row">
              <div class="col s12">
                <span class="regNrmS5B2BN"> {{'Average time for Shipping/Delivery' | translate}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col s4">
                {{'Ships within' | translate}} &nbsp; &nbsp;
                <input type="text" class="expro" name="day"[(ngModel)]="businesspro.shipTimeInterval">
              </div>
              <div class="col s8">
                <ul class="tabs lineBN">
                  <li [ngClass]="Min ? 'tab lineBN linkButtonBN colorbackgroundBN ':'tab lineBN linkButtonBN '">
                    <a [ngClass]="Min ? 'colorwhiteBN':''" (click)="min()">Min</a>
                  </li>
                  <li [ngClass]="hour ? 'tab lineBN linkButtonBN colorbackgroundBN ':'tab lineBN linkButtonBN '">
                    <a [ngClass]="hour ? 'colorwhiteBN':''" (click)="hours()" class="active">Hours</a>
                  </li>
                  <li [ngClass]="day ? 'tab lineBN linkButtonBN colorbackgroundBN ':'tab lineBN linkButtonBN '">
                    <a [ngClass]="day ? 'colorwhiteBN':''" (click)="days()">Days</a>
                  </li>
                </ul>
              </div>

            </div>
            <div class="row">
              <div class="row">
                <div class="col s12">
                  <span class="regNrmS5B2BN"> {{'Region where delivery is done'| translate}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <input type="radio" class="with-gap" name="loc" id="l1" checked="checked" (click)="locality()" />
                  <label for="l1" class="sellBN">All over India</label>
                </div>
                </div>
              <div class="row">
                <div class="col s12">
                  <input type="radio" class="with-gap" name="loc" id="l2"  (click)="locality1()" />
                  <label for="l2" class="sellBN">Within select localities</label>
                </div>
                
                <div class="col s12" *ngIf="businesspro.selectLocalities">
                  <div class="chips" materialize="material_chip" [materializeParams]="[localitychip]"
                       (chip.add)="addProdlocality($event.detail)" 
                       (chip.delete)="deleteProdlocality($event.detail)">
      
                  </div>
                  <div *ngIf="businesspro.area" >
                    <div *ngFor ="let t of businesspro.area" class="chip" style="margin-top: 10px">
                      {{t.area}}
                      <i class="close material-icons" >close</i>
                    </div>
                  </div>
               </div>
            </div>
            </div>
            <div class="row">
              <div class="row">
                <div class="col s12">
                  <span class="regNrmS5B2BN"> {{'Shipping Charges'}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <input type="radio" class="with-gap" name="shp" id="sj" checked="checked" (click)="shiping1()"/>
                  <label for="sj" class="sellBN">Free Shipping</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <input type="radio" class="with-gap" name="shp" id="sj1" (click)="shiping2()"/>
                  <label for="sj1" class="sellBN">Flat Shipping charge per order</label>
                </div>
                <div class="col s12 m6 l6" *ngIf="businesspro.chargePerOrder">
                 <input type="text" name="changeper" [(ngModel)]="businesspro.orderShipCharge">
               </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <input type="radio" class="with-gap" name="shp" id="sj2"(click)="shiping3()"/>
                  <label for="sj2" class="sellBN">Charge Shipping for Each Product</label>
                </div>
                
              </div>
              <div class="row"></div>
              <div class="row busDetails detailBodyBN mrgnBn">
                <div class="input-field s12 m12 l12 center regNrmS4BN">
                  <button class="btn waves-effect waves-light buttonBN regNrmS4BN center checkHeight" type="submit" (click)="shippingploicysave()" name="submit">
                    {{'SUBMIT' | translate}}
                  </button>
                </div>
  
              </div>
            </div>
          </div>
          <div class="col s1 m1 l1 "></div>
        </div>
      </div>
    </li>
    <li>
      <div id="paybn" (click)="paymentdetail1()" [ngClass]="!isPaymentExpanded?'collapsible-header setTitleBN profileDetailBN':
      'collapsible-header setTitleBN profileDetailRedBN'">
        <span class="mrlBN" (click)="paymentdetail()">
          <i *ngIf="isPaymentExpanded" class="material-icons alignMidBN">keyboard_arrow_down</i>
          <i *ngIf="!isPaymentExpanded" class="material-icons alignMidBN">keyboard_arrow_right</i>
        </span>{{'Payment Setting' | translate}}
      </div>
      <div class="paddindfBN collapsible-body" style="display: block;">

        <div class="row">
          <div class="col s1 m1 l1 "></div>
          <div class="col s10 m10 l10">
            <div class="row"></div>
            <div class="row">
              <div class="col s12">
                <div class="switch">
                  <span class="regNrmS5B2BN">{{'Convenience Fee' | translate}}&nbsp;&nbsp;</span>
                  <label>
                    <input type="checkbox" [(ngModel)]="chargeFee" (change)="setConvenience()" checked>
                    <span class="lever"></span>
                    <span [ngClass]="chargeFee ? 'onBN' : 'offBN'">({{getSwitchText(chargeFee) | translate}})</span>
                  </label>
                </div>
              </div>
              <div class="col s12">&nbsp;</div>
              <div class="col s12 regNrmS6BN">{{'Your customer will pay a nominal fee of 2% (+ GST) on every payment that you receive' | translate}}.</div>
              <div class="col s12 regNrmS6BN">{{"You won't be charged the platform fee" | translate}}.</div>
            </div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <div class="input-field s12 m12 l12 center regNrmS4BN">
                <button class="btn waves-effect waves-light buttonBN regNrmS4BN center checkHeight" type="submit" (click)="paymentsave()" name="submit">
                  {{'SUBMIT' | translate}}
                </button>
              </div>

            </div>
          </div>
          <div class="col s1 m1 l1 "></div>
        </div>


      </div>
    </li>
    <li>
      <div id="codbn" (click)="coddetail1()" [ngClass]="!codExpanded?'collapsible-header setTitleBN profileDetailBN':
      'collapsible-header setTitleBN profileDetailRedBN'">

        <span class="mrlBN" (click)="coddetail()">
          <i *ngIf="codExpanded" class="material-icons alignMidBN">keyboard_arrow_down</i>
          <i *ngIf="!codExpanded" class="material-icons alignMidBN">keyboard_arrow_right</i>

        </span> {{'COD Setting' | translate}}

      </div>
      <div class="paddindfBN collapsible-body" style="display: block;">
        <div class="row">
          <div class="col s1 m1 l1 "></div>
          <div class="col s10 m10 l10">
            
            <div class="row busDetails detailBodyBN mrgnBn">
              <div class="switch"><span class="regNrmS5B2BN">{{'Enable COD' | translate}}&nbsp;&nbsp;</span><label>
                <input type="checkbox" [(ngModel)]="codEnabled" (change)="setCOD()" checked>
                <span class="lever"></span><span [ngClass]="codEnabled ? 'onBN' : 'offBN'">({{getSwitchText(codEnabled) | translate}})</span></label>
            </div> 
            
            </div>
            <div class="row"></div>
            <div class="row">
              <div class="regNrmS6BN">
                {{'Your customer will be able to see "COD" option in your store during checkout' | translate}}.
              </div> 
            </div>
            <!-- <div class="row busDetails detailBodyBN mrgnBn">
              <div class="input-field s12 m12 l12 center regNrmS4BN">
                <button  class="btn waves-effect waves-light buttonBN regNrmS4BN center checkHeight" type="submit"
                  (click)="savecod() " name="submit">
                  {{'SUBMIT' | translate}}
                </button>
              </div>

            </div> -->
          </div>
          <div class="col s1 m1 l1 "></div>
        </div>
      </div>
    </li>
    <li>
      <div id="sellerbn" (click)="sellercontact1()" [ngClass]="!sellercontac?'collapsible-header setTitleBN profileDetailBN':
      'collapsible-header setTitleBN profileDetailRedBN'">
        <span class="mrlBN" (click)="sellercontact()">
          <i *ngIf="sellercontac" class="material-icons alignMidBN">keyboard_arrow_down</i>
          <i *ngIf="!sellercontac" class="material-icons alignMidBN">keyboard_arrow_right</i>
        </span>{{'Seller Contact Setting' | translate}}
      </div>
      <div class="paddindfBN collapsible-body" style="display: block;">

        <div class="row">
          <div class="col s1 m1 l1 "></div>
          <div class="col s10 m10 l10">
            <div class="row"></div>
            <div class="row">
              <div class="row busDetails detailBodyBN mrgnBn">
                <span class="col s12 heBN">{{'Public Phone Number' |translate}}</span>
                <div class="input-field col col s12 m5 l5 regNrmS4BN">
                  <input id="mobilenumber" [readonly]="publicphonenumber" name="mobilenumber" type="text" class="inputboxBN validate" [(ngModel)]="businesspro.publicPhoneNumber"
                    placeholder="{{'Enter Your Mobile Number' |translate}}" />
                  <label for="mobilenumber" [ngClass]="{active: businesspro.publicPhoneNumber}"></label>
                </div>
                <span class="col s4 alignMidBN editButBN linkButtonBN" (click)="phoneedit()">
                  <i class="material-icons iconPrefixBN alignMidBN">edit</i> {{'Edit' | translate}} </span>

              </div>
              <div class="row busDetails detailBodyBN mrgnBn">
                <span class="col s12 heBN">{{'Public Email Address' |translate}}</span>
                <div class="input-field col col s12 m5 l5 regNrmS4BN">
                  <input id="email" [readonly]="publicemail" name="email" type="text" class="inputboxBN  validate" [(ngModel)]="businesspro.publicEmail"
                    placeholder="{{'Enter Your Email Address'| translate}}" />
                  <label for="email" [ngClass]="{active: businesspro.publicEmail}"></label>
                </div>
                <span class="col s4 alignMidBN editButBN linkButtonBN" (click)="emailedit()">
                  <i class="material-icons iconPrefixBN alignMidBN">edit</i> {{'Edit' | translate}} </span>

              </div>
              <div class="col s12">
                These details will be shown on your store and shared with the buyer.
              </div>
              <div class="row"></div>
              <div class="row busDetails detailBodyBN mrgnBn">
                <div class="input-field s12 m12 l12 center regNrmS4BN">
                  <button class="btn waves-effect waves-light buttonBN regNrmS4BN center checkHeight" type="submit" (click)="sellercontactsave()" name="submit">
                    {{'SUBMIT' | translate}}
                  </button>
                </div>

              </div>
            </div>
          </div>
          <div class="col s1 m1 l1 "></div>
        </div>


      </div>
    </li>
    <li>
      <div id="personalbn" (click)="personaldetail1()" [ngClass]="!ispan1Expanded?'collapsible-header setTitleBN profileDetailBN':
      'collapsible-header setTitleBN profileDetailRedBN'">
        <span class="mrlBN" (click)="personaldetail()">
          <i *ngIf="ispan1Expanded" class="material-icons alignMidBN">keyboard_arrow_down</i>
          <i *ngIf="!ispan1Expanded" class="material-icons alignMidBN">keyboard_arrow_right</i>

        </span> {{'Personal Setting' |translate}}

      </div>
      <div class="collapsible-body paddindfBN" style="display: block;">
        <div class="row">
          <div class="col s1 m1 l1 "></div>
          <div class="col s10 m10 l10">
            <div class="row"></div>
            <div class="row busDetails detailBodyBN mrgnBn ">
              <span class="col s12 heBN">{{'Your Name' | translate}}</span>
              <div class="input-field col s8 m5 l5 regNrmS4BN">
                <input id="contactPerson" name="contactPerson" type="text" placeholder="{{'Enter Your Name' | translate}}" class="prrBN inputboxBN validate"
                  [(ngModel)]="businesspro.contactPerson" [readonly]="editt" />
                <label for="contactPerson" [ngClass]="{active: businesspro.contactPerson}"></label>
              </div>
              <span class="col s4 alignMidBN editButBN linkButtonBN" (click)="edit()">
                <i class="material-icons iconPrefixBN alignMidBN">edit</i> {{'Edit' | translate}} </span>
            </div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN">{{'Your Email Address' |translate}}</span>
              <div class="input-field col col s12 m5 l5 regNrmS4BN">
                <input id="email" [readonly]="true" name="email" type="text" class="inputboxBN  validate" [(ngModel)]="user.email" placeholder="{{'Enter Your Email Address'| translate}}"
                />
                <label for="email" [ngClass]="{active: user.email}"></label>
              </div>

            </div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN">{{'Your Mobile Number' |translate}}</span>
              <div class="input-field col col s12 m5 l5 regNrmS4BN">
                <input id="mobilenumber" [readonly]="true" name="mobilenumber" type="text" class="inputboxBN validate" [(ngModel)]="user.mobileNumber"
                  placeholder="{{'Enter Your Mobile Number' |translate}}" />
                <label for="mobilenumber" [ngClass]="{active: mobilenumber}"></label>
              </div>

            </div>
            <div class="row"></div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <div class="input-field s12 m12 l12 center regNrmS4BN">
                <button [disabled]="!hasAllFields()" class="btn waves-effect waves-light buttonBN regNrmS4BN center checkHeight" type="submit"
                  (click)="personalsave()" name="submit">
                  {{'SUBMIT' | translate}}
                </button>
              </div>

            </div>
            <div class="row"></div>
          </div>
          <div class="col s1 m1 l1 "></div>
        </div>

      </div>

    </li>
    <li>
      <div id="acbns" (click)="bankdetail11()" [ngClass]="!isPanExpanded?'collapsible-header setTitleBN profileDetailBN':
      'collapsible-header setTitleBN profileDetailRedBN'">

        <span class="mrlBN" (click)="bankdetails()">
          <i *ngIf="isPanExpanded" class="material-icons alignMidBN">keyboard_arrow_down</i>
          <i *ngIf="!isPanExpanded" class="material-icons alignMidBN">keyboard_arrow_right</i>

        </span> {{'Business Setting' | translate}}

      </div>
      <div class="paddindfBN collapsible-body" style="display: block;">
        <div class="row">
          <div class="col s1 m1 l1 "></div>
          <div class="col s10 m10 l10">
            <div class="row"></div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN">{{"Upload Your Store Image" |translate}}</span>
              <div class="file-field input-field col s10 offset-s1 m4">
                <img  *ngIf="!storeLogo" class="responsive-img editProdImageBN circle" src="../../assets/shared/images/no-image.png" />
                <div *ngIf="storeLogo && !uploaded" align="left" class="editOverlayBN"> &nbsp;
                    <img class="responsive-img editProdImageBN" src={{uploadsURL}}{{storeLogo}} />
                 <!--  <i class="material-icons editOverlayIconBN">mode_edit</i>&nbsp; --></div>
                 <div *ngIf="uploaded" class="col s12 center">
                  <div class="row"></div>
                  <div class="row"></div>
                  <div class="preloader-wrapper active" >
                    <div class="spinner-layer spinner-red-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="storeLogo && uploaded" align="left" class="editOverlayBN"> &nbsp;
                    <img   class="responsive-img editProdImageBN" src={{uploadsURL}}{{storeLogo}} />
                 <!--  <i class="material-icons editOverlayIconBN">mode_edit</i>&nbsp; --></div>
                <input accept=".jpg, .jpeg, .png" id="uploadImg" type="file" (change)="fileChange($event)">
              </div>


            </div>
            <div class="row busDetails detailBodyBN mrgnBn">
                <span class="col s12 heBN">{{"Upload Your Banner Image" |translate}}</span>
                <div class="file-field input-field col s10 offset-s1 m4">
                  <img  *ngIf="!uploadbannnerURL
                  " class="responsive-img editProdImageBN circle" src="../../assets/shared/images/no-image.png" />
                  <div *ngIf="uploadbannnerURL && !uploading" align="left" class="editOverlayBN"> &nbsp;
                      <img class="responsive-img editProdImageBN" src={{uploadsURL}}{{uploadbannnerURL}} />
                   <!--  <i class="material-icons editOverlayIconBN">mode_edit</i>&nbsp; --></div>
                   <div *ngIf="uploading" class="col s12 center">
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="preloader-wrapper active" >
                      <div class="spinner-layer spinner-red-only">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="uploadbannnerURL && uploading" align="left" class="editOverlayBN"> &nbsp;
                      <img   class="responsive-img editProdImageBN" src={{uploadsURL}}{{uploadbannnerURL}} />
                   <!--  <i class="material-icons editOverlayIconBN">mode_edit</i>&nbsp; --></div>
                  <input accept=".jpg, .jpeg, .png" id="uploadImg" type="file" (change)="bannerChange($event)">
                </div>
  
  
              </div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN">{{"Store Name (Brand name)" |translate}}</span>
              <div class="input-field col col s12 m5 l5 regNrmS4BN">
                <input id="DisplayName" name="DisplayName" type="text" class="inputboxBN inputBN  validate" placeholder="{{'Enter Store Name' | translate}}"
                  [(ngModel)]="user.displayName" (keyup)="validaatedisplay()" />
                <span *ngIf="errdisplayvalidate" class="errNrmS6BN">{{errordisplay}}</span>
              </div>

            </div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN">{{"Store URL" |translate}}</span>
              <div class="input-field col col s10 m5 l5 regNrmS4BN">
                <input id="DisplayName" name="DisplayName" type="text" class="inputboxBN inputBN  validate" placeholder="{{'Enter Store URL' | translate}}"
                  [(ngModel)]="businesspro.storeUrl" (keyup)="storeurl()"/>
              
              <span *ngIf="storeerr" class="errNrmS6BN">{{"Special character is not allowed!"}}</span>
            </div>
            <div class="input-field col s2 m5 l5 regNrmS4BN">
              
          </div>
          </div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN">{{"Business Name" |translate}}</span>
              <div class="input-field col col s12 m5 l5 regNrmS4BN">
                <input id="businessName" name="businessName" type="text" class="inputboxBN inputBN validate" placeholder="{{'Enter Business Name' | translate}}"
                  [(ngModel)]="businesspro.businessName" (keyup)="validatebusiness()" />
                <span *ngIf="errbusinessvalidate" class="errNrmS6BN">{{errorbusiness}}</span>
              </div>


            </div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <span class="col s12 regNrmS5B2BN">{{'Business Address' |translate}}</span>
              <div class="input-field  col col s12 m5 l5 regNrmS4BN">
                <input id="BusinessAddress" name="BusinessAddress" type="text" placeholder="{{'Enter Business Address' | translate}}" class="inputboxBN inputBN validate"
                  [(ngModel)]="businesspro.address" />

              </div>

            </div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN">{{'Pin Code' |translate}}</span>
              <div class="input-field col col s12 m5 l5 regNrmS4BN">
                <input id="pincode" name="pincode" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="inputboxBN inputBN  validate"
                  maxlength="6" placeholder="{{'Enter Pin Code' | translate}}" [(ngModel)]="businesspro.pincode" (keyup)="savepincode()"
                />
                <span class="errNrmS6BN" *ngIf="errpincodevalidate">{{ errorpincode | translate}}</span>

              </div>

            </div>
            <div class="row"></div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <div class="input-field col s12 m12 l12 center regNrmS4BN">
                <button [disabled]="!hasAllFields1()" class="btn waves-effect waves-light buttonBN regNrmS4BN center checkHeight" type="submit"
                  (click)="businesssave()" name="submit">
                  {{'SUBMIT' | translate}}
                </button>
              </div>

            </div>
            <div class="row"></div>
            <div class="row"></div>
          </div>
          <div class="col s1 m1 l1 "></div>
        </div>
      </div>
    </li>
   
    <li>
      <div id="acbn" (click)="accountdetail1()" [ngClass]="!isBusExpanded?'collapsible-header setTitleBN profileDetailBN':
      'collapsible-header setTitleBN profileDetailRedBN'">

        <span class="mrlBN" (click)="accountdetail()">
          <i *ngIf="isBusExpanded" class="material-icons alignMidBN">keyboard_arrow_down</i>
          <i *ngIf="!isBusExpanded" class="material-icons alignMidBN">keyboard_arrow_right</i>

        </span> {{'PAN Setting' | translate}}

      </div>
      <div class="paddindfBN collapsible-body" style="display: block;">
        <div class="row">
          <div class="col s1 m1 l1 "></div>
          <div class="col s10 m10 l10">
            <div class="row"></div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN ">{{'Your PAN Number' |translate}}</span>
              <div class="input-field col col s12 m5 l5 regNrmS4BN">
                <input id="PANNumber" name="PANNumber" type="text" class="pr1BN inputboxBN inputBN validate" placeholder="{{'Enter PAN Number'|translate}}"
                  [(ngModel)]="accountpro.panNumber" (keyup)="validatePAN()" />
                <span class="errNrmS6BN" *ngIf="errpancard">{{ errorpanmsg | translate}}</span>
              </div>

            </div>
            <div class="row"></div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <div class="input-field s12 m12 l12 center regNrmS4BN">
                <button [disabled]="!hasAllFields2()" class="btn waves-effect waves-light buttonBN regNrmS4BN center checkHeight" type="submit"
                  (click)="saveaccount() " name="submit">
                  {{'SUBMIT' | translate}}
                </button>
              </div>

            </div>
          </div>
          <div class="col s1 m1 l1 "></div>
        </div>
      </div>
    </li>
    <li>
      <div id="bnkset" (click)="bankdetail1()" [ngClass]="!isNgoExpanded?'collapsible-header setTitleBN profileDetailBN':
      'collapsible-header setTitleBN profileDetailRedBN'">
        <span class="mrlBN" (click)="bankdetail()">
          <i *ngIf="isNgoExpanded" class="material-icons alignMidBN">keyboard_arrow_down</i>
          <i *ngIf="!isNgoExpanded" class="material-icons alignMidBN">keyboard_arrow_right</i>

        </span> {{'Bank Setting' | translate}}
      </div>
      <div class="paddindfBN collapsible-body" style="display: block;">
        <div class="row">
          <div class="col s1 m1 l1 "></div>
          <div class="col s10 m10 l10">
            <div class="row"></div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN ">{{"Account Holder's Name" |translate}}</span>
              <div class="input-field col col s12 m5 l5 regNrmS4BN inputBN">
                <input id="accountholdername" name="accountholdername" type="text" placeholder="Enter Account Holder's Name" class=" inputboxBN validate"
                  (keyup)="UpCase(accountpro.accountHolderName)" [(ngModel)]="accountpro.accountHolderName" />

              </div>

            </div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN">{{'Account Number' |translate}}</span>
              <div class="input-field col col s12 m5 l5 regNrmS4BN">
                <input id="accountnumber" name="accountnumber" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  placeholder="{{'Enter Account Number' | translate}}" class="inputboxBN validate" [(ngModel)]="accountpro.accountRefNumber"
                  (keyup)="Accountno()" />
                <span class="errNrmS6BN" *ngIf="err">{{errmsg | translate}}</span>
              </div>

            </div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN">{{'Confirm Account Number' | translate}}</span>
              <div class="input-field col col s12 m5 l5 regNrmS4BN">
                <input id="conaccountnumber" name="conaccountnumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="{{'Enter Account Number' | translate}}"
                  type="text" class="inputboxBN validate" [(ngModel)]="conaccountnumber" (keyup)="Accountno1()" />
                <span class="errNrmS6BN" *ngIf="err1">{{errmsg1 | translate}}</span>
              </div>

            </div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN">{{'Bank IFSC' |translate}}</span>
              <div class="input-field col col s12 m5 l5 regNrmS4BN">
                <input id="IFSC" name="businessEntityName" type="text" placeholder="{{'Enter IFSC'| translate}}" class="pr1BN inputboxBN validate"
                  [(ngModel)]="accountpro.ifsc" (keyup)="validateifsc()" />
                <span class="errNrmS6BN" *ngIf="errvalidate">{{errorifsc | translate}}</span>
              </div>

            </div>
            <div class="row"></div>
            <div class="row busDetails detailBodyBN mrgnBn">
              <div class="input-field s12 m12 l12 center regNrmS4BN">
                <button [disabled]="!hasAllFields4()" class="btn waves-effect waves-light buttonBN regNrmS4BN center checkHeight" type="submit"
                  name="submit" (click)="banksaveaccount()">
                  {{'SUBMIT' | translate}}
                </button>
              </div>

            </div>
            <div class="row"></div>
            <div class="row"></div>
          </div>
          <div class="col s1 m1 l1 "></div>
        </div>
      </div>
    </li>
    <li>
      <div id="gstbn" (click)="gstdetail1()" [ngClass]="!isgstExpanded?'collapsible-header setTitleBN profileDetailBN':
      'collapsible-header setTitleBN profileDetailRedBN'">

        <span class="mrlBN" (click)="gstdetail()">
          <i *ngIf="isgstExpanded" class="material-icons alignMidBN">keyboard_arrow_down</i>
          <i *ngIf="!isgstExpanded" class="material-icons alignMidBN">keyboard_arrow_right</i>

        </span> {{'GST Setting' | translate}}
      </div>
      <div class="paddindfBN collapsible-body" style="display: block;">
        <div class="row">
          <div class="col s1 m1 l1 "></div>
          <div class="col s11 m10 l10">
            <div class="row"></div>
            <div class="row busDetails detailBodyBN">
              <div class="valign-wrapper busDetails detailBodyBN">
                <div class="col col s12 m12 l12 coloBN1 heBN">
                  {{'Is your business registered with GST?' | translate}}
                </div>
                <div class="col s0 m6 l6 coloBN1">

                </div>
              </div>
              <div class="row busDetails detailBodyBN">
                <div class="col s6 m6 l6 regNrmS5B2BN">
                  <input id="test1" name="gst" type="radio" class="with-gap" (click)="setount(true)" />
                  <label for="test1">{{'Yes' | translate}}</label>

                </div>
                <div class="col s6 m6 l6 regNrmS5B2BN">
                  <input id="test2" name="gst" type="radio" class="with-gap" (click)="setount(false)" checked="checked" />
                  <label for="test2">{{'No' | translate}}</label>

                </div>

              </div>
              <div *ngIf="gst">
                <div class="valign-wrapper">
                  <div class="coloBN1 input-field col s12 heBN">
                    {{'GST Number' | translate}}
                  </div>
                </div>
                <div class="row busDetails detailBodyBN">
                  <div class="input-field col s8 l6 m6 regNrmS4BN">
                    <input id="gst" type="text" maxlength="15" name="gst" class="prBN inputboxBN validate margBN" placeholder="{{'Enter your GST Number' | translate}}"
                      [(ngModel)]="businesspro.gstno" (keyup)="validategst(businesspro.gstno)" />
                    <label for="gst" [ngClass]="{active: businesspro.gstno}"></label>
                    <span class="errNrmS6BN" *ngIf="errgstvalidate">{{errorgst | translate}}</span>
                  </div>
                </div>
              </div>
              <div class="row"></div>
              <div class="row busDetails detailBodyBN mrgnBn">
                <div class="input-field col s12 m12 l12 center regNrmS4BN ">
                  <button [disabled]="!hasAllFields5()" class="btn waves-effect waves-light buttonBN regNrmS4BN center checkHeight " type="submit"
                    (click)="gstsave()" name="submit">
                    {{'SUBMIT' | translate}}
                  </button>
                </div>

              </div>
              <div class="row"></div>
              <div class="row"></div>
            </div>
          </div>
          <div class="col s0 m1 l1"></div>

        </div>
      </div>
    </li>

  </ul>
</div>