.mrgnBn {
    margin-bottom: 0px!important;
}
.headingBN {
     font-family: 'Barlow', sans-serif;
    font-size: 12px;
    color:rgba(61,61,61,1);
    font-style: normal;
    text-align: left;
    line-height: 14.4px;
    letter-spacing: 0em;
}
.heBN {
    font-family: 'Barlow', sans-serif;
    font-size: 11pt;
    color:rgba(61,61,61,1);
    font-style: normal;
    text-align: left;
    line-height: 14.4px;
    letter-spacing: 0em;
    font-weight: 600;
}
.itBN{
    font-size: 15pt;
    font-style: italic;
}
.he1BN {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    color:rgba(61,61,61,1);
    font-style: normal;
    text-align: left;
    line-height: 16.8px;
    letter-spacing: 0em;
}
.colaccordBN {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0.5rem 0 1rem 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
     0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.profileDetailBN {
    padding-left: 25px;
    font-family: 'Open Sans', sans-serif; 
    font-size: 12pt;
}
.mrlBN {
     margin-left: 12px;
}
.pr1BN {
    text-transform: uppercase;
}
.checkHeight {
  line-height: 10px!important;
  height: 30px!important;
  font-family: Barlow;
  font-size: 10pt;
  line-height: 12px;
  font-weight: bold;
}
 .paddindfBN {
    padding: 0rem!important;
}
.busDetails {
    padding-top: 12px;
}
.editButBN {
        padding-top: 24px;
}
.prrBN {
    text-transform: capitalize;
}
.inputBN {
    margin: 0 0 8px 0!important;
}
.mrbBN {
    padding-left: 2rem!important;
}

.titleKycBN {
  margin: 0px!important;
  padding-left: 0px!important;
  width: 95%;
}

.noborderdownBN {
    border-bottom: 0px solid #ddd!important; 
}

.profileDetailBN {
    padding-left: 25px;
    font-family: 'Open Sans', sans-serif; 
    font-size: 12pt;
}

.inBN {
    margin-bottom: 20px!important; 
    margin-top: 1rem!important; 
}

.margBN {
    margin-bottom: -2px!important; 
}

.mrleftBN {
    margin-left: 10px!important; 
}
.colsBN {
   color: white;
}