<div class="row"></div>

<div class="row" *ngIf="user && businesspro && accountpro && businessType">

  <ul class="collapsible" data-collapsible="accordion" materialize="collapsible">

    <li>
      <div id="acbns" (click)="bankdetail11()" [ngClass]="!isPanExpanded?'mrbBN collapsible-header setTitleBN profileDetailBN':
      'collapsible-header setTitleBN profileDetailRedBN mrbBN'">
           {{'Business Details' |translate}}
        <span class="col s8 m10 l10" (click)="bankdetails()">
          <img *ngIf="!isPanExpanded" class="right" src = "../../assets/newbiz/imgs/plus@2x.png" style="margin-top:12px"/>
          <img *ngIf="isPanExpanded" class="right" src = "../../assets/newbiz/imgs/minus@2x.png" style="margin-top:12px"/>
          <!--<img  class="right" src = "../../assets/newbiz/imgs/images/check.png" height="18px" width="18px" style="margin-top:12px; margin-right:10px"/>
           -->        
          </span> 

      </div>
      <div class="paddindfBN collapsible-body" style="display: block;">
        <div class="row">   
          <div class="col s12 m12 l12">
            <div class="row">
            <div class="col s12 m12 l12 busDetails detailBodyBN">
              <span class="col s12 heBN">{{'Business Entity Name' | translate}}</span>
              <div class="input-field col s12 m4 l4 regNrmS4BN inputBN">
                <input  name="businessEntityName" type="text" class="pr1BN inputboxBN validate" [(ngModel)]="businesspro.businessName"
                  (keyup)="savebusinesspro()" />
              </div>
              <div class="col s12 m4 l4 regNrmS4BN inputBN">
                <span class="col s12 heBN">{{'Business Type' | translate}}</span>
                <select id="businessType11" name="businesstype" materialize="material_select" class="browser-default dropDownBN validate"
                  [(ngModel)]="businesspro.businessType" (change)="getAndSaveBType()">
                  <option *ngFor="let b of businessType" [ngValue]="b.description"> {{b.description}} </option>
                 </select>

              </div>
              <div class="col s12 m4 l4 regNrmS4BN inputBN">
               <span class="col s12 heBN">{{'Business Category' | translate}}</span>
                <select id="businessCategory" name="businesscategory" materialize="material_select" class="browser-default dropDownBN validate"
                  [(ngModel)]="businesspro.category" (change)="savebusinesspro()">
                                        <option *ngFor="let c of businessCategory" [ngValue]="c.categoryName"> {{c.categoryName}} </option>
                                    </select>

              </div>
            </div>
            <div class="row">
               <div class="col s12 m12 l12 busDetails detailBodyBN">
              <div class="input-field col s12 m4 l4 regNrmS4BN inputBN">
                 <span class="col s12 m8 l8 heBN">{{'Business Address' | translate}}</span>
                <input id="businessAddress" name="businessaddress" type="text" class="inputboxBN validate" [(ngModel)]="businesspro.address"
                  (keyup)="savebusinesspro()" />
              
              </div>

              <div class="input-field col s12 m4 l4 regNrmS4B2BN">
                 <span class="col s12 m8 l8 heBN">{{'Pincode' | translate}}</span>
                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="6" id="pinCode" name="pincode"
                  class="inputboxBN validate" [(ngModel)]="businesspro.pincode" (keyup)="savepincode()" />
                <span class="errNrmS6BN" *ngIf="errpincodevalidate">{{ errorpincode | translate}}</span>
              </div>
               </div>
            </div>

            </div>
            
          </div>
         
        </div>
      </div>
    </li>
    <li>
      <div id="acbn" (click)="accountdetail()" [ngClass]="!isBusExpanded?'mrbBN collapsible-header setTitleBN profileDetailBN':
      'collapsible-header setTitleBN profileDetailRedBN mrbBN'">
 {{'PAN Details' | translate}}
        <span class="col s8 m10 l10" (click)="accountdetail1()">
          <img *ngIf="!isBusExpanded" class="right" src = "../../assets/newbiz/imgs/plus@2x.png" style="margin-top:12px"/>
          <img *ngIf="isBusExpanded" class="right" src = "../../assets/newbiz/imgs/minus@2x.png" style="margin-top:12px"/>
         
          </span> 
      </div>
      <div class="paddindfBN collapsible-body" style="display: block;">
        <div class="row"></div>
           <div class="row">
          <div class="col s12 m12 l12">
            <div class="row">
            <div class=" col s12 m12 l12 busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN ">{{'Your PAN Number' | translate}}</span>
              <div class="input-field  col s12 m6 l6 regNrmS4BN">
                <input id="PANNumber" name="PANNumber" type="text" class="pr1BN inputboxBN inputBN validate" placeholder="Enter PAN Number"
                  [(ngModel)]="accountpro.panNumber" (keyup)="validatePAN()" />
                <span class="errNrmS6BN" *ngIf="errpancard">{{ errorpanmsg | translate}}</span>
              </div>

            </div>
            </div>
          </div>
          
        </div>
      </div>
    </li>
    <li>
      <div id="bnkset" (click)="bankdetail1()" [ngClass]="!isNgoExpanded?'mrbBN collapsible-header setTitleBN profileDetailBN':
      'collapsible-header setTitleBN profileDetailRedBN mrbBN'">
       {{'Bank Details' |translate}}
        <span class="col s8 m10 l10" (click)="bankdetail()">
           <img *ngIf="!isNgoExpanded" class="right" src = "../../assets/newbiz/imgs/plus@2x.png" style="margin-top:12px"/>
          <img *ngIf="isNgoExpanded" class="right" src = "../../assets/newbiz/imgs/minus@2x.png" style="margin-top:12px"/>
        
          </span>
      </div>
      <div class="paddindfBN collapsible-body" style="display: block;">
        <div class="row"></div>
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="row">
            <div class="col s12 m4 l4 busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN ">{{"Account Holder's Name" | translate}}</span>
              <div class="input-field col s12 m10 l10 regNrmS4BN inputBN">
                <input id="accountholdername" name="accountholdername" type="text" placeholder="Enter Account Holder's Name" class=" inputboxBN validate"
                  (keyup)="UpCase(accountpro.accountHolderName)" [(ngModel)]="accountpro.accountHolderName" />

              </div>

            </div>
            <div class="col s12 m4 l4 busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN">{{'Account Number' | translate}}</span>
              <div class="input-field col s12 m10 l10 regNrmS4BN inputBN">
                <input id="accountnumber" name="accountnumber" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  placeholder="Enter Account Number" class="inputboxBN validate" [(ngModel)]="accountpro.accountRefNumber"
                  (keyup)="Accountno()" />

              </div>

            </div>
            <div class="col s12 m4 l4 busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN">{{'Confirm Account Number' | translate}}</span>
              <div class="input-field col s12 m10 l10 regNrmS4BN inputBN">
                <input id="conaccountnumber" name="conaccountnumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Enter Account Number"
                  type="text" class="inputboxBN validate" [(ngModel)]="conaccountnumber" (keyup)="Accountno()" />
                <span class="errNrmS6BN" *ngIf="err">{{errmsg | translate}}</span>
              </div>

            </div>
            <div class="col s12 m4 l4 busDetails detailBodyBN mrgnBn">
              <span class="col s12 heBN">{{'Bank IFSC' |translate}}</span>
              <div class="input-field col s12 m10 l10 regNrmS4BN inputBN">
                <input id="IFSC" name="businessEntityName" type="text" placeholder="{{'Enter IFSC'| translate}}" class="pr1BN inputboxBN validate"
                  [(ngModel)]="accountpro.ifsc" (keyup)="validateifsc()" />
                <span class="errNrmS6BN" *ngIf="errvalidate">{{errorifsc | translate}}</span>
              </div>

            </div>
            
            
            <div class="row"></div>
          </div>
          </div>
          
        </div>
      </div>
    </li>
   

  </ul>
  <div class="row">
    <div class="col s12 | center-align">
      <button class="btn waves-effect waves-light col s6 offset-s3 red regNrmS2BN buttonBN" type="submit" (click)="NGOcompleteRegistration1()"
        name="submit">{{'Submit' | translate}}
       </button>
    </div>
  </div>
</div>