<div materialize>
 
  <nav materialize class="nav categoryupdate">
      <div class="col s6 m6 l6 regNrmS4BN inBN grey center">
        <div class= "row"></div>
        <span class ="col s4 m4 l4 headingBN center">Update business Category</span>
        <div class= "row" ></div>
        <div class = " col s6 m6 l6 center">
        <div class= " col s6 m6 l6  center boxBN"> 
          <span class= "col s2 m4 l2 italicBN center"><i>To be a part of our <b>exclusive contest, win exciting goodies</b> and to become a <b>Star Merchant</b> update your business category now! </i>
          </span>
          
        </div>
          </div>
      </div>
   </nav>
</div>
