<main>
    <div class="row valign-wrapper">
       <div class="col s12 m12 l12 center"><i class="material-icons paymntfailBN">error_outline</i></div>
    </div>
    <div class="row valign-wrapper payf1BN">
        <div class="col s12 m12 l12 center"><span class="paymntBN">Payment Failed</span></div>
    </div>
    <div class="row valign-wrapper payfBN">
        <div class="col s12 m12 l12 center "><span class="regNrmS7BN">-----Transaction could not be completed-----</span></div>
    </div>
    <div class="row">
<!--         <div class="col s12 m12 l12 center"><span class="regNrmS5BN">Reason Goes Here</span></div> -->
    </div>
    <!--<div class="row">
        <div class="col s12 m12 l12 center"><span class="regNrmS5BN">{{pay.error | translate}}</span></div>
    </div>
   
    <div class="row">
        <div class="col s12 m12 l12 center"><span class="paymntBN">{{pay.txnid | translate}}</span></div>
        
    </div>-->
    <div class="row"></div>
    <div class="row"></div>
    <div class="row valign-wrapper">
        <div class="col s2 m2 l4 center"></div>
        <div class="col s8 m8 l4 center regNrmS5B2BN "> You can still pay using another payment method</div>
        <div class="col s2 m2 l4 center"></div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12 center">
            <a target="_self" href="https://merchant.benow.in/mgl" class="btn waves-effect waves-light red regNrmS2BN buttonBN" 
                name="payanother"  >{{'Pay Using Another Method' | translate}}  </a>
        </div>
    </div>
    <div class="row"></div>
</main>