<form (ngSubmit)="addProduct()" #productForm="ngForm">
  <div class="row">
    <div class="valign-wrapper" *ngIf="imgErrMsg">
      <div class="errNrmS6BN col s12 center">{{imgErrMsg | translate}}</div>
    </div>
    <div class="file-field input-field col s10 offset-s1 m4">
      <img *ngIf="!uploading && !hasImage()" class="responsive-img editProdImageBN" src="../../assets/shared/images/no-image.png" />
      <img [ngClass]="uploading ? 'editProdImageBN responsive-img uploadingImageBN displayBN' : 'editProdImageBN responsive-img noDisplayBN'" 
        src="../../assets/ngoconsole/images/output_Zll0Y4.gif" />
      <img *ngIf="!uploading && hasImage()" class="responsive-img editProdImageBN" src={{uploadsURL}}{{newProd.imageURL}} />
      <div *ngIf="!uploading && hasImage()" class="editOverlayBN"> &nbsp;
        <i class="material-icons editOverlayIconBN">mode_edit</i>&nbsp;
      </div>
      <input [disabled]="uploading" accept=".jpg, .jpeg, .png" id="uploadImg" type="file" (change)="fileChange($event)">
    </div>                
    <div class="col s1 hide-on-med-and-up"></div>

    <div class="col s12 m8">
      <div class="col s10 offset-s1 m8 input-field">
        <input  [(ngModel)]="newProd.name" class="validate regNrmS4BN" type="text" name="name" id="name" maxlength="30" required>
        <label for="name" [ngClass]="newProd.name ? 'active regNrmS6IBN' : 'regNrmS4IBN'">{{'Name'| translate}}*</label>
      </div>
      <div class="col s1 hide-on-med-and-up"></div>

      <div class="col s10 offset-s1 m4 input-field">
        <input [(ngModel)]="newProd.price" class="validate regNrmS4BN" type="number" step="0.01" min="0" max="9999999.99" 
            name="price" id="price" required>
        <label for="price" [ngClass]="newProd.price ? 'active regNrmS6IBN' : 'regNrmS4IBN'">{{'Price'| translate}}*</label>
      </div>
      <div class="col s1 hide-on-med-and-up"></div>

  <!--     <div class="col s10 offset-s1 m3 input-field">
        <input  [(ngModel)]="newProd.uom" class="validate regNrmS4BN" type="text" name="uom" id="uom" maxlength="10">
        <label for="uom" [ngClass]="newProd.uom ? 'active regNrmS6IBN truncate' : 'regNrmS4IBN truncate'">{{'UOM'| translate}}</label>
      </div>
      <div class="col s1 hide-on-med-and-up"></div> -->
      
      <div class="col m8 s10 offset-s1 input-field">
        <textarea id="description" name="description" maxlength="150" class="materialize-textarea regNrmS4BN highTextAreaBN"
          [(ngModel)]="newProd.description"></textarea>
        <label for="description" [ngClass]="newProd.description ? 'active regNrmS6IBN' : 'regNrmS4IBN'">
          {{'Description' | translate}}</label>
      </div>
      <div class="col s1 hide-on-med-and-up"></div>
      <div class="col s10 m4 offset-s1" align="right">
          <button *ngIf="!edit" class="btn waves-effect waves-light red regNrmS2BN buttonBN shiftDownBN" type="submit" 
              name="product" [disabled]="!productForm.form.valid || newProd.price <= 0">{{'Add' | translate}}</button>
      </div>
      <div class="col s1 hide-on-med-and-up"></div>
    </div>
  </div>
</form> 