.shiftDownBN {
    margin-top: 30px;
}

.editProdImageBN {
    max-height: 120px;
    max-width: 120px;    
}

.editOverlayBN {
    background-color: white;
    border-radius: 35px;
    font-size: 30px;
    position: relative;
    display: inline;
    left: -30px;
    top: -30px;
}

.editOverlayIconBN {
    display: inline;
    position: relative;
    color: #E53935;
}

.uploadingImageBN {
    height: 120px;
    width: 120px;        
}