.featuredImageBN {
    max-height: 150px;
    max-width: 550px;
}

.error-text {
    font-weight: bold;
    color: red;
}

.alreadyPaidBN {
    line-height: 100pt;
}

.payTitleBN {
    line-height: 60px;
}

.payToPayBN {
    line-height: 30px;
}

.qrImgBN {
    height: 230px;
}

.qrImgSmallBN {
    height: 180px;
}

.qrLine1BN {
    line-height: 25px;
}

.accBtnBN {
    padding: 0px;
}

.waccBtnBN {
    padding-left: 3px;
    padding-right: 6px;
    padding-top: 2px;
}

.ccBtnBN {
    text-transform: none;
}

.bitUpBN {
    margin-top: -3px; 
}

.alertTextBN {
    color: #E53935;
}

.codIconBN {
    color: #E53935;
    font-size: 20pt;
    padding-left: 16px;
}

.breakdownBN {
    font-size: 32pt;
}