.greyBGBN {
    background-color: #EDECEA;
}

.linkPaddingBN {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.width90BN {
    width: 90px!important;
}

.width60BN {
    width: 60px!important;
}

.maxWidthInptBN {
    width: 200px!important;
}

.allContentBN {
    max-width: 550px;
}
.padsdBN{
    padding-top: 12px!important;
}
.modlBN{
height: 60%!important;
width: 33%!important;
}
