.mainBodyBN{
  font-family: Barlow;
  font-size: 12pt;
  line-height: 14px;
}
.maiBN{
  font-family: Barlow;
  font-size: 11pt;
  color: black;
}

.noLeftPaddingBN{
  padding-left: 0px!important;
}

.dashboardRedirectBN{
  color: #E53935;
  font-weight: bold;
}

.searchBorderBN{
  border: 1px solid grey;
  border-radius: 43px;
}
.colrnewBN{
  color:white!important;
  font-size: 10pt!important;
}
.roundBorderMainBN{
  border: 1px solid;
  border-color: rgb(204,204,204);
  border-radius: 10px;
  margin-bottom: 20px;
}
.titleBN{
  font-family: Barlow;
  font-size: 14pt;
  line-height: 17px;
  color: rgb(61,61,61);
  margin-top: 10px;
  font-weight: bold;
}

.inputjBN{
  width: 65%!important;
  height: 13%!important;
  background-color: #f2f2f2!important;
  border: #f2f2f2!important;
  padding: 10px!important;
  margin:0px!important;
  text-transform:lowercase!important;
}
.bojrderBN{
  border:1px solid #f5f5f5;
}


.searchIconBN{
  padding-top: 8px;
}
.copyBN{
  color:black;
}

.searchBN{
  margin: 0px!important;
  border: 0px solid white!important;
}
.smallerFontBN{
  font-family: Barlow;
  font-size: 10pt!important;
  line-height: 12px!important;
 
  height: 25px;
}
.bderBN{
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.prodBoxBN{
  margin-bottom: 20px;
  /*height: 120px;*/
}

.prodDetailsBN{
  font-size: 10pt!important;
  line-height: 12px!important;
  padding: 0px!important;
  padding-top: 25px!important;
}

.prodTitleBN{
  font-size: 10pt!important;
  line-height: 12px!important;
}

.imageHeightBN{
  height: 100px;
}

.smallGapBN {
  height: 1px;
  margin-bottom: 5px;
}

.pagingBN{
  text-align: right;
  font-size: 10pt!important;
  line-height: 12px!important;
  color: grey;
}

.previousBN{
  color: black!important;
}

.nextBN{
  color: black!important;
}

.prodOptionsBN{
  padding: 0px!important;
}

.onBN{
  color: green;
}

.noMarginPaddingBN{
  margin: 0px!important;
  padding: 0px!important;
}

.typeBN{
  font-size: 13pt!important;
  line-height: 14px!important;
  font-weight: bold;
}

.dottedborderBN{
  border: 2px dotted grey;
  border-radius: 15px;
  background-color: #f2f2f2;
  height: 150px;
}

.checkHeight{
  line-height: 10px!important;
  height: 30px!important;
  font-size: 10pt;
  font-weight: bold;
}

.inputLabelBN{
  font-size: 10pt!important;
  line-height: 12px!important;
}

.labelPLBN{
  color: black!important;
  font-size: 13pt!important;
}

.variantBN{
  border: 1px solid red;
  border-radius: 2px;
  color: red;
  padding: 3px 10px 3px 10px;
  font-weight: bold;
}

.variantTitleBN{
  margin-top: 5px;
  border-bottom: 1px solid #9f9f9f;
  font-weight: bold;
}

.deleteImg{
  color: black;
  background-color: #dddddd;
  float: left;
  border-radius: 15px;
}

.deleteImgSmall{
  color: black;
  background-color: #dddddd;
  float: left;
  border-radius: 10px;
  position: relative;
}

.imgListBN{
  height: 56px;
}

.mainImageBN{
  max-height: 210px!important;
}

.firstImgBN{
  margin: 0px 0px 10px 0px!important;
  padding: 0px!important;
}
.pcBN{
  background-color: none!important;
  width: 244px !important;
  height: 44px;
}
.modlBN{
  width: 297px;
  height: 418px;
  margin-top: 86px;
}
.redcBN{
  color: #E53935;
  font-size: 13pt;
  font-weight: 600;
  font-family: Barlow;
}
.smsBN {
  color: #E53935;
  font-size: 11pt;
  font-family: Barlow;
  padding-top:5px;
}
.title1BN {
  font-family: Barlow;
  font-size: 14pt;
  line-height: 25px;
  color: #e0e0e0;
  margin-top: 10px;
  font-weight: bold;
}
.addBN{
     max-width: 45%!important;
}
.copyBN{
  color:black;
}
.shrtextBN {
  width: 32%!important;
  border: 1px #ddd solid!important;
  border-bottom: 1px #ddd solid!important;
  margin:0px!important;
  padding-left: 10px!important;
  background-color: grey;
  height:2.5rem!important;
}
.shrtextBNM {
  width: 64%!important;
  border: 1px #ddd solid!important;
  border-bottom: 1px #ddd solid!important;
  margin:0px!important;
  padding-left: 10px!important;
  background-color: grey;
  height:2.5rem!important;
}
.subBN{
  margin-left: -4px!important;
  vertical-align: middle!important;
  height:30pt!important;
  height: 40px!important;
  margin-top: -4.5px;
  padding: 0 1rem!important;
  box-shadow: 0px!important;
  margin-right: 15px;
}
.send{
  color:white;
}
.paygBN{
  font-weight:800;
  font-size: 13pt; 
}
.mrgnBN{
  margin-bottom: 0px!important;
}
.mghBN{
  margin-bottom: 10px!important;
}
.checkBN{
 background-color: red!important;
}
.modBN{
  color:grey;
}
.roundBorderMainBN {
  border: 1px solid;
  border-color: rgb(204,204,204);
  border-radius: 10px;
  margin-bottom: 20px;
}
.titleBN {
  font-family: Barlow;
  font-size: 12pt;
  line-height: 17px;
  color: rgb(61,61,61);
  margin-top: 10px;
  font-weight: bold;
}
.smsBN{
  color: green;
  font-size: 10pt;}
  .smsmailBN{
  margin-bottom: 10px;
}
.brdrNB{
  border-bottom: 1px dotted grey;
}
.tpBN{
  background-color: #f2f2f2!important;
    height: 38px;
    padding-top: 6px;
    width: 35px;
    margin-right: -3px;
    padding-left: 7px;
    margin-top: -3px;
}