.mainBodyBN{
  font-family: Barlow;
  font-size: 12pt;
  line-height: 14px;
}

.noLeftPaddingBN{
  padding-left: 0px!important;
}

.dashboardRedirectBN{
  color: #E53935;
  font-weight: bold;
}

.searchBorderBN{
  border: 1px solid grey;
  border-radius: 43px;
}

.searchIconBN{
  padding-top: 8px;
}

.searchBN{
  margin: 0px!important;
  border: 0px solid white!important;
}

.prodBoxBN{
  margin-bottom: 20px;
  /*height: 120px;*/
}

.prodDetailsBN{
  font-size: 10pt!important;
  line-height: 12px!important;
  padding: 0px!important;
  padding-top: 25px!important;
}

.prodTitleBN{
  font-size: 10pt!important;
  line-height: 12px!important;
}

.imageHeightBN{
  height: 100px;
}

.smallGapBN {
  height: 1px;
  margin-bottom: 5px;
}

.pagingBN{
  text-align: right;
  font-size: 10pt!important;
  line-height: 12px!important;
  color: grey;
}

.previousBN{
  color: black!important;
}

.nextBN{
  color: black!important;
}

.prodOptionsBN{
  padding: 0px!important;
}

.onBN{
  color: green;
}

.noMarginPaddingBN{
  margin: 0px!important;
  padding: 0px!important;
}

.typeBN{
  font-size: 13pt!important;
  line-height: 14px!important;
  font-weight: bold;
}

.dottedborderBN{
  border: 2px dotted grey;
  border-radius: 15px;
  background-color: #f2f2f2;
  height: 150px;
}

.checkHeight{
  line-height: 10px!important;
  height: 30px!important;
  font-size: 10pt;
  font-weight: bold;
}

.inputLabelBN{
  font-size: 10pt!important;
  line-height: 12px!important;
}

.labelPLBN{
  color: black!important;
  font-size: 13pt!important;
}

.variantBN{
  border: 1px solid red;
  border-radius: 2px;
  color: red;
  padding: 3px 10px 3px 10px;
  font-weight: bold;
}

.variantTitleBN{
  margin-top: 5px;
  border-bottom: 1px solid #9f9f9f;
  font-weight: bold;
}

.deleteImg{
  color: black;
  background-color: #dddddd;
  float: left;
  border-radius: 15px;
}

.deleteImgSmall{
  color: black;
  background-color: #dddddd;
  float: left;
  border-radius: 10px;
  position: relative;
}

.imgListBN{
  height: 56px;
}

.mainImageBN{
  max-height: 210px!important;
}

.firstImgBN{
  margin: 0px 0px 10px 0px!important;
  padding: 0px!important;
}
.pcBN{
  background-color: none!important;
  width: 244px !important;
  height: 44px;
}
.modlBN{
  width: 297px;
  height: 418px;
  margin-top: 86px;
}
