
<main *ngIf="user ">
    <div class="row" style="margin-top: 0px">
        <div class="col l12 m12 s12">
            <div class="row" style="margin-bottom: 0px">
                <div class="col s12 card-panel buttonBN">
                    <i class="material-icons alignMidBN linkButtonBN" >arrow_back</i>
                    <span class="alignMidBN invHdrS1BN" style="margin-left:10px">{{'Remove Your Limits' | translate}}</span>
                    <a class="linkButtonBN invHdrS1BN right" >
                        <i class="material-icons alignMidBN">close</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="accountProfile">
        <div class="col l1 m1 s0"></div>
        <div class="col l10 m10 s12">
            <ul id="collapsible" data-collapsible="accordion">
                <li class="colaccordBN">
                    <div id="acbns" (click)="bankdetail11()" [ngClass]="!isPanExpanded?'noborderdownBN collapsible-header setTitleBN profileDetailBN':'noborderdownBN collapsible-header setTitleBN profileDetailRedBN'">
                       <span class="alignMidBN titleKycBN">  {{'PAN Details' | translate}}
                       </span>
                        <span (click)="bankdetails()" class="alignMidBN titleLogoBN">
                            <img *ngIf="!isPanExpanded" class="right" src="../../assets/newbiz/imgs/plus@2x.png" style="margin-top:12px" />
                            <img *ngIf="isPanExpanded" class="right" src="../../assets/newbiz/imgs/minus@2x.png" style="margin-top:12px" />
                         </span>
                    </div>
                    <div class="collapsible-body padBN">
                        <div class="row busDetails detailBodyBN">
                            <div class="col s4 m1 l1 coloBN1">
                                {{'PAN' | translate}}
                            </div>
                            <div class="col s6 m11 l11 regNrmS5B2BN">
                                {{accountProfile.panNumber | translate}}
                            </div>

                        </div>
                        <div class="row busDetails detailBodyBN">
                            <div class="col s12 m12 l12 regNrmS5B2BN">
                                {{'Upload photo or scanned copy of your PAN CARD' | translate}}
                            </div>
                        </div>
                        <div class="row busDetails detailBodyBN">
                            <div class="col s12 m12 l12 regNrmS5B2BN brderBN">
                                <span class="col s12 m12 l12"> &nbsp;</span>
                                <span class="col s12 m12 l12 center ">
                                    {{'*Changing PAN details is not permitted. Kindly upload the correct file' | translate}}
                                </span>
                                <span class="col s12 m12 l12"> &nbsp;</span>

                            </div>
                        </div>
                        <div class="row busDetails detailBodyBN">
                            <div class="col s12 m12 l12 center dottedbrderBN regNrmS5B2BN">
                                <!-- <br>{{'DRAG & DROP' | translate}}
                                        <br> {{'Or' | translate}}
                                        <br> -->
                                <div class="center file-field pBN">
                                    <span class="btn waves-effect waves-light red regNrmS2BN buttonBN">
                                        <span>{{'Select File'| translate}}</span>
                                        <input type="file" [disabled]="uploading" accept=".jpg, .jpeg, .png, .pdf" id="uploadauthpan" (change)="uploadauthpan($event)">
                                    </span>
                                    &nbsp;
                                    <span *ngIf="authpanuploaded">{{ filename | translate}}</span>
                                    <img src="../../assets/newbiz/imgs/Green Check Circle.png" class="alignMidBN" *ngIf="authpanuploaded" />

                                    <div class="preloader-wrapper small active alignMidBN" *ngIf="uploading">
                                        <div class="preloader-wrapper small active alignMidBN">
                                        <div class="preloader-wrapper small active alignMidBN">
                                      <div class="preloader-wrapper small active">
                                       <div class="spinner-layer spinner-red-only">
                                         <div class="circle-clipper left">
                                           <div class="circle"></div>
                                         </div><div class="gap-patch">
                                           <div class="circle"></div>
                                         </div><div class="circle-clipper right">
                                           <div class="circle"></div>
                                         </div>
                                       </div>
                                     </div>
                                     </div>
                                     </div>
                                    </div>
                                </div>

                                <br>

                            </div>
                        </div>
                    </div>
                </li>

                <li class="colaccordBN">
                    <div id="acbn" (click)="accountdetail1()" [ngClass]="!isBusExpanded?'collapsible-header noborderdownBN setTitleBN profileDetailBN':' noborderdownBN collapsible-header setTitleBN profileDetailRedBN'">
                       <span class="alignMidBN titleKycBN">  {{'Bank Details' | translate}}
                       </span>
                        <span (click)="accountdetail()" class="alignMidBN titleLogoBN">
                            <img *ngIf="!isBusExpanded" class="right" src="../../assets/newbiz/imgs/plus@2x.png" style="margin-top:12px" />
                            <img *ngIf="isBusExpanded" class="right" src="../../assets/newbiz/imgs/minus@2x.png" style="margin-top:12px" />
                           <!-- <img *ngIf="allbankFields()" class="right" src = "../../assets/newbiz/imgs/check.png" height="18px" width="18px" style="margin-top:12px; margin-right:10px"/>-->
                        </span>

                    </div>
                    <div class="collapsible-body padBN">
                        <div class="row busDetails detailBodyBN">
                            <div class="valign-wrapper busDetails detailBodyBN">
                                <div class="col s6 m6 l6 coloBN1">
                                    {{'Account Holder’s Name' | translate}}
                                </div>
                                <div class="col s6 m6 l6 coloBN1">
                                    {{'IFSC Code' | translate}}
                                </div>

                            </div>
                            <div class="row busDetails detailBodyBN">
                                <div class="col s6 m6 l6 regNrmS5B2BN">
                                    {{ accountProfile.accountHolderName| translate}}
                                </div>
                                <div class="col s6 m6 l6 regNrmS5B2BN">
                                    {{ accountProfile.ifsc | translate}}
                                </div>

                            </div>
                            <div class="valign-wrapper busDetails detailBodyBN">
                                <div class="col s12 m6 l6 coloBN1">
                                    {{'Account Number' | translate}}
                                </div>
                                <div class="col s0 m6 l6 coloBN1">

                                </div>

                            </div>
                            <div class="row busDetails detailBodyBN">
                                <div class="col s12 m6 l6 regNrmS5B2BN">
                                    {{ accountProfile.accountRefNumber | translate}}
                                </div>
                                <div class="col s0 m6 l6 regNrmS5B2BN">

                                </div>

                            </div>
                            <div class="row busDetails detailBodyBN">
                                <div class="col s12 m12 l12 regNrmS5B2BN">
                                    {{'Upload your latest bank statement for the account number' | translate}}
                                </div>
                            </div>
                            <div class="row busDetails detailBodyBN">
                                <div class="col s12 m12 l12 regNrmS5B2BN brderBN">
                                    <span class="col s12 m12 l12"> &nbsp;</span>
                                    <span class="col s12 m12 l12 center ">
                                        {{'Your name address and account number must be clearly visible on the file you upload' | translate}}
                                    </span>
                                    <span class="col s12 m12 l12"> &nbsp;</span>

                                </div>
                            </div>
                            <div class="row busDetails detailBodyBN">
                                <div class="col s12 m12 l12 center dottedbrderBN regNrmS5B2BN">
                                    <!-- <br>{{'DRAG & DROP' | translate}}
                                            <br> {{'Or' | translate}} -->
                                    <br>
                                    <div class="col s12 m12 l12 center file-field pBN">
                                        <span class="btn waves-effect waves-light red regNrmS2BN buttonBN">
                                            <span>{{'Select File'| translate}}</span>
                                            <input type="file" [disabled]="uploading" accept=".jpg, .jpeg, .png, .pdf" id="uploadauthbank" (change)="uploadauthbank($event)">

                                        </span>
                                        &nbsp;
                                        <span *ngIf="authbankuploaded">{{ filename1 | translate}}</span>
                                        <img src="../../assets/newbiz/imgs/Green Check Circle.png" class="alignMidBN" *ngIf="authbankuploaded" />

                                        <div class="preloader-wrapper small active alignMidBN" *ngIf="uploading">
                                            <div class="preloader-wrapper small active alignMidBN">
                                            <div class="preloader-wrapper small active alignMidBN">
                                          <div class="preloader-wrapper small active">
                                           <div class="spinner-layer spinner-red-only">
                                             <div class="circle-clipper left">
                                               <div class="circle"></div>
                                             </div><div class="gap-patch">
                                               <div class="circle"></div>
                                             </div><div class="circle-clipper right">
                                               <div class="circle"></div>
                                             </div>
                                            </div>
                                           </div>
                                          </div>
                                         </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
            <div class="col s12 | center-align">
                <button class="btn waves-effect waves-light col s6 offset-s3 red regNrmS2BN buttonBN" type="submit" (click)="thanksforaccount()"
                    name="submit" [disabled]="!hasAllFields()">{{'Submit' | translate}}
                </button>
            </div>

        </div>
        <div class="col l1 m1 s0"></div>
    </div>
</main>
