<main>
  <div class="row"></div>
  <div class="row">
    <div class="col s1 m3 l3"></div>
    <div class="col s10 m6 l6 regHdr1BN">
      <span class="onlineBP">Online Bill Payment</span>
    </div>
    <div class="col s1 m3 l3"></div>
  </div>
  <div class="row">
    <div class="col s1 m2 l2"></div>
    <div class="col s10 m8 l8 z-depth-2 card-panel grey lighten-5 widgetBN loginLongBN">
      <div class="row"></div>
      <div class="row valign-wrapper">
      </div>
      <form (ngSubmit)="onSubmit()" #custoForm="ngForm">
        <div class="row">
          <div class="valign-wrapper">
            <div class="input-field col s12 m10 offset-m1">
              <input id="Operator" name="Operator" type="text" class="validate regNrmS4BN clrBN" value="Mahanagar Gas- Mumbai" required
                disabled hidden>
            </div>
            <div class="col m1 hide-on-small-only"></div>
          </div>
          <div class="valign-wrapper">
            <div class="input-field col s12 m10 offset-m1">
              <input id="CsmNo" name="csm" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="validate regNrmS4BN "
                maxlength="12" title="please enter a valid 12 digit consumer no." [(ngModel)]="CsmNo" required>
              <label for="CsmNo">Customer Account No. (CA No.)</label>
            </div>
            <div class="col m1 hide-on-small-only"></div>
          </div>
          <div class="valign-wrapper">
              <div class="input-field col s12 m10 offset-m1">
                <input id="mobno" name="mobno" type="tel" class="validate regNrmS4BN " [(ngModel)]="mobno" required>
                <label for="mobno">Customer Mobile No.</label>
              </div>
              <div class="col m1 hide-on-small-only"></div>
            </div>
          <div class="valign-wrapper" *ngIf="hasError">
            <div class="col s12 m10 offset-m1 center errNrmS5BN">{{errorMsg | translate}} </div>
            <div class="col m1 hide-on-small-only"></div>
          </div>
          <div class="valign-wrapper" *ngIf="hasErro">
            <div class="col s12 center m10 offset-m1 errNrmS5BN ccBN">{{erroMsg | translate}}
              <span>{{'Your previous Transaction Reference Number :'}}
                <b>{{tid}}</b>
              </span>
            </div>
            <div class="col m1 hide-on-small-only"></div>
          </div>
        </div>
        <div class="row">
          <div class="valign-wrapper">
            <div class="col s12 m10 offset-m1" align="center">
              <button [disabled]="hasAllRequiredFields()" class="btn waves-effect waves-light regNrmS2BNC buttonBNC" type="submit" name="Proceed">Continue</button>
            </div>
            <div class="col m1 hide-on-small-only"></div>
          </div>
        </div>
      </form>
    </div>
    <div class="col s1 m2 l2"></div>
  </div>
  <!-- <div class="row">
      <div class="col s1 m4 l4"></div>
      <div class="col s10 m4 l4 bhimBN">
        <a (click)="openModelBhimUpi()">What is BHIM UPI ?</a>
      </div>
      <div class="col s1 m4 l4"></div>
  </div> -->
  <div class="row">
      <div class="col s1 m2 l2"></div>
    <div class="col s10 m8 l8 logoCon center">
      <img  src="../../assets/mgl/images/bhim.png" /> &nbsp;&nbsp;
      <img  src="../../assets/mgl/images/bhimaxis.png" /> &nbsp;&nbsp;
      <img  src="../../assets/mgl/images/tlogo.png" /> &nbsp;&nbsp;
      <img  src="../../assets/mgl/images/payhindi.png" /> &nbsp;&nbsp;
      <img  src="../../assets/mgl/images/pay.png" /> &nbsp;&nbsp;
      <img  src="../../assets/mgl/images/logo60.png" /> &nbsp;&nbsp;
    </div>
      <div class="col s1 m2 l2"></div>
  </div>
  <div class="row">

    <div class="col s1 m3 l3"></div>
        <div class="col offset-m1 m6 s10 l6 center-align">
          <span class="poweredBy"> Powered by </span>
        </div>
        <div class="col m1 hide-on-med-and-down"></div>
      <div class="col s1 m3 l3"></div>
  </div>
  <div class="row">
      <div class="col s1 m3 l3"></div>
        <div class="col offset-m1 m6 s10 l6 center-align" >
          <img  style="vertical-align: middle" src="../../assets/mgl/images/axis.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img  style="vertical-align: middle" src="../../assets/mgl/images/pay_safer_shield.png" /> &nbsp;&nbsp;
        </div>
        <div class="col m1 hide-on-med-and-down"></div>
      <div class="col s1 m3 l3"></div>
  </div>
</main>