.ccBN {
    font-size: 11pt;
}

.imags{
    width:50px;
}

.clrBN {
    color:#0171bd!important;
    font-weight: 600;
    font-size: 12pt!important;
}

.proBN {
    color: black!important;
    font-size:13pt;
}
.colrgrey {
    color: grey;
    font-family: 'Open Sans', sans-serif!important;
}
.regHdrS6BN {
    font-size: 10pt;
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 500;
}
.regNrmS2BN1{
    font-size: 11pt!important;
}
.regNrmS2BN {
    font-size: 12pt!important;
}
.reNrmBn{
    position: absolute;
    margin-top: 8pt;
}