<main>
  <div class="row"></div>
  <div class="row">
    <div class="col s1 m2 l4"></div>
    <div class="col s10 m8 l4 z-depth-2 card-panel grey lighten-5 widgetBN loginLongBN">
      <div class="row"></div>
      <div class="row"></div>
      <div class="row valign-wrapper">
        <div class="col s3 m2">
          <img src="../../assets/mgl/images/0.png" class="imags" name="">
        </div>
        <div align="center" class="col s8 m9 regHdrS2BN">Pay your Gas Bill and Get ₹50 Cashback</div>
        <div class="col s1"></div>
      </div>
      <form (ngSubmit)="onSubmit()" #custoForm="ngForm">
        <div class="row">
          <div class="valign-wrapper">
            <div class="input-field col s12 m10 offset-m1">
              <input id="Operator" name="Operator" type="text" class="validate regNrmS4BN clrBN" value="Mahanagar Gas- Mumbai" required disabled>
              <label for="Operator" class="active proBN">Provider</label>
            </div>
            <div class="col m1 hide-on-small-only"></div>
          </div>
          <div class="valign-wrapper">
            <div class="input-field col s12 m10 offset-m1">
              <input id="CsmNo" name="csm" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' 
                class="validate regNrmS4BN " maxlength="12" title="please enter a valid 12 digit consumer no." [(ngModel)]="CsmNo" required>
              <label for="CsmNo">Enter Consumer Number</label>
            </div>
            <div class="col m1 hide-on-small-only"></div>
          </div>
          <div class="valign-wrapper" *ngIf="hasError">
            <div class="col s12 m10 offset-m1 center errNrmS5BN">{{errorMsg | translate}} </div>
            <div class="col m1 hide-on-small-only"></div>
          </div>
          <div class="valign-wrapper" *ngIf="hasErro">
            <div class="col s12 center m10 offset-m1 errNrmS5BN ccBN">{{erroMsg | translate}} 
              <span>{{'Your previous Transaction Reference Number :'}} 
                <b>{{tid}}</b>
              </span>
            </div>
            <div class="col m1 hide-on-small-only"></div>
          </div>
        </div>
        <div class="row">
          <div class="valign-wrapper">
            <div class="col s12 m10 offset-m1" align="center">
              <button [disabled]=" hasAllRequiredFields()" class="btn waves-effect waves-light red regNrmS2BN buttonBN" type="submit" 
                name="Proceed">PROCEED TO PAY BILL</button>
            </div>
            <div class="col m1 hide-on-small-only"></div>
          </div>
        </div>
        <div class="row">
          <div class="valign-wrapper">
            <div class="col offset-m1 m10 s12">
              <span class="regHdrS6BN"> Powered by </span>
              <span style="font-size: 30px;">
                <br />
              </span>
              <img height="30" src="../../assets/mgl/images/safer.png" /> &nbsp;&nbsp;
              <span class="colrgrey reNrmBn">and</span>    &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img height="30" src="../../assets/mgl/images/axis.png" />          
            </div>
            <div class="col m1 hide-on-med-and-down"></div>
          </div>
        </div>        
      </form>
      <div class="row">
          <div class="col m1 l1"></div>

          <div class="col s12 m10 l10 center">
              <a  width="59" height="20" class="linkButtonBN"
              width="78"  onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=https%3A%2F%2Fmerchant.benow.in%2Fmgl%2Fcustomer&display=popup&ref=plugin&src=share_button','', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
              height="50"
              title="Twitter Tweet Button"
              style="border: 0; overflow: hidden; vertical-align:middle;
              padding-right: 10px; ">
              <img src="../../assets/mgl/images/facebook.png" alt="Share on Google+" width="35" height="35"  style="
              border-radius: 17px;
          "/>
             </a>
            <a class="linkButtonBN" style="border: 0; overflow: hidden; vertical-align:middle;
            padding-right: 10px; " href="whatsapp://send" data-text="" data-href=""  style="border: 0; overflow: hidden; vertical-align:middle;
            padding-right: 10px; " class="wa_btn wa_btn_m" ><img src="../../assets/mgl/images/whatsapp.png" width="35" height="35" style="
              border-radius: 17px; 
          "></a>
                 <a class="linkButtonBN" style="border: 0; overflow: hidden; vertical-align:middle;
                 padding-right: 10px; " data-pin-do="buttonPin" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                  href="https://www.pinterest.com/pin/create/button/?url=https://merchant.benow.in/mgl/customer" 
                  data-pin-custom="true"  style="border: 0; overflow: hidden; vertical-align:middle;
                  padding-right: 10px; ">
                  <img src="https://addons.opera.com/media/extensions/55/19155/1.1-rev1/icons/icon_64x64.png" width="35" height="35"  style="
                  border-radius: 17px; 
              "></a> 
                
               <a class="linkButtonBN" style="border: 0; overflow: hidden; vertical-align:middle;
               padding-right: 5px; " href="https://plus.google.com/share?url=https://merchant.benow.in/mgl/customer" 
               onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                <img src="https://www.gstatic.com/images/icons/gplus-64.png" alt="Share on Google+" width="35" height="35"/></a>
                
                <a class="linkButtonBN" style="border: 0; overflow: hidden; vertical-align:middle;
                 " data-pin-do="buttonPin" data-pin-custom="true" onclick="javascript:window.open('https://twitter.com/share?url=https://merchant.benow.in/mgl/customer','', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" 
                ><img src="../../assets/mgl/images/Twitter_Icon.png" alt="Share on Twitter" width="45" height="45"/></a>
        </div>
        <div class="col m1 l1"></div>
      </div>
    </div>
    <div class="col s1 m2 l4"></div>
  </div>
  
</main>