<div class="row">
  <span class="col s12 center-align regHdrS2B3BN">{{'Contact us for support' | translate}}</span>
</div>
<div class="row"></div>
<div class="row valign-wrapper">
  <span class="col s8 l6 offset-s2 offset-l3 valign-wrapper">
    <i class="material-icons greyBN">email</i>
    <a href="mailto:hetal.shah@benow.in"class="regNrmS4BN leftSpaceBN">hetal.shah@benow.in</a>
  </span>
</div>
<div class="row valign-wrapper">
  <span class="col s8 l6 offset-s2 offset-l3 valign-wrapper">
    <i class="material-icons greyBN">phone</i>
    <a href="tel:+917045483417" class="regNrmS4BN leftSpaceBN">{{'+91 - 7045483417' | translate}}</a>
  </span>
</div>