<div class="row whiteFontBN">
  <div class="col s12">&nbsp;</div>
  <div class="col s10 center offset-s1">
    <div class="leftnavBtnBN" [routerLink]="createPaymentLink">
      {{'Create Payment Link' | translate}}
    </div>
  </div>
  <div class="col s1"></div>
  <div class="col s12">&nbsp;</div>
  <div class="col s10 center offset-s1">
    <div class="leftnavBtnBN">
      {{'Create Campaign' | translate}}
    </div>
  </div>
  <div class="col s1"></div>
  <div class="col s12">&nbsp;</div>
  <div class="col s10 center offset-s1">
    <div class="leftnavBtnBN">
      {{'Add Product' | translate}}
    </div>
  </div>
  <div class="col s1"></div>
  <div class="col s12">&nbsp;</div>
  <div class="col s12 separatorBN"></div>
  <div class="col s12">&nbsp;</div>
  <div class="col s12 hoverBN">
    <div class="col s10 offset-s1 linkButtonBN" [routerLink]="createPaymentLink">
      <i class="material-icons leftNavIconBN alignMidBN">link</i>&nbsp;&nbsp;
      <span class="alignMidBN leftNavLinkBN" [routerLink]="'/paymentlist'">{{'Payment Links' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
  <div class="col s12 hoverBN">
    <div class="col s10 offset-s1 linkButtonBN">
      <i class="material-icons leftNavIconBN alignMidBN">drafts</i>&nbsp;&nbsp;
      <span class="alignMidBN leftNavLinkBN">{{'Campaigns' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
  <div class="col s12 hoverBN">
    <div class="col s10 offset-s1 linkButtonBN">
      <i class="material-icons leftNavIconBN alignMidBN">shopping_basket</i>&nbsp;&nbsp;
      <span class="alignMidBN leftNavLinkBN">{{'Product Catalogue' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
  <div class="col s12 hoverBN">
    <div class="col s10 offset-s1 linkButtonBN" [routerLink]="transactionHistory">
      <i class="material-icons leftNavIconBN alignMidBN">history</i>&nbsp;&nbsp;
      <span class="alignMidBN leftNavLinkBN">{{'Transaction History' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
  <div class="col s12 hoverBN">
    <div class="col s10 offset-s1 linkButtonBN">
      <i class="material-icons leftNavIconBN alignMidBN">gavel</i>&nbsp;&nbsp;
      <span class="alignMidBN leftNavLinkBN">{{'Case & Resolution' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
  <div class="col s12 hoverBN">
    <div class="col s10 offset-s1 linkButtonBN">
      <i class="material-icons leftNavIconBN alignMidBN">settings_applications</i>&nbsp;&nbsp;
      <span class="alignMidBN leftNavLinkBN" [routerLink]="'/settings'">{{'Merchant Settings' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
  <div class="col s12 hoverBN">
    <div class="col s10 offset-s1 linkButtonBN">
      <i class="material-icons leftNavIconBN alignMidBN">group</i>&nbsp;&nbsp;
      <span class="alignMidBN leftNavLinkBN">{{'Invite Your Friends' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
  <div class="col s12 hoverBN">
    <div class="col s10 offset-s1 linkButtonBN">
      <i class="material-icons leftNavIconBN alignMidBN">help</i>&nbsp;&nbsp;
      <span class="alignMidBN leftNavLinkBN">{{'Help & Support' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
</div>
