.smallLNGapBN {
    font-size: 8pt;
}

.whiteFontBN {
    color: white;
    font-size: 10pt;
    font-family: 'Barlow', sans-serif;
}

.leftnavBtnBN {
    cursor: pointer;
    border: solid 2px white;
    border-radius: 10.7pt;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 200px;
}

.hoverBN {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.hoverBN:hover {
    background-color: #E53935;
}

.leftnavBtnBN:hover {
    background-color: #E53935;
    border: solid 2px #E53935;
    border-radius: 10.7pt;
}

.selectedLeftNavBtnBN {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 200px;
    background-color: #E53935;
    border: solid 2px #E53935;
    border-radius: 10.7pt;    
}

.separatorBN {
    border-bottom: solid 1px white;
}

.leftNavIconBN {
    font-size: 17pt;
}

.alignMidBN {
    display: inline-flex!important;
    vertical-align: middle!important;    
}

.leftNavLinkBN {
    line-height: 19.4pt;
    letter-spacing: 0 em;
}

.selectedBN {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    outline: 0;
    background-color: #E53935;    
}