<header>
  <nav class="navbar">
    <div class="nav-wrapper valign-wrapper row">
      <div class="col s4 m4 l4 valign-wrapper">
        <img class="responsive-img zgLogo" src="../assets/shared/images/zipgrid.png">
      </div>
      <div class="col s8"> 
        <img class="responsive-img bnImage right" src="../assets/shared/images/safer.png"> 
        <span class="text zgTitle right">Powered by </span>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <footerbar></footerbar>
</footer>