<div class="containerBN | center-align" *ngIf="campaignSummary">
    <div class="row | center-align">
        <div class="col s1 m2 l2 offset-m2 | card hoverable | center-align hidenCardNGOBN">
            <img src="../../assets/ngoconsole/images/donation_console_2x.jpg" class="actionsNGBN responsive-img">
            <p>Hidden card</p>
        </div>
        <div class="col s5 m2 l2 | card hoverable | center-align">
            <img src="../../assets/ngoconsole/images/donation_console_2x.jpg" class="actionsNGBN responsive-img">
            <p>Donation<br>Console</p>
        </div>
        <div class="col s5 m2 l2 | card hoverable | center-align" (click)="onAddDonorClick()">
            <img src="../../assets/ngoconsole/images/add_donors_2x.jpg" class="actionsNGBN responsive-img">
            <p>Add / Manage<br>Donors</p>
        </div>
        <div class="col s5 m2 l2 offset-s1 | card hoverable | center-align" [routerLink]="'/newcampaign'">
            <img src="../../assets/ngoconsole/images/create_campaigns_2x.jpg" class="actionsNGBN responsive-img">
            <p>Create / Manage<br>Campaigns</p>
        </div>
        <div class="col s5 m2 l2 | card hoverable | center-align" (click)=onSocialProfileClick()>
            <img src="../../assets/ngoconsole/images/social_profile_2x.jpg" class="actionsRectNGBN responsive-img">
            <p>Update<br>Social Profile</p>
        </div>
        <div class="col l2"></div>
    </div>

<!--     <div class="row | center">
        <div class="col s4 m4 l4 offset-l1 offset-m1 dividerBN"></div>
        <div class="col s4 m3 l3">
            <img src="../../assets/ngoconsole/images/mastek_foundation.jpg" class="responsive-img">
        </div>
        <div class="col s4 m4 l4 dividerBN"></div>
    </div> -->

    <div class="row | center-align">
        <div class="col s5 m2 l3 offset-l1 offset-s1 | center-align">
            <p class="header-boldBN">Live Campaigns</p>
            <p class="liveBN">{{campaignSummary.campaignCount}}</p>
        </div>
        <div class="col s5 m3 l4 | center-align">
            <p class="header-boldBN">Donation Recvd.</p>
            <p class="donationBN">&#x20b9; {{campaignSummary.fundRaised}}/-</p>
        </div>
        <div class="col s5 m2 l4 offset-s1 | center-align">
            <p class="header-boldBN">Contributors</p>
            <p class="contributorBN">{{campaignSummary.totalContributor}}</p>
        </div>
        <div class="col s11 m11 l11 offset-l1 offset-m1 offset-s1 | center-align | dividerBN"></div>
    </div>

    <div class="row | center-align">
        <div class="col s3 m3 l4 | center-align">
            <p class="header-boldBN">Campaign ID</p>
        </div>
        <div class="col s3 m3 l4 | center-align">
            <p class="header-boldBN">Goal Completed</p>
        </div>
        <div class="col s3 m3 l4 offset-s1 | center-align">
            <p class="header-boldBN">Time Remaining</p>
        </div>
    </div>

    <ul>
        <li *ngFor="let campaign of campaigns">
            <div class="row | center-align">
                <div class="col s3 m3 l3 offset-l1 | left-align">
                    <p>{{campaign.campaignName}}</p>
                </div>
                <div class="col s3 m3 l4 | left-align">
                    <div *ngIf="campaign.progress > 80">
                        <div id="progressBarBN">
                            <div [ngStyle]="{'width': campaign.progress + '%'}" id="progress80BN"></div>
                        </div>
                        <p id="numberBN" class="above80BN valign-wrapper">{{campaign.progress}}%</p>
                    </div>
                    <div *ngIf="campaign.progress > 50 && campaign.progress < 81">
                        <div id="progressBarBN">
                            <div [ngStyle]="{'width': campaign.progress + '%'}" id="progress50BN"></div>
                        </div>
                        <p id="numberBN" class="above50BN">{{campaign.progress}}%</p>
                    </div>
                    <div *ngIf="campaign.progress > 20 && campaign.progress < 51">
                        <div id="progressBarBN">
                            <div [ngStyle]="{'width': campaign.progress + '%'}" id="progress20BN"></div>
                        </div>
                        <p id="numberBN" class="above20BN">{{campaign.progress}}%</p>
                    </div>
                    <div *ngIf="campaign.progress < 21">
                        <div id="progressBarBN">
                            <div [ngStyle]="{'width': campaign.progress + '%'}" id="progressBN"></div>
                        </div>
                        <p id="numberBN" class="below20BN">{{campaign.progress}}%</p>
                    </div>
                </div>
                <div class="col s3 m3 l4 offset-s1 | center-align">
                    <p>{{campaign.expiryDate}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>