<div class="row"></div>
<div class="row errwidgetBN" *ngIf="isEmpty()">
  <div class="col s12 white errPanelBN card-panel z-depth-2" align="center">
    <div class="noitemsBN">{{'Your cart is empty!' | translate}}</div>
    <button class="btn waves-effect waves-light white continuespgBN" *ngIf="homeLink" [routerLink]="homeLink">
      <i class="material-icons backshoppgBN piBN">keyboard_arrow_left</i>&nbsp;&nbsp;{{'Continue Shopping' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;
    </button>
  </div>
</div>
<div class="row" *ngIf="cart && cart.items && !isEmpty()">
  <div class="col s12 center itemPanelBN">
    <img class="hide-on-med-and-up" width="300px" src="../../assets/buy/imgs/SB1300.png" />
    <img class="hide-on-med-and-down" width="900px" src="../../assets/buy/imgs/SB1900.png" />
    <img class="hide-on-large-only hide-on-small-only" width="600px" src="../../assets/buy/imgs/SB1600.png" />
  </div>
  <div class="col s12 m7 l8 ipanelBN">
    <div class="col s12 white itemPanelBN card-panel z-depth-2">
      <div class="row">
        <div class="col s12 ctitleBN coffsetBN">{{'My Cart' | translate}}: {{cart.items.length}} {{'Items' | translate}}</div>
        <div class="col s12 borderBN"></div>       
        <div class="col s12"></div>
        <div class="col s12 padlr30BN">
          <div *ngFor="let item of cart.items; let i = index;">
            <div class="col s12">&nbsp;</div>
            <div class="col s3 m3 l4 itemPanelBN">
              <div class="col s12 cproditemimgctnrBN linkButtonBN itemPanelBN" [routerLink]="getProductlink(item.productId)" align="center">
                <span class="helperBN"></span><img [src]="item.imageURL" class="cprodimgBN responsive-img" />
              </div>
              <div class="col s12 cartprditmqtydivBN itemPanelBN hide-on-med-and-down" align="center">
                <i [ngClass]="item.quantity > 1 ? 'material-icons addremoveBN linkButtonBN' : 'material-icons addremoveBN linkButtonBN hiddeniconBN'"
                  (click)="addQty(item, -1)">remove_circle_outline</i>
                <input class="cartprditmqtyBN" type="number" min="1" step="1" [(ngModel)]="item.quantity" />
                <i class="material-icons addremoveBN linkButtonBN" (click)="addQty(item, 1)">add_circle_outline</i>
              </div>
            </div>
            <div class="col s9 m9 l8">
              <div align="left" class="col s10 m10 l11 cartpitemtitleBN truncate">
                <span [routerLink]="getProductlink(item.productId)" class="linkButtonBN">{{item.name}}</span>
              </div>
              <div class="col s2 m2 l1">
                <i class="material-icons linkButtonBN delcartitemBN" (click)="remove(item)">delete</i>
              </div>
              <div align="left" [ngClass]="!item.color && item.size ? 'col s12 cicolor2BN' : 'col s12 cicolorBN'">
                <span *ngIf="item.color">
                  <span>{{'Color' | translate}}:</span>
                  <span class="linkButtonBN cicnameBN" *ngIf="!isSysColor(item.color)">{{item.color}}</span>
                  <div *ngIf="isSysColor(item.color)" [ngClass]="getColClass(item.color)">
                    <span class="tooltiptext">{{item.color}}</span>
                  </div>&nbsp; &nbsp; &nbsp; &nbsp;    
                </span>
                <span *ngIf="item.size">
                  <span>{{'Size' | translate}}:</span>     
                  <span class="ciccolornameBN linkButtonBN">{{item.size}}</span>
                </span>
              </div>
              <div align="left" class="col s12 cartpitemorpBN truncate">{{'Original Price' | translate}}:
                <span class="cartpitemwmdBN">₹ {{item.origPrice | number : '1.2-2'}}</span>
              </div>
              <div align="left" class="col s12 cartpitemofpBN truncate">{{'Offer Price' | translate}}:
                <span class="cartpitemwmuBN"> ₹ {{item.offerPrice | number : '1.2-2'}}</span>
              </div>
              <div class="offerpriceBN" *ngIf="item.shippingcharge && !chargePerOrder && !freeship">{{'Shipping Charge' | translate}}: 
                  <span class="markupBN"> ₹ {{item.shippingcharge | number : '1.2-2'}}</span>
              </div>
            </div>
            <div class="col s12">
              <div class="col s12 cartprditmqtydivBN itemPanelBN hide-on-large-only" align="center">
                <i [ngClass]="item.quantity > 1 ? 'material-icons addremoveBN linkButtonBN' : 'material-icons addremoveBN linkButtonBN hiddeniconBN'"
                  (click)="addQty(item, -1)">remove_circle_outline</i>
                <input class="cartprditmqtyBN" type="number" min="1" step="1" [(ngModel)]="item.quantity" />
                <i class="material-icons addremoveBN linkButtonBN" (click)="addQty(item, 1)">add_circle_outline</i>
              </div>              
            </div>
            <div class="col s12">&nbsp;</div>
            <div class="col s12 borderBN" *ngIf="i < cart.items.length - 1"></div>
          </div>
        </div>         
      </div>      
    </div>
  </div>
  <div class="col s12 m5 l4 spanelBN">
    <div class="col s12 white itemPanelBN card-panel z-depth-2">
      <div class="row">
        <div class="col s12 ctitleBN coffsetBN">{{'Price Details' | translate}}</div>
        <div class="col s12 borderBN"></div>                
        <div class="col s12">&nbsp;</div>
        <div class="col s12 padlr10BN">
          <div class="col s12 padlr10BN">
            <div class="col s7 carttotalpriceBN">{{'Total Price' | translate}} :</div>
            <div class="col s5 carttotalpriceBN" align="right">₹ {{getTotalPrice() | number : '1.2-2'}}</div>
            <div class="col s7 carttotalpriceBN">{{'Shipping Charge' | translate}} :</div>
            <div class="col s5 carttotalpriceBN" align="right">₹ {{getshippingPrice() | number : '1.2-2'}}</div>
            <div class="col s7 carttotalpriceBN discountgreenBN">{{'Discount' | translate}} :</div>
            <div class="col s5 carttotalpriceBN discountgreenBN" align="right">- ₹ {{getTotalDiscount() | number : '1.2-2'}}</div>
          </div>
          <div class="col s12">&nbsp;</div>
          <div class="col s12 padlr10BN">
            <div class="col s12">
              <div class="borderBN"></div>
            </div>
          </div>
          <div class="col s12 padlr10BN">
            <div class="col s7 l7 m8 carttotalpriceBN medpadright0BN">{{'Amount Payable' | translate}} :</div>
            <div class="col s5 l5 m4 carttotalpriceBN medpadleft0BN" align="right">₹ {{getTotalAmount() | number : '1.2-2'}}</div>              
          </div>
          <div class="col s12 padlr10BN">
            <div class="col s12">
              <div class="borderBN"></div>
            </div>
          </div>
          <div class="col s12 padlr10BN smallFontsBN">
            <div class="col s12"> *{{'Transaction fee applicable as per the payment mode' | translate}}</div>
          </div>
          <div class="col s12">&nbsp;</div>
          <div class="col s12 padlr10BN">
            <button class="col s12 btn waves-effect waves-light red darken-1 placeorderbtnBN" 
              [routerLink]="buyerInfoLink">{{'Place Order' | translate}}</button>
          </div>          
          <div class="col s12">&nbsp;</div>
        </div>
      </div>            
    </div>
    <button class="col s12 white btn waves-effect waves-light continuespgBN" [routerLink]="homeLink">
      <i class="material-icons backshoppgBN piBN">keyboard_arrow_left</i>&nbsp;&nbsp;{{'Continue Shopping' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;
    </button>
  </div>
</div>