<div materialize>
  <div class="row productsTabsBN">
    <div class="col s12 center">
      <ul materialize="tabs" class="col s12 wideWidgetBN  grey lighten-5 productsTabsBN tabs tabs-fixed-width regNrmS4B2BN tabsBN">
        <li *ngIf="products" class="tab col s6 tabBottomBN">
          <a [ngClass]="active == 0 ? 'active tabBN activeTabBN' : 'inactiveTabBN tabBN'" (click)="setActiveTab(0)">{{'Select Products' | translate}}</a>
          <div class="redLineBN" *ngIf="active == 0 && isInitial"></div>
        </li>
        <li [ngClass]="products ? 'tab col s6 tabBottomBN' : 'tab col s12 tabBottomBN'">
          <a [ngClass]="active == 1 ? 'active tabBN activeTabBN' : 'inactiveTabBN tabBN'" (click)="setActiveTab(1)">{{'Add New Products' | translate}}</a>
          <div class="redLineBN" *ngIf="active == 1 && isInitial"></div>
        </li>
        <div [ngClass]="isInitial ? 'indicator transparent' : 'indicator red accent-1'" style="z-index:1"></div>
      </ul>
    </div>    
  </div>
  <div *ngIf="products && active == 0" class="row">
    <div class="col s6 m4 center" *ngFor="let p of products">
      <productwidget [forCart]="false" [editQty]="false" [product]="p" [showDelete]="true"></productwidget> 
    </div>
  </div>
  <div *ngIf="active == 1">
    <addproduct [user]="user"></addproduct>
    <p class="borderBN"></p>
    <div class="row" *ngIf="products">
      <div class="col m4 s6 center" *ngFor="let np of (products | objectfilter:newlyadded)">
        <productwidget [forCart]="false" [editQty]="false" [product]="np" [showDelete]="true"></productwidget> 
      </div> 
    </div>
  </div>
</div>