/*THIS FILE SHOULD BE MODIFIED ONLY BY SHARED*/
/*.picker { outline: none; }*/
.picker__weekday-display { background-color: #AA2725; }
.picker__date-display { background-color: #E53935; }
.picker__nav--prev:hover { background-color: #E6E6E6; }
.picker__nav--next:hover { background-color: #E6E6E6; }
.picker__nav--prev:before {
  border-left: 0;
  border-right: 0.75em solid #E53935;
}
.picker__nav--next:before {
  border-right: 0;
  border-left: 0.75em solid #E53935;
}
.picker__today { color: #E53935; }
.picker__close { color: #E53935; }
.btn-flat.picker__today:active { background-color: #E6E6E6; }
.btn-flat.picker__close:active { background-color: #E6E6E6; }
.btn-flat.picker__clear:active { background-color: #E6E6E6; }
.picker__select--month.browser-default {
  display: inline;
  background-color: #FFFFFF;
  color: #3d3d3d;
  border: none;
  outline: none;
}
.picker__select--year.browser-default {
  display: inline;
  background-color: #FFFFFF;
  color: #3d3d3d;
  border: none;
  outline: none;
}
.picker__day { color: #3d3d3d; }
/*.picker__day:hover { }*/
.picker__day--infocus:hover { color: #E53935; }
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { 
    color: #F5F4F3;
    font-weight: 700;
}
.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted { background-color: #E53935; }
.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted 
{ background-color: #E53935; }
.picker__day.picker__day--today 
{ color: #E53935;
  font-weight: 700; }

.checkbox-red[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #E53935;
    background-color: #E53935;
}

.checkbox-red2[type="checkbox"]:indeterminate+label:before {
    border-right: 2px solid #E53935;
}

.checkBoxLblBN {
    color: #3d3d3d!important;
    font-family: 'Open Sans', sans-serif!important; 
    font-size: 10pt!important;
    top: -15px!important;
}

.buttonBN {
    text-transform: none;
    color: white!important;
    line-height: 50px;
    height: 55px;
    background-color: #E53935!important;
}

.regNrmS1B1BN, .regNrmS2B1BN, .regNrmS3B1BN, .regNrmS4BN, .regNrmS4B3BN, .regNrmS4B2BN, .regNrmS4B1BN, .regNrmS5B2BN, .regNrmS5BN, .regHdrS1BN, 
    .regNrmS7BN, .regHdrS2BN, .regHdrS4B1BN, .regNrmS6B1BN, .regNrmS6BN, .regNrmS2BN, .regNrmS3BN, .regHdrS2B3BN, .regNrmS5B1BN, .greyBN, .regNrmS8BN, 
    .iconPrefixBN, .regNrmS7B1BN, .regNrmS0BN, .regNrmS0B1BN, .regNrmS-1B1BN, .regNrmS4IBN, .regNrmS6IBN {
    color: #3d3d3d;
}

.errHdrS1BN, .errNrmS0BN, .errNrmS1BN, .errNrmS2B1BN, .errNrmS2BN, .errNrmS4B1BN, .errNrmS4B2BN, .errNrmS4BN, .errNrmS5BN, .redBN, .errNrmS6B1BN,
    .errNrmS6BN, .errHdrS2BN, .errNrmS5B2BN, .errorIconBN, .errNrmS2B2BN, .errNrmS1B1BN, .errNrmS6B2BN, .errNrmS5B1BN, .errNrmS8B1BN, .errNrmS-1B1BN,
    .backToDashboardBN {
   color: #E53935;
}

.regHdrS1BN, .errHdrS1BN, .invHdrS1BN {
    font-family: 'Fjalla One', sans-serif; 
    font-size: 16pt;
}

.regHdrS2BN, .errHdrS2BN, .regHdrS2B3BN {
    font-family: 'Fjalla One', sans-serif; 
    font-size: 14pt;
}

.regHdrS4B1BN {
    font-family: 'Fjalla One', sans-serif; 
    font-size: 12pt;    
}

.regNrmS-1B1BN, .errNrmS-1B1BN {
    font-family: 'Open Sans', sans-serif; 
    font-size: 30pt!important;        
}

.errNrmS0BN , .regNrmS0BN, .regNrmS0B1BN{
    font-family: 'Open Sans', sans-serif; 
    font-size: 22pt;    
}

.errNrmS1BN, .regNrmS1B1BN, .errNrmS1B1BN {
    font-family: 'Open Sans', sans-serif; 
    font-size: 16pt;
}

.regNrmS2B1BN, .regNrmS2BN,.regNrmS2B3BN, .errNrmS2B1BN, .errNrmS2BN, .errNrmS2B2BN {
    font-family: 'Open Sans', sans-serif; 
    font-size: 14pt;
}

.regNrmS3B1BN, .regNrmS3BN, .regNrmS3B3BN{
    font-family: 'Open Sans', sans-serif; 
    font-size: 13pt;
}

.regNrmS4BN, .regNrmS4B3BN, .regNrmS4B2BN, .regNrmS4B1BN, .errNrmS4B1BN, .errNrmS4B2BN, .errNrmS4BN {
    font-family: 'Open Sans', sans-serif; 
    font-size: 12pt;
}

.regNrmS4IBN {
    font-family: 'Open Sans', sans-serif!important; 
    font-size: 12pt!important;    
    font-weight: normal!important;
}

.regNrmS6IBN {
    font-family: 'Open Sans', sans-serif!important; 
    font-size: 10pt!important;    
    font-weight: normal!important;    
}

.regNrmS5B2BN, .regNrmS5BN, .errNrmS5BN, .errNrmS5B2BN, .regNrmS5B1BN, .errNrmS5B1BN {
    font-family: 'Open Sans', sans-serif; 
    font-size: 11pt;
}

.errNrmS6BN, .regNrmS6B1BN, .regNrmS6BN, .errNrmS6B2BN, .errNrmS6B1BN {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}

.regNrmS7BN, .regNrmS7B1BN {
    font-family: 'Open Sans', sans-serif; 
    font-size: 9pt;
}

.regNrmS8BN, .errNrmS8B1BN {
    font-family: 'Open Sans', sans-serif; 
    font-size: 7pt;    
}

.errNrmS4B1BN, .errNrmS2B1BN, .regNrmS2B1BN, .regNrmS1B1BN, .regNrmS3B1BN, .regNrmS6B1BN, .regNrmS4B1BN, .regNrmS5B1BN, .errNrmS6B1BN,
    .regHdrS4B1BN, .regNrmS7B1BN, .errNrmS1B1BN, .errNrmS5B1BN, .regNrmS0B1BN, .regNrmS-1B1BN, .errNrmS-1B1BN, .errNrmS8B1BN {
    font-weight: 700;    
}

.errNrmS4B2BN, .regNrmS5B2BN, .regNrmS4B2BN, .errNrmS5B2BN, .errNrmS2B2BN, .errNrmS6B2BN {
    font-weight: 600;
}

.regNrmS4B3BN, .regHdrS2B3BN , .regNrmS2B3BN, .regNrmS3B3BN {
    font-weight: 400; 
}

.linkButtonBN {
    cursor: pointer;
}

.alignMidBN {
    display: inline-flex!important;
    vertical-align: middle!important;    
}

.leftSpaceBN {
    padding-left: 10px;
}

.thinSprtrBN {
    border: none;
    background-color: #EDECEA;
    color: #EDECEA;
    height: 1px;    
}

.dropDownBN, .dropDownFormBN {
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #FFFFFF;
}

.dropDownFormBN {
    background-color: #FAFAFA;
}

.widgetBN {
    border-radius: 3px;
}

.blueBN {
    color: #137ED0;
}

.iconPrefixBN {
    padding-right: 10px;    
}

.noPadsIconBN {
    padding: 0px!important;
}

.tabBN {
    color: #E53935!important;
    text-transform: none; 
    font-size: 11pt!important; 
}

.blackTabBN {
    color: #3d3d3d!important;
    text-transform: none; 
    font-size: 11pt!important;     
}

.noMarginInputBN {
    margin-top: -10px!important;
}

.notifContentBN {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -25px;
}

.notifContentSBN {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -20px;    
}

.accordionBN {
    border: none!important;
    box-shadow: none!important;
}

.accordionHdrExpBN {
    background-color: #b2dfdb;
}

.accordionHdrBN {
    background-color: transparent;
}

.noPadsBN {
    padding: 0px;
    margin-left: -20px;
    margin-bottom: 0px;
}

.noPadsNewBN {
    padding: 0px;
    margin-bottom: 0px;
}

.accordionBodyBN {
    border-bottom: none;
    margin-bottom: 0px;
}

.backToDashboardBN {
    float: left;
}

.tabListBN {
    overflow: hidden;
}

.v2accoBN {
    display: block;
    padding: 0 1rem;
    line-height: 3rem;
}

.v2accoIconBN {
    display: block;
}

.v2accoBodyBN {
    padding: 0px;
}


.uploadBtnBN {
    text-transform: none;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}

.buttonHeightBN {
    height: 45px!important;
}

.orangeBN {
    color: #FF7300;
}

.borderBN {
    border-top: 2px solid #EDECEA; 
}

.accrdBN {
  padding-top: 9px;
}

.accdnBN {    
    padding-bottom: 9px;
    padding-top: 9px;
}

.accordian--content {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 1s ease;
}

.accordian input:checked ~ .accordian--content {
  height: auto;
  opacity: 1;
}

.accordian--inner {
  padding: 11px 30px 1px;
}

.cblblBN {
    color: #3d3d3d;
}

.smallGapBN {
    height: 20px;
}

.workingBN {
    opacity: 0.4;
    cursor: default;
}

.capitalizeBN {
    text-transform: capitalize;    
}

.whiteBN {
    color: #FFFFFF;
}

.wideWidgetBN {
    width: 95%!important;
    margin-left: 10px!important;
}

.tabsBN {
    cursor: pointer;
    background-color: transparent;
}

.tabBottomBN {
    border-bottom: 2px solid #EDECEA;
}

.activeTabBN {
    color: #E53935!important;
}

.inactiveTabBN {
    color: #3d3d3d!important;
}

.prodImageBN {
    max-height: 90px;
    max-width: 80px;
}

.absoluteBN {
    position: absolute;
    padding-left: 80px;
}

.transparentBN {
    color: transparent;
}

.greenBN {
    color:#00897b;
}

.yellowBN {
    color: #ffb300;
}

.cyanBN {
    color: #00acc1;
}

.fullWidthBN {
    width: 100%;
}

.inlineBN {
    display: inline;
    position: relative;
}

.topNavRowPPLBN {
    background-color: #E53935;
    height: 75px;
    padding-top: 18px;
}

.footerStripPPLBN {
    background-color: #3d3d3d;
    height: 100px;
}
