<div class="row whiteFontBN">
  <div [ngClass]="location == 'about' ? 'col s12 selectedBN' : 'col s12 hoverBN linkButtonBN'" (click)="goto('about')">
    <div class="col s10 offset-s1">
      <span class="alignMidBN leftNavLinkBN">{{'About Benow' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
  <div [ngClass]="location == 'contact' ? 'col s12 selectedBN' : 'col s12 hoverBN linkButtonBN'" (click)="goto('contact')">
    <div class="col s10 offset-s1">
      <span class="alignMidBN leftNavLinkBN">{{'Contact Us' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
  <div [ngClass]="location == 'refund' ? 'col s12 selectedBN' : 'col s12 hoverBN linkButtonBN'" (click)="goto('refund')">
    <div class="col s10 offset-s1">
      <span class="alignMidBN leftNavLinkBN">{{'Refund Policy' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
  <div [ngClass]="location == 'report' ? 'col s12 selectedBN' : 'col s12 hoverBN linkButtonBN'" (click)="goto('report')">
    <div class="col s10 offset-s1">
      <span class="alignMidBN leftNavLinkBN">{{'Report Error' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
</div>            
