<div class="row whiteFontBN">
  <div class="col s12 hoverBN linkButtonBN" *ngIf="showStoreHomeLink" (click)="goto('store')">
    <div class="col s10 offset-s1">
      <i class="material-icons  leftNavIconBN alignMidBN">view_module</i>&nbsp;&nbsp;&nbsp;
      <span class="alignMidBN leftNavLinkBN">{{'All Products' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
  <div class="col s12 hoverBN linkButtonBN" (click)="goto('refund')">
    <div class="col s10 offset-s1">
      <i class="material-icons  leftNavIconBN alignMidBN">assignment_returned</i>&nbsp;&nbsp;&nbsp;
      <span class="alignMidBN leftNavLinkBN">{{'Return Policy' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
  <div class="col s12 hoverBN linkButtonBN" *ngIf="showReportErrorLink" (click)="goto('report')">
    <div class="col s10 offset-s1">
      <i class="material-icons  leftNavIconBN alignMidBN">error</i>&nbsp;&nbsp;&nbsp;
      <span class="alignMidBN leftNavLinkBN">{{'Report Error' | translate}}</span>
    </div>
    <div class="col s1"></div>
  </div>
</div>