<div class="row" [routerLink]="productLink">
  <div class="col s12 center pwcBN">
      <span class="helperBN"></span><img [src]="product.imageURL" class="responsive-img prodWidgetImageBN" />
  </div>
  <div class="col s12">&nbsp;</div>
  <div align="left" class="col s12 pwtitleBN truncate">{{product.name}}</div>
  <div align="left" class="col s12 pworpBN truncate">{{'Original Price'}}:
    <span class="pwmdBN">₹ {{product.originalPrice | number : '1.2-2'}}</span>
  </div>
  <div align="left" class="col s12 pwofpBN truncate">{{'Offer Price' | translate}}:
    <span class="pwmuBN"> ₹ {{product.price | number : '1.2-2'}}</span>
  </div>
</div>