<header>
  <mgltopnav></mgltopnav>
</header>
<main>
  <router-outlet>
   
  </router-outlet>
   
   
</main>
<footer>
  <div  class="row">
    <span  class="col s12 center footerRow1BN">
        <a  class="regNrmS6B1BN" href="http://www.benow.in/mglcashbacktc/" target="_blank">Terms and Conditions</a>
        | <a  class="regNrmS6B1BN" href="http://www.benow.in/mglcashbackfaqs/" target="_blank">FAQs</a>
    </span>
    <span  class="col s12 center regNrmS6BN">© 2017-18 Cashless Technologies Pvt. Ltd. All Rights Reserved.</span>
</div>
</footer>