<div materialize>
  <div class="row"></div>
  <div class="row tycontainerBN">
    <div class="col s12 white" *ngIf="id && merchantCode">
      <div class="row"></div>
      <div class="row"></div>
      <div class="row">
        <div class="col s12 center tyBN">{{'Thank You!' | translate}}</div>
      </div>
      <div class="row">
        <div class="col s12 center tyopBN">{{'Your order is successfully placed and your Order Id is' | translate}}
          <b>{{id}}.</b>
        </div>
        <div class="col s12 center tyopBN">{{'Soon you will get an order confirmation message on the mobile number and mail id provided by you.' | translate}}</div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <button class="red darken-1 btn waves-effect waves-light tycntnuBN" [routerLink]="homeLink">{{'Continue Shopping' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>