<p>
BHIM UPI (Unified Payment Interface) is a mobile payment mode that enables you to make instant money transfers directly between two bank accounts. Additionally, you can also make payments to merchants who accept BHIM UPI as a payment mode for transactions.
Immediate money transfer through mobile device round the clock 24*7 and 365 days.
Single mobile application for accessing different bank accounts.
Single Click 2 Factor Authentication – Aligned with the Regulatory guidelines, yet provides for a very strong feature of seamless single click payment.
Virtual address of the customer for Pull & Push provides for incremental security with the customer not required to enter the details such as Card no, Account number; IFSC etc.

Download BHIM
Bharat Interface for Money (BHIM) is a payment app that lets you make simple, easy and quick transactions using Unified Payments Interface (UPI). You can make direct bank payments to anyone on UPI using their UPI ID or scanning their QR with the BHIM app. You can also request money through the app from a UPI ID.
To download BHIM, click on http://bit.ly/2Cpdm4t from your phone’s browser.
</p>
