<div materialize>
  <div materialize="modal" id="prodModal" class="modal modal-fixed-footer productModalBN" [materializeActions]="modalActions">
      <div class="modal-content">
        <addproduct [edit]="true" [user]="user"></addproduct> 
      </div>
    <div class="modal-footer footerHgtBN">
      <div class="col s6 center">
        <a class="btn waves-effect waves-light red regNrmS2BN buttonBN" (click)="cancel()" name="cancel">{{'Cancel' | translate}}</a>            
      </div>
      <div class="col s6 center">
        <button class="btn waves-effect waves-light red regNrmS2BN buttonBN" [disabled]="!enabled()" (click)="save()" 
          name="apply">{{'Save' | translate}}</button>            
      </div>
    </div>
  </div>
  <div [ngClass]="deleting ? 'row hide-on-small-only workingBN' : 'row hide-on-small-only'">
    <div class="col m2 center" align="center">
      <img *ngIf="!product.imageURL && !isNGO()" class="prodImageBN" src="../../assets/shared/images/no-image.png" />
      <img *ngIf="!product.imageURL && isNGO()" class="prodImageBN" src="../../assets/shared/images/donate-green.png" />
      <img *ngIf="product.imageURL" class="prodImageBN" src={{uploadsURL}}{{product.imageURL}} />
    </div>
    <div class="col m5" align="left">
      <span class="col m12 regNrmS5B1BN">{{product.name}}</span>
      <span class="col m12 regNrmS4BN">{{product.description}}</span>
    </div>  
    <div class="col m3" align="right">
      <span class="col m12 regNrmS5B1BN">₹ {{product.price | number : '1.2-2'}}</span>
      <span class="col m12 regNrmS4BN" *ngIf="product.uom">{{'per' | translate}} {{product.uom}}</span>
    </div>  
    <div class="col m2" align="left">
      <span class="col m12" *ngIf="!deleting">
        <i class="material-icons alignMidBN linkButtonBN" (click)="edit()">edit</i>
        <i class="material-icons alignMidBN linkButtonBN" (click)="delete()">delete</i>&nbsp;
      </span>
    </div>  
  </div>
  <div [ngClass]="deleting ? 'row hide-on-med-and-up noPadsIconBN noMarginBN workingBN' : 'row hide-on-med-and-up noPadsIconBN noMarginBN'" 
    align="center">
    <div class="col s12 noPadsIconBN noMarginBN">
      <img *ngIf="!product.imageURL && !isNGO()" class="prodImageBN" src="../../assets/shared/images/no-image.png" />
      <img *ngIf="!product.imageURL && isNGO()" class="prodImageBN" src="../../assets/shared/images/donate-green.png" />
      <img *ngIf="product.imageURL" class="prodImageBN" src={{uploadsURL}}{{product.imageURL}} />
    </div>
    <span class="col s12 thinFNBN">&nbsp;</span>
    <span class="col s12 noPadsIconBN noMarginBN regNrmS5B1BN">{{product.name}}</span>
    <span class="col s12 noPadsIconBN noMarginBN regNrmS4BN">{{product.description}}</span>
    <span class="col s12 thinFNBN">&nbsp;</span>
    <span class="col s12 noPadsIconBN noMarginBN regNrmS5B1BN">₹ {{product.price | number : '1.2-2'}}</span>
    <span class="col s12 noPadsIconBN noMarginBN regNrmS4BN" *ngIf="product.uom">{{'per' | translate}} {{product.uom}}</span>
    <span class="col s12 thinFNBN">&nbsp;</span>
    <span class="col s12 noPadsIconBN noMarginBN" *ngIf="!deleting">
      <i class="material-icons alignMidBN linkButtonBN" (click)="edit()">edit</i>
      <i class="material-icons alignMidBN linkButtonBN" (click)="delete()">delete</i>&nbsp;
    </span>
  </div>
</div>