
<main >
    <div class="row profileBN">
        <div class="col s12" style="margin: 0px">
            <div class="row" style="margin: 0px">
                
                <div class="col l12 m12 s12">
                    <div class="row" style="margin-bottom: 0px">
                        <div class="col s12 card-panel buttonBN1">
                            <i class="material-icons alignMidBN linkButtonBN doneBN" >done</i>
                            <span class="alignMidBN regHdrS2BN" style="margin-left:10px">{{'Thank You!' | translate}}</span>
                            <a class="linkButtonBN right" >
                                <i class="material-icons alignMidBN">close</i>
                            </a>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col l2 m2 s1"></div>
                <div class="col l8 m8 s10 colaccordBN colaccorBN">
                    <span class="col s12 m12 l12 paddhdjBN ">
                        <p>
                            Thanks for submitting your PAN CARD & Bank Statement documents. Our team will review & get back to you shortly, incase we
                            need any further details
                        </p>
                    </span>

                </div>
                <div class="col l2 m2 s1"></div>
            </div>
            <div class="row">
                <div class="col s1 m4 l4| center-align"></div>
                <div class="col s10 m4 l4| center-align">
                    <button class="btn waves-effect waves-light red regNrmS2BN buttonBN" name="submit" type="submit" >
                        Back To Dashboard
                    </button>
                </div>
                <div class="col s1 m4 l4| center-align"></div>
            </div>
        </div>
    </div>
</main>
