<div class="row" *ngIf="pay && loaded">
    <div class="col s12 l4 offset-l4 m6 offset-m3">
        <div class="row"></div>
        <div class="row">
            <div class="col s12 center">
                <img *ngIf="mtype != 2 && !hasProducts" style="max-width: 90px;" class="alignMidBN"
                    src='../../assets/paymentlink/images/paid.png' />
                    <img *ngIf="mtype != 2 && hasProducts" style="max-width: 90px;" class="alignMidBN"
                    src='../../assets/paymentlink/images/ordered.png' />
                <img *ngIf="mtype == 2" class="alignMidBN" style="max-width: 90px;" src='../../assets/paymentlink/images/donated.png' />
                <span class="regNrmS-1B1BN alignMidBN" style="font-size: 25pt!important;">&nbsp;&nbsp;₹ {{pay.amount | number : '1.2-2'}}</span>
            </div>
        </div>
        <div class="row" *ngIf="mtype != 2">
            <div class="valign-wrapper">
                <span class="col s12 center errNrmS5B1BN linkButtonBN" (click)="breakdown()">
                <span class="alignMidBN"> ({{'Breakdown' | translate}})</span><i 
                    class="material-icons redBN alignMidBN breakdownBN">{{getArrowDrop()}}</i>
                </span>
            </div>
            <div *ngIf="break">
                <div class="valign-wrapper">
                    <div class="col s6 regNrmS5B1BN" align="right">{{'Purchase Amount' | translate}}:</div>
                    <div class="col s4 regNrmS5BN" align="right">₹ {{purchaseAmount | number : '1.2-2'}}</div>
                    <div class="col s2">&nbsp;</div>      
                </div>
                <div class="valign-wrapper">
                    <div class="col s6 regNrmS5B1BN" align="right">{{'Convenience Fee' | translate}}:</div>
                    <div class="col s4 regNrmS5BN" align="right">₹ {{convFee | number : '1.2-2'}}</div>
                    <div class="col s2">&nbsp;</div>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col s12">
                <p class="borderBN"></p>
            </div>
            <div class="col s12 center shiftRowUpBN">
                <span class="regHdrS1BN white">&nbsp;&nbsp;&nbsp;&nbsp;{{pay.title}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>
        <div class="row">
            <span *ngIf="mtype != 2 && !hasProducts" class="col s12 center regNrmS4B2BN">{{'Paid Successfully' | translate}}</span>
            <span *ngIf="mtype != 2 && hasProducts" class="col s12 center regNrmS4B2BN">{{'Ordered Successfully' | translate}}</span>
            <!-- <span class="col s12 center regNrmS4B2BN"
                *ngIf="mtype != 2">{{'Paid Successfully Using' | translate}} {{getPaymentModeString(pay.mode) | translate}}</span> -->
            <span *ngIf="mtype == 2" class="col s12 center regNrmS4B2BN">{{'Contributed Successfully' | translate}}</span>
            <!-- <span class="col s12 center regNrmS4B2BN"
                *ngIf="mtype == 2">{{'Contributed Successfully Using' | translate}} {{getPaymentModeString(pay.mode) | translate}}</span> -->
        </div>
        <div *ngIf="mtype == 2" class="row">
            <span class="col s12 center regNrmS4B2BN">{{'Thank you for contributing to' | translate}} {{pay.title}}.
                {{'Your kind support is valued.' | translate}}</span>
        </div>
        <div class="row"></div>
        <div class="row">
            <span class="col s12 center regNrmS4BN">{{'Transaction Id' | translate}}:
                <b>{{pay.txnid | translate}}</b>
            </span>
        </div>
        <div *ngIf="mtype == 2 && merchantmodel" class="row">
          <!--<span class="col s12 center errNrmS4BN">

          </span>-->
          <span class="col s12 center" *ngIf="merchantmodel.auto80GEnabled">
            <a class="errNrmS4BN linkButtonBN" (click)="downloadCertificate()">Click here to download your 80G Receipt</a>
          </span>
        </div>
        <div class="row" *ngIf="products">
            <div class="col s12">
                <div class="col s6 center" *ngFor="let p of products">
                    <productwidget [mtype]="mtype" [forCart]="true" [editQty]="false" [product]="p"></productwidget>
                </div>
            </div>
        </div>
    </div>
</div>
