<div id="promodal" class="modal viewTilModalBN">
    <div class="row"></div>
    <proceedtill #p [tils]="getAllTils()" [user]="user" [keepSignedIn]="keepSignedIn" ></proceedtill> 
</div>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="row">
        <div class="valign-wrapper">
            <div class="input-field col s12 m10 l8 offset-m1 offset-l2">
                <input id="email" name="email" type="text" class="validate regNrmS4BN" required [(ngModel)]="email">
                <label for="email" [ngClass]="{active: email}">{{'Enter your user-ID' | translate}}</label>
            </div>
            <div class="col m1 l2 hide-on-small-only"></div>
        </div>
        <div class="valign-wrapper">
            <div class="input-field col s12 m10 l8 offset-m1 offset-l2">
                <input id="password" name="password" type="password" class="validate regNrmS4BN" required [(ngModel)]="password">
                <label for="password" [ngClass]="{active: password}">{{'Enter your password' | translate}}</label>
            </div>
            <div class="col m1 l2 hide-on-small-only"></div>
        </div>
        <div class="valign-wrapper">
            <div class="input-field col s12 m10 l8 offset-m1 offset-l2">
                <input type="checkbox" class="filled-in checkbox-red" id="keepSignedIn" name="keepSignedIn" [(ngModel)]="keepSignedIn" />
                <label for="keepSignedIn" class="checkBoxLblBN">{{'Keep me signed in' | translate}}</label>
            </div>
            <div class="col m1 l2 hide-on-small-only"></div>
        </div>
        <div class="valign-wrapper" *ngIf="hasError && !loginForm.form.valid">
            <span class="col s12 center-align errNrmS6BN">{{errorMsg | translate}}</span>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col m1 l2 hide-on-small-only"></div>
        <button (click)="p.reset()" class="btn waves-effect waves-light col s5 m4 l4 red regNrmS2BN buttonBN" type="submit" 
            name="signIn" [disabled]="!loginForm.form.valid || !hasAllRequiredFields()">{{'Sign in' | translate}}
            <i class="material-icons right">send</i>
        </button>
        <span class="col s7 m7 l5" align="center">
            <a class="errNrmS5B2BN linkButtonBN" (click)="copyEmail()" [routerLink]="'/verify/2'">{{'Forgot password' | translate}}?</a>
        </span>
        <div class="col l1 hide-on-med-and-down"></div>
    </div>
</form>