<div materialize>
  <div class="fullWidthBN" align="center">
    <div class="maxWidthBN" align="left">
      <div class="row"></div>
      <div class="row">
        <div class="col s12 center regHdrS2BN">
          {{'Donor List' | translate}}
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <i class="material-icons alignMidBN">search</i>
          <input id="searchDonor" placeholder="{{'Search for a donor' | translate}}..." name="searchDonor"
                 class="regNrmS6IBN searchBN"
                 type="text" >
          <button id="search" ></button>
        </div>
      </div>
      <div class="row mCampTitles rowBorderBN">
        <span class="col s1"></span>
        <span class="col s2 regHdrS4B1BN">{{'Donor Name' | translate}}&nbsp;
          <a class="redBN linkButtonBN"><img src="../../assets/shared/images/sort.png" class="alignMidBN"/></a>
        </span>
        <span class="col s2 regHdrS4B1BN">{{'Mobile No.' | translate}}

        </span>
        <span class="col s3 regHdrS4B1BN">{{'Email ID' | translate}}&nbsp;

        </span>
        <span class="col s3 regHdrS4B1BN">{{'Donations Recieved(Value)' | translate}}&nbsp;
          <a class="redBN linkButtonBN"><img src="../../assets/shared/images/sort.png" class="alignMidBN"/></a>
        </span>
        <span class="col s1"></span>
      </div>
      <div class="row"></div>
      <div *ngIf="hasCustomer()" class="row">
        <div *ngFor="let customers of customer; let i = index;" [ngClass]="i%2 == 0? 'adjustBN row greyBackBN':'adjustBN row'">
          <div class="col s1 checko">
            <input type="checkbox" class="filled-in checkbox-red" [id]="customers.customerMobileNumber" name="donorSelect"/>
            <label [for]="customers.customerMobileNumber" class=""></label>
          </div>
          <span class="col s2 regNrmS5BN truncate">
              {{customers.customerName}}
            </span>
          <span class="col s2 regNrmS5BN truncate">
              {{customers.customerMobileNumber}}
            </span>
          <span class="col s3 regNrmS5BN truncate">
              {{customers.customerEmail}}
            </span>
          <span class="col s3 regNrmS5BN truncate">
              {{customers.numDonations}} (₹{{customers.totalDonationAmount}})
            </span>
          <span class="col s1">
              <i class="material-icons alignMidBN" style="padding-right: 10px">edit</i>
              <i class="material-icons alignMidBN">delete</i>
            </span>
        </div>
      </div>
      <div *ngIf="!hasCustomer()" class="row">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
          <span class="col s12 center regNrmS3B1BN">{{'No Customer Found' | translate}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12" align="right">
          <a class="linkButtonBN" (click)="previous()" *ngIf="numPages > 1 && page > 1">
            <i class="material-icons alignMidBN errorIconBN">navigate_before</i>
          </a>
          <span class="errNrmS4B1BN alignMidBN">{{page}} of {{numPages}}</span>
          <a class="linkButtonBN" (click)="next()" *ngIf="numPages > page">
            <i class="material-icons alignMidBN errorIconBN">navigate_next</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
