<div materialize>
  <div materialize="modal" id="productsModal" class="modal modal-fixed-footer successModalBN" [materializeParams]="[{dismissible: false}]"
       [materializeActions]="modalActions">
    <div *ngIf="newProduct" class="row">
      <div class="titleBN col s12 center">
        <img src="../../assets/shared/images/success.png" class="alignMidBN" style="margin-right: 10px"/><span class="alignMidBN"> {{'Product added to Store successfully' | translate}}</span>
      </div>
      <div class="row"></div>
      <div class="col s6">
        <img *ngIf="imageUrls.length < 1" class="right" src="../../assets/shared/images/addproducts2@2x.png" width="80" height="90"/>
        <img *ngIf="imageUrls.length > 0" class="responsive-img imageHeightBN right" src="{{uploadsURL}}{{imageUrls[0].prodImgUrl}}"/>
      </div>
      <div class="col s6 inputTextBN">
        {{newProduct.name}}<br>
        <span *ngIf="newProduct.hasVariants && newProduct.productType == 'Lifestyle'" class="">{{'Variants: '}}{{numVariants}}</span>
        <span *ngIf="newProduct.hasVariants && newProduct.productType == 'FoodAndBeverages'" class="">{{'Add-ons: '}}{{numVariants}}</span>
        <span *ngIf="!newProduct.hasVariants" class="">{{'Price: '}}{{newProduct.price}}</span>
      </div>
    </div>
    <div class="row"></div>
    <button class="col s10 offset-s1 m6 offset-m3 l4 offset-l4 btn waves-effect waves-light buttonBN smallerFontBN center" type="submit" name="create" (click)="done()">
      {{'DONE' | translate}}</button>
  </div>
  <div class="row mainBodyBN" *ngIf="businesspro">
    <form materialize (ngSubmit)="onSubmit()" #prodForm="ngForm">
    <div class="col s12 noLeftPaddingBN">
      <a class="linkButtonBN dashboardRedirectBN" [routerLink]="dashboard">
        <i class="material-icons alignMidBN">arrow_back</i>
        <span class="alignMidBN">{{'Back to Dashboard' | translate}}</span>
      </a>
    </div>
    <div class="row"></div>
    <div class="row busDetails detailBodyBN noMarginPaddingBN">
      <div class="col s6 m6 l2 prodTypeBN noMarginPaddingBN">
        <input id="clothProd" name="prodType" type="radio" class="with-gap" checked="checked" (click)="selectProdType('Lifestyle')" />
        <label for="clothProd">{{'Lifestyle' | translate}}</label>
      </div>
      <div class="col s6 m6 l4 prodTypeBN noMarginPaddingBN">
        <input id="foodProd" name="prodType" type="radio" class="with-gap" (click)="selectProdType('FoodAndBeverages')" />
        <label for="foodProd">{{'Food & Beverages' | translate}}</label>
      </div>
      <div class="col s6 m6 l4 prodTypeBN noMarginPaddingBN">
        <input id="digiProd" name="prodType" type="radio" class="with-gap" (click)="selectProdType('Event')" />
        <label for="digiProd">{{'Event & Workshop' | translate}}</label>
      </div>
      <div class="col s6 m6 l2 prodTypeBN noMarginPaddingBN">
        <input id="otherProd" name="prodType" type="radio" class="with-gap" (click)="selectProdType('Other')" />
        <label for="otherProd">{{'Other' | translate}}</label>
      </div>
    </div>
    <div class="row"></div>
      <div materialize="modal" id="imageModal" class="modal modal-fixed-footer successModalBN" [materializeParams]="[{dismissible: false}]"
           [materializeActions]="modalActions2">
        <div *ngIf="isImageOptimizing()" class="row">
          <div class="col s12 center">
            <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
          </div>
          <div class="col s12">
            <div class="col m3 l3 hide-on-small-only"></div>
            <div class="buttonModalBN linkButtonBN col s5 offset-s1 m3 l3 center" style="margin-right: 5px;" (click)="saveImage()">{{'Confirm' | translate}}</div>
            <div class="buttonModalBN linkButtonBN col s5 m3 l3 center" style="padding: 0px" (click)="closeImgOpti()" >{{'Cancel' | translate}}</div>
            <div class="col m3 l3 hide-on-small-only"></div>
          </div>
        </div>
      </div>
    <div *ngIf="newProduct.productType == 'Lifestyle'" class="col s12">
      <div class="col s12 typeBN">
        {{'Lifestyle' | translate}}
      </div>
      <div class="row"></div>
      <div class="row" >
        <div class="col s12 m5 l5">
          <div class="col s12 inputTextBN noLeftPaddingBN" style="margin-bottom: 10px">
            {{'Product Image' | translate}}
          </div>
          <div class="col s12 firstImgBN">
            <div class="col s10 file-field noMarginPaddingBN">
              <img *ngIf="!uploading && imageUrls.length == 0" src="../../assets/shared/images/add-image.png" class="responsive-img">
              <!-- <div class="row " *ngIf="isError">
                {{fileerrormessage}}
              </div> -->
              <div *ngIf="uploading" class="col s12 center">
                <div class="row"></div>
                <div class="row"></div>
                <div class="preloader-wrapper active" >
                  <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                  </div>
                </div>
              </div>
              <img *ngIf="!uploading && imageUrls.length > 0" class="mainImageBN responsive-img" src={{uploadsURL}}{{imageUrls[0].prodImgUrl}}>
              <input title="Product Image Here" accept=".jpg, .jpeg, .png" id="uploadImg1" type="file"
                     (change)="fileChange($event)" [disabled]="imageUrls && imageUrls.length > 0" />
            </div>
              <div class="col s2 noMarginPaddingBN">
                <div *ngIf="!uploading && imageUrls.length > 0" class="deleteImg linkButtonBN noMarginPaddingBN" (click)="deleteImage(imageUrls[0].prodImgUrl)"><i class="material-icons alignMidBN" style="font-size: 14pt;">close</i></div>
              </div>
          </div>
          <div *ngFor="let img of imageUrls | slice:1" class="col s4 card-panel grey lighten-5 z-depth-1 noMarginPaddingBN">
            <div class="col s11 noMarginPaddingBN center">
              <img class="imgListBN" src={{uploadsURL}}{{img.prodImgUrl}}>
            </div>
            <div class="col s1 noMarginPaddingBN">
              <div class="deleteImgSmall linkButtonBN " (click)="deleteImage(img.prodImgUrl)">
                <i class="material-icons alignMidBN" style="font-size: 10pt;">close</i>
              </div>
            </div>
          </div>
          <div *ngIf="imageUrls && imageUrls.length > 0 && imageUrls.length < 10" class="col s4 noMarginPaddingBN">
            <div class="col s10 file-field input-field noMarginPaddingBN">
              <img *ngIf="!uploading" src="../../assets/shared/images/add-image.png" class="responsive-img">
              <div *ngIf="uploading" class="col s12 center">
                <div class="row"></div>
                <div class="row"></div>
                <div class="preloader-wrapper small active">
                  <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                  </div>
                </div>
              </div>
              <input title="Product Image Here" accept=".jpg, .jpeg, .png" id="uploadImg2" type="file"
                     (change)="fileChange($event)" />
            </div>
          </div>
        </div>
        <div class="col s12 m7 l7">
          <div class="input-field col s12">
            <input id="cTitle" name="cTitle" type="text" [(ngModel)]="newProduct.name" class="validate inputTextBN" maxlength="50"
                   placeholder="{{'Enter the name of your Product' | translate}}" required />
            <label for="cTitle" class ="active labelPLBN">{{'Product Title*' | translate}}</label>
          </div>
          <div class="input-field col s12">
            <input id="cDescription" name="cDescription" type="text" [(ngModel)]="newProduct.description" class="validate inputTextBN"
                   placeholder="{{'Mention important details about your product' | translate}}" maxlength="500" />
            <label for="cDescription" class ="active labelPLBN">{{'Product Description (Optional)' | translate}}</label>
          </div>
          <div class="col s12 inputLabelBN">
            {{'Color*' | translate}}
          </div>
          <div class="col s12">
            <div *ngIf="!newProduct.color" class="chips" materialize="material_chip" [materializeParams]="[colorChip]"
                 (chip.add)="addProdColor($event.detail)">

            </div>
            <div *ngIf="newProduct.color" class="chip" style="margin-top: 10px">
              {{newProduct.color}}
              <i class="close material-icons" (click)="clearProdColor()">close</i>
            </div>
          </div>
          <div class="col s12 inputLabelBN">
            {{'Size (Optional)' | translate}}
          </div>
          <div *ngIf="newProdCheck" class="col s12" style="margin-top: 10px;">
            <div class="chips " materialize="material_chip" [materializeParams]="[sizeChip]" (chip.add)="addProdSize($event.detail)"
                 (chip.delete)="deleteProdSize($event.detail)">

            </div>
          </div>
          <div class="input-field col s6">
            <input id="cPrice" name="cPrice" type="number" [(ngModel)]="newProduct.price" class="validate inputTextBN"
                   placeholder="{{'Product Price' | translate}}" min="0" style="margin-bottom: 10px" (keyup)="checkAmount()" required />
            <label for="cPrice" class ="active labelPLBN">{{'Price*' | translate}}</label>
            <span *ngIf="isAmountLess" class="errNrmS6B2BN">{{'*Min Price: ₹10' | translate}}</span>
          </div>
          <div class="input-field col s6">
            <input id="cDiscountPrice" name="cDiscountPrice" type="number" [(ngModel)]="newProduct.discountedPrice" class="validate inputTextBN"
                   placeholder="{{'Discounted price of the product' | translate}}" style="margin-bottom: 10px" (keyup)="checkAmount()" />
            <label for="cDiscountPrice" class ="active labelPLBN">{{'Discounted Price' | translate}}</label>
            <span *ngIf="discountError" class="errNrmS6B2BN">{{'Improper Discount' | translate}}</span>
          </div>
          <div class="input-field col s12" *ngIf="!businesspro.freeShip && !businesspro.chargePerOrder" >
            <input id="shippingcharge" name="shippingcharge" type="number" [(ngModel)]="newProduct.shippingcharge" class="validate inputTextBN"
                   placeholder="{{'Shipping price of the product' | translate}}" style="margin-bottom: 10px"  />
            <label for="shippingcharge" class ="active labelPLBN">{{'Shipping Charge' | translate}}</label>
          </div>
        </div>
        <div class="row"></div>
        <div class="row">
          <div *ngIf="!newProduct.hasVariants" class="col s12 center" style="margin-top: 10px">
            <span class="">{{'Have more variants? Add here' | translate}}</span>
            <div class="row hide-on-med-and-up" style="margin-top: 10px;"></div>
            <span class="variantBN linkButtonBN" (click)="updateVariants()">
              {{'Add Variant' | translate}}
            </span>
          </div>
          <div *ngIf="newProduct.hasVariants" class="col s12 center" style="margin-top: 10px; font-weight: bold">{{'Variants' | translate}}</div>
        </div>
        <div *ngIf="newProduct.hasVariants" class="hide-on-med-and-up">
          <ul class="col s12 listPLBN collapsible" data-collapsible="accordion" materialize="collapsible" [materializeActions]="variantDec">
            <li *ngFor="let vm of variants; let i = index;" class="col s12 test">
              <div class="collapsible-header">
                <div class="col s12 variantMobTitleBN">
                  <span class="" style="margin-top: 5px;">{{'Variant ' | translate}}{{i+1}}</span>
                  <i class="right linkButtonBN material-icons alignMidBN" (click)="deleteVariant(vm.id)">delete</i>
                </div>
              </div>
              <div class="collapsible-body noMarginPaddingBN">
                <div class="row noLeftPaddingBN">
                  <div class="col s12 noLeftPaddingBN">
                    <div class="col s12 inputLabelBN noLeftPaddingBN">
                      {{'Variant Color' | translate}}
                    </div>
                    <div *ngIf="!vm.color" class="chips noLeftPaddingBN" materialize="material_chip" [materializeParams]="[colorChip]"
                         (chip.add)="addVarColor(vm.id, $event.detail)">

                    </div>
                    <div *ngIf="vm.color" class="chip noLeftPaddingBN" style="margin-top: 10px">
                      {{vm.color}}
                      <i class="close material-icons" (click)="clearVarColor(vm.id)">close</i>
                    </div>
                  </div>
                  <div class="col s12 noLeftPaddingBN">
                    <div class="col s12 inputLabelBN noLeftPaddingBN">
                      {{'Variant Size' | translate}}
                    </div>
                    <div class="chips" materialize="material_chip" [materializeParams]="[sizeChip]" (chip.add)="addVarSize(vm.id, $event.detail)"
                         (chip.delete)="deleteVarSize(vm.id, $event.detail)">

                    </div>
                  </div>
                  <div class="input-field col s5">
                    <input id="{{vm.id}}+price" name="{{vm.id}}+price" type="number" [(ngModel)]="vm.price" class="validate inputTextBN"
                           placeholder="{{'Price of Variant' | translate}}" style="margin-bottom: 0px" (keyup)="checkVarientamount(v.price)"/>
                    <label for="{{vm.id}}+price" class ="active labelPLBN noLeftPaddingBN">{{'Variant Price' | translate}}</label>
                    <span *ngIf="checkVarAmount(vm.id)" class="errNrmS6B2BN">{{'*Min Price: ₹10' | translate}}</span>
                  </div>
                  <div class="input-field col s7">
                    <input id="{{vm.id}}+dprice" name="{{vm.id}}+dprice" type="number" [(ngModel)]="vm.discountedPrice" class="validate inputTextBN"
                           placeholder="{{'Discounted Variant Price' | translate}}" style="margin-bottom: 0px"/>
                    <label for="{{vm.id}}+dprice" class ="active labelPLBN noLeftPaddingBN">{{'Discounted Price' | translate}}</label>
                    <span *ngIf="checkVarDiscount(vm.id)" class="errNrmS6B2BN">{{'Improper Discount' | translate}}</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="row"></div>
          <div class="col s12 center">
              <span class="variantBN linkButtonBN" (click)="addVariant()">
              {{'Add Variant' | translate}}
              </span>
            <div class="row"></div>
            <span class="inputTextBN">{{'To add more variant click here' | translate}}</span>
          </div>
        </div>
        <div *ngIf="newProduct.hasVariants" class="row hide-on-small-only">
          <div *ngFor="let v of variants; let i = index;" class="col s6 card-panel grey lighten-5 z-depth-1 variantBoxBN">
            <div class="col s12 variantTitleBN">
              <span class="" style="margin-top: 5px;">{{'Variant ' | translate}}{{i+1}}</span>
              <i class="right linkButtonBN material-icons alignMidBN" (click)="deleteVariant(v.id)">delete</i>
            </div>
            <div class="col s12 noLeftPaddingBN" style="margin-top: 10px;">
              <div class="col s7 noLeftPaddingBN">
                <div class="col s12 inputLabelBN noLeftPaddingBN">
                  {{'Variant Color' | translate}}
                </div>
                <div *ngIf="!v.color" class="chips noLeftPaddingBN" materialize="material_chip" [materializeParams]="[colorChip]"
                     (chip.add)="addVarColor(v.id, $event.detail)">

                </div>
                <div *ngIf="v.color" class="chip" style="margin-top: 10px">
                  {{v.color}}
                  <i class="close material-icons" (click)="clearVarColor(v.id)">close</i>
                </div>
              </div>
              <div class="input-field col s5">
                <input id="{{v.id}}+price" name="{{v.id}}+price" type="number" [(ngModel)]="v.price" class="validate inputTextBN"
                       placeholder="{{'Price of Variant' | translate}}" style="margin-bottom: 0px" (keyup)="checkVarientamount(v.price)"/>
                <label for="{{v.id}}+price" class ="active labelPLBN noLeftPaddingBN">{{'Variant Price' | translate}}</label>
                <span *ngIf="checkVarAmount(v.id)" class="errNrmS6B2BN">{{'*Min Price: ₹10' | translate}}</span>
              </div>
              <div class="col s12 noLeftPaddingBN">
                <div class="col s12 inputLabelBN noLeftPaddingBN">
                  {{'Variant Size' | translate}}
                </div>
                <div class="chips" materialize="material_chip" [materializeParams]="[sizeChip]" (chip.add)="addVarSize(v.id, $event.detail)"
                       (chip.delete)="deleteVarSize(v.id, $event.detail)">

                </div>
              </div>
              <div class="input-field col s12">
                <input id="{{v.id}}+dprice" name="{{v.id}}+dprice" type="number" [(ngModel)]="v.discountedPrice" class="validate inputTextBN"
                       placeholder="{{'Discounted Variant Price' | translate}}" style="margin-bottom: 0px;"/>
                <label for="{{v.id}}+dprice" class ="active labelPLBN noLeftPaddingBN">{{'Discounted Price' | translate}}</label>
                <span *ngIf="checkVarDiscount(v.id)" class="errNrmS6B2BN">{{'Improper Discount' | translate}}</span>
              </div>
            </div>
          </div>
          <div class="col s6 card-panel grey lighten-5 z-depth-1 right">
            <div class="row"></div>
            <div class="row"></div>
            <div class="col s12 center">
              <span class="variantBN linkButtonBN" (click)="addVariant()">
              {{'Add Variant' | translate}}
              </span>
              <div class="row"></div>
              <span class="inputTextBN">{{'To add more variant click here' | translate}}</span>
            </div>
            <div class="row"></div>
            <div class="row"></div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="newProduct.productType == 'FoodAndBeverages'" class="col s12">
        <div class="col s12 typeBN">
          {{'Food And Beverages' | translate}}
        </div>
        <div class="row"></div>
        <div class="row">
          <div class="col s12 m5 l5">
            <div class="col s12 inputTextBN noLeftPaddingBN" style="margin-bottom: 10px">
              {{'Product Image' | translate}}
            </div>
            <div class="col s12 firstImgBN">
              <div class="col s10 file-field noMarginPaddingBN">
                <img *ngIf="!uploading && imageUrls.length == 0" src="../../assets/shared/images/add-image.png" class="responsive-img">
                <div *ngIf="uploading" class="col s12 center">
                  <div class="row"></div>
                  <div class="row"></div>
                  <div class="preloader-wrapper active">
                    <div class="spinner-layer spinner-red-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                    </div>
                  </div>
                </div>
                <img *ngIf="!uploading && imageUrls.length > 0" class="mainImageBN responsive-img" src={{uploadsURL}}{{imageUrls[0].prodImgUrl}}>
                <input title="Product Image Here" accept=".jpg, .jpeg, .png" id="clothUploadImg" type="file"
                       (change)="fileChange($event)" [disabled]="imageUrls && imageUrls.length > 0" />
              </div>
              <div class="col s2 noMarginPaddingBN">
                <div *ngIf="!uploading && imageUrls.length > 0" class="deleteImg linkButtonBN noMarginPaddingBN" (click)="deleteImage(imageUrls[0].prodImgUrl)"><i class="material-icons alignMidBN" style="font-size: 14pt;">close</i></div>
              </div>
            </div>
            <div *ngFor="let img of imageUrls | slice:1" class="col s4 card-panel grey lighten-5 z-depth-1 noMarginPaddingBN">
              <div class="col s11 noMarginPaddingBN center">
                <img class="imgListBN" src={{uploadsURL}}{{img.prodImgUrl}}>
              </div>
              <div class="col s1 noMarginPaddingBN">
                <div class="deleteImgSmall linkButtonBN " (click)="deleteImage(img.prodImgUrl)">
                  <i class="material-icons alignMidBN" style="font-size: 10pt;">close</i>
                </div>
              </div>
            </div>
            <div *ngIf="imageUrls && imageUrls.length > 0 && imageUrls.length < 5" class="col s4 noMarginPaddingBN">
              <div class="col s10 file-field input-field noMarginPaddingBN">
                <img *ngIf="!uploading" src="../../assets/shared/images/add-image.png" class="responsive-img">
                <div *ngIf="uploading" class="col s12 center">
                  <div class="row"></div>
                  <div class="row"></div>
                  <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-red-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                    </div>
                  </div>
                </div>
                <input title="Product Image Here" accept=".jpg, .jpeg, .png" id="clothUploadImg2" type="file"
                       (change)="fileChange($event)" />
              </div>
            </div>
          </div>
          <div class="col s12 m7 l7">
            <div class="input-field col s12">
              <input id="fbTitle" name="fbTitle" type="text" [(ngModel)]="newProduct.name" class="validate inputTextBN" maxlength="50"
                     placeholder="{{'Enter the name of your Product' | translate}}" required />
              <label for="fbTitle" class ="active labelPLBN">{{'Product Title*' | translate}}</label>
            </div>
            <div class="input-field col s12">
              <input id="fbDescription" name="fbDescription" type="text" [(ngModel)]="newProduct.description" class="validate inputTextBN"
                     placeholder="{{'Mention important details about your product' | translate}}" maxlength="500" />
              <label for="fbDescription" class ="active labelPLBN">{{'Product Description (Optional)' | translate}}</label>
            </div>
            <div class="input-field col s6">
              <input id="fbPrice" name="fbPrice" type="number" [(ngModel)]="newProduct.price" class="validate inputTextBN"
                     placeholder="{{'Product Price' | translate}}" min="0" required style="margin-bottom: 0px" (keyup)="checkAmount()" />
              <label for="fbPrice" class ="active labelPLBN">{{'Price*' | translate}}</label>
              <span *ngIf="isAmountLess" class="errNrmS6B2BN">{{'*Min Price: ₹10' | translate}}</span>
            </div>
            <div class="input-field col s6">
              <input id="fbDiscountPrice" name="fbDiscountPrice" type="number" [(ngModel)]="newProduct.discountedPrice" class="validate inputTextBN"
                     placeholder="{{'Discounted price of the product' | translate}}" style="margin-bottom: 0px" (keyup)="checkAmount()" />
              <label for="fbDiscountPrice" class ="active labelPLBN">{{'Discounted Price' | translate}}</label>
              <span *ngIf="discountError" class="errNrmS6B2BN">{{'Improper Discount' | translate}}</span>
            </div>
            <div class="input-field col s6 " *ngIf="!businesspro.freeShip && !businesspro.chargePerOrder">
              <input id="deliverycharge" name="deliverycharge" type="number" [(ngModel)]="newProduct.shippingcharge" class="validate inputTextBN"
                     placeholder="{{'Shipping price of the product' | translate}}" style="margin-bottom: 0px"  />
              <label for="deliverycharge" class ="active labelPLBN">{{'Delivery Charge' | translate}}</label>
              <span *ngIf="deliverycharg" class="errNrmS6B2BN">{{'Improper Discount' | translate}}</span>
            </div>
          </div>
          <div class="row"></div>
          <!-- <div class="row">
             <div *ngIf="!newProduct.hasVariants" class="col s12 center" style="margin-top: 10px">
              <span class="">{{'Have any Add-ons? Add here' | translate}}</span>
              <div class="row hide-on-med-and-up" style="margin-top: 10px;"></div>
              <span class="variantBN linkButtonBN" (click)="updateVariants()">
              {{'Provide Add-ons' | translate}}
            </span>
            </div>
            <div *ngIf="newProduct.hasVariants" class="col s12" style="border-bottom: 1px solid #dddddd;"></div>
            <div *ngIf="newProduct.hasVariants" class="col s12 center" style="margin-top: 10px; font-weight: bold">{{'Add-ons' | translate}}</div>
          </div>
          <div *ngIf="newProduct.hasVariants" class="hide-on-med-and-up">
            <ul class="col s12 listPLBN collapsible" data-collapsible="accordion" materialize="collapsible" [materializeActions]="variantDec">
              <li *ngFor="let ad of variants; let i = index;" class="col s12 test">
                <div class="collapsible-header">
                  <div class="col s12 variantMobTitleBN">
                    <span class="" style="margin-top: 5px;">{{'Add-on ' | translate}}{{i+1}}</span>
                    <i class="right linkButtonBN material-icons alignMidBN" (click)="deleteVariant(ad.id)">delete</i>
                  </div>
                </div>
                <div class="collapsible-body noMarginPaddingBN">
                  <div class="row noLeftPaddingBN">
                    <div class="col s12 noLeftPaddingBN">
                      <div class="input-field col s12">
                        <input id="{{ad.id}}+name" name="{{ad.id}}+name" type="text" [(ngModel)]="ad.variantCode" class="validate inputTextBN"
                               placeholder="{{'Name of add-on' | translate}}" maxlength="20" required/>
                        <label for="{{ad.id}}+name" class ="active labelPLBN noLeftPaddingBN">{{'Add-on Name*' | translate}}</label>
                      </div>
                      <div class="input-field col s12 ">
                        <input id="{{ad.id}}+desc" name="{{ad.id}}+desc" type="text" [(ngModel)]="ad.variantDesc" class="validate inputTextBN"
                               placeholder="{{'Description of add-on' | translate}}" maxlength="500"/>
                        <label for="{{ad.id}}+desc" class ="active labelPLBN noLeftPaddingBN">{{'Add-on Description' | translate}}</label>
                      </div>
                      <div class="input-field col s5">
                        <input id="{{ad.id}}+price" name="{{ad.id}}+price" type="number" [(ngModel)]="ad.price" class="validate inputTextBN"
                               placeholder="{{'Price of Add-on' | translate}}" style="margin-bottom: 0px" />
                        <label for="{{ad.id}}+price" class ="active labelPLBN noLeftPaddingBN">{{'Add-on Price' | translate}}</label>
                        <span *ngIf="checkVarAmount(ad.id)" class="errNrmS6B2BN">{{'*Min Price: ₹10' | translate}}</span>
                      </div>
                      <div class="input-field col s7">
                        <input id="{{ad.id}}+dprice" name="{{ad.id}}+dprice" type="number" [(ngModel)]="ad.discountedPrice" class="validate inputTextBN"
                               placeholder="{{'Discounted Price' | translate}}" style="margin-bottom: 0px;"/>
                        <label for="{{ad.id}}+dprice" class ="active labelPLBN noLeftPaddingBN">{{'Discounted Price' | translate}}</label>
                        <span *ngIf="checkVarDiscount(ad.id)" class="errNrmS6B2BN">{{'Improper Discount' | translate}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="row"></div>
            <div class="col s12 center">
              <span class="variantBN linkButtonBN" (click)="addVariant()">
              {{'More Add-ons' | translate}}
              </span>
              <div class="row"></div>
              <span class="inputTextBN">{{'To add more add-ons click here' | translate}}</span>
            </div>
          </div>
          <div *ngIf="newProduct.hasVariants" class="row hide-on-small-only">
            <div *ngFor="let a of variants; let i = index;" class="col s6 card-panel grey lighten-5 z-depth-1 variantBoxBN">
              <div class="col s12 variantTitleBN">
                <span class="" style="margin-top: 5px;">{{'Add-on ' | translate}}{{i+1}}</span>
                <i class="right linkButtonBN material-icons alignMidBN" (click)="deleteVariant(a.id)">delete</i>
              </div>
              <div class="col s12 noLeftPaddingBN" style="margin-top: 10px;">
                <div class="input-field col s12">
                  <input id="{{a.id}}+name" name="{{a.id}}+name" type="text" [(ngModel)]="a.variantCode" class="validate inputTextBN"
                         placeholder="{{'Name of add-on' | translate}}" maxlength="20" required/>
                  <label for="{{a.id}}+name" class ="active labelPLBN noLeftPaddingBN">{{'Add-on Name*' | translate}}</label>
                </div>
                <div class="input-field col s12 ">
                  <input id="{{a.id}}+desc" name="{{a.id}}+desc" type="text" [(ngModel)]="a.variantDesc" class="validate inputTextBN"
                         placeholder="{{'Description of add-on' | translate}}" maxlength="500"/>
                  <label for="{{a.id}}+desc" class ="active labelPLBN noLeftPaddingBN">{{'Add-on Description' | translate}}</label>
                </div>
                <div class="input-field col s6">
                  <input id="{{a.id}}+price" name="{{a.id}}+price" type="number" [(ngModel)]="a.price" class="validate inputTextBN"
                         placeholder="{{'Price of Add-on' | translate}}" style="margin-bottom: 0px" required/>
                  <label for="{{a.id}}+price" class ="active labelPLBN noLeftPaddingBN">{{'Add-on Price*' | translate}}</label>
                  <span *ngIf="checkVarAmount(a.id)" class="errNrmS6B2BN">{{'*Min Price: ₹10' | translate}}</span>
                </div>
                <div class="input-field col s6">
                  <input id="{{a.id}}+dprice" name="{{a.id}}+dprice" type="number" [(ngModel)]="a.discountedPrice" class="validate inputTextBN"
                         placeholder="{{'Discounted Price' | translate}}" style="margin-bottom: 0px;"/>
                  <label for="{{a.id}}+dprice" class ="active labelPLBN noLeftPaddingBN">{{'Discounted Price' | translate}}</label>
                  <span *ngIf="checkVarDiscount(a.id)" class="errNrmS6B2BN">{{'Improper Discount' | translate}}</span>
                </div>
              </div>
            </div>
            <div class="col s6 card-panel grey lighten-5 z-depth-1">
              <div class="row"></div>
              <div class="row"></div>
              <div class="col s12 center">
              <span class="variantBN linkButtonBN" (click)="addVariant()">
              {{'More Add-ons' | translate}}
              </span>
                <div class="row"></div>
                <span class="inputTextBN">{{'To add more add-ons click here' | translate}}</span>
              </div>
              <div class="row"></div>
              <div class="row"></div>
            </div>
          </div> -->
        </div>
      </div> 
    <div *ngIf="newProduct.productType == 'Event'" class="col s12">
      <div class="col s12 typeBN">
        {{'Events & Workshop' | translate}}
      </div>
      <div class="row"></div>
      <div class="row">
          <div class="input-field col s12">
            <input id="eTitle" name="eTitle" type="text" [(ngModel)]="newProduct.name" class="validate inputTextBN" maxlength="20"
                   placeholder="{{'Enter the Title of your Event/Workshop' | translate}}" required />
            <label for="eTitle" class ="active labelPLBN">{{'Event Title*' | translate}}</label>
          </div>
          <div class="input-field col s12">
            <input id="eDescription" name="eDescription" type="text" [(ngModel)]="newProduct.description" class="validate inputTextBN"
                   placeholder="{{'Mention important details about your Event/Workshop(Optional)' | translate}}" maxlength="500" />
            <label for="eDescription" class ="active labelPLBN">{{'Description' | translate}}</label>
          </div>
          <div class="input-field col s6">
            <input id="ePrice" name="ePrice" type="number" [(ngModel)]="newProduct.price" class="validate inputTextBN"
                   placeholder="{{'Ticket Price' | translate}}" required style="margin-bottom: 0px" (keyup)="checkAmount()" />
            <label for="ePrice" class ="active labelPLBN">{{'Price*' | translate}}</label>
            <span *ngIf="isAmountLess" class="errNrmS6B2BN">{{'*Min Price: ₹10' | translate}}</span>
          </div>
          <div class="input-field col s6">
            <input id="eDiscountPrice" name="eDiscountPrice" type="number" [(ngModel)]="newProduct.discountedPrice" class="validate inputTextBN"
                   placeholder="{{'Discounted price of the ticket(Optional)' | translate}}" style="margin-bottom: 0px" (keyup)="checkAmount()"  />
            <label for="eDiscountPrice" class ="active labelPLBN">{{'Discounted Price' | translate}}</label>
            <span *ngIf="discountError" class="errNrmS6B2BN">{{'Improper Discount' | translate}}</span>
          </div>
          <div class="row"></div>
          <div class="input-field col s6 m3 l3">
            <input id="fromDt" name="fromDt" type="text" class="datepicker inputTextBN dtpkrBN dateInputBN" materialize="pickadate"
                   [materializeParams]="dateParams" placeholder="{{'Select Start Date' | translate}}" [(ngModel)]="newProduct.startDate" required>
            <label for="fromDt" class="active labelPLBN">{{'Event Start*' | translate}}</label>
          </div>
          <div class="input-field col s6 m3 l3">
            <input id="toDt" name="toDt" type="text" class="datepicker inputTextBN dtpkrBN dateInputBN" materialize="pickadate"
                   [materializeParams]="dateParams" placeholder="{{'Select End Date' | translate}}" [(ngModel)]="newProduct.endDate" >
            <label for="toDt" class="active labelPLBN">{{'Event Ends' | translate}}</label>
          </div>
        <div class="input-field col s6 m3 l3">
          <input id="edurationhrs" name="edurationhrs" type="text" [(ngModel)]="newProduct.durationHours" class="validate inputTextBN"
          placeholder="{{'Enter Duration Hours' | translate}}"  />
          <label for="edurationhrs" class ="active labelPLBN">{{'Duration Hours' | translate}}</label>
        </div>
        <div class="input-field col s6 m3 l3">
          <input id="edurationmin" name="edurationmin" type="text" [(ngModel)]="newProduct.durationMinutes" class="validate inputTextBN"
          placeholder="{{'Enter Duration Minutes' | translate}}"       />
          <label for="edurationmin" class ="active labelPLBN">{{'Duration Minutes' | translate}}</label>
        </div>
        <div class="input-field col s12 m6 l6">
          <input id="eVenue" name="eVenue" type="text" [(ngModel)]="newProduct.venue" class="validate inputTextBN"
                 placeholder="{{'Mention venue of your Event/Workshop' | translate}}" maxlength="200" required />
          <label for="eVenue" class ="active labelPLBN">{{'Venue*' | translate}}</label>
        </div>
          <div class="row"></div>
        <div class="col s12">
            <div class="col s12 inputTextBN noLeftPaddingBN" style="margin-bottom: 10px">
              {{'Product Image' | translate}}
            </div>
            <div *ngFor="let img of imageUrls" class="col s4 card-panel grey lighten-5 z-depth-1 noMarginPaddingBN">
              <div class="col s11 noMarginPaddingBN center">
                <img class="normalImgListBN responsive-img" src={{uploadsURL}}{{img.prodImgUrl}}>
              </div>
              <div class="col s1 noMarginPaddingBN">
                <div class="deleteImgSmall linkButtonBN " (click)="deleteImage(img.prodImgUrl)">
                  <i class="material-icons alignMidBN" style="font-size: 14pt;">close</i>
                </div>
              </div>
            </div>
            <div *ngIf="imageUrls && imageUrls.length < 3" class="col s4">
              <div class="col s10 file-field input-field noMarginPaddingBN">
                <img *ngIf="!uploading" src="../../assets/shared/images/add-image.png" class="responsive-img">
                <div *ngIf="uploading" class="col s12 center">
                  <div class="row"></div>
                  <div class="row"></div>
                  <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-red-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                    </div>
                  </div>
                </div>
                <input title="Product Image Here" accept=".jpg, .jpeg, .png" id="eventUploadImg2" type="file"
                       (change)="fileChange($event)" />
              </div>
            </div>
          </div>
      </div>
    </div>
    <div *ngIf="newProduct.productType == 'Other'" class="col s12">
      <div class="col s12 typeBN">
        {{'Other' | translate}}
      </div>
      <div class="row"></div>
      <div class="row">
        <div class="col s12">
          <div class="col s12 inputTextBN noLeftPaddingBN" style="margin-bottom: 10px">
            {{'Product Image' | translate}}
          </div>
          <div *ngFor="let img of imageUrls" class="col s4 card-panel grey lighten-5 z-depth-1 noMarginPaddingBN">
            <div class="col s11 noMarginPaddingBN center">
              <img class="normalImgListBN responsive-img" src={{uploadsURL}}{{img.prodImgUrl}}>
            </div>
            <div class="col s1 noMarginPaddingBN">
              <div class="deleteImgSmall linkButtonBN " (click)="deleteImage(img.prodImgUrl)">
                <i class="material-icons alignMidBN" style="font-size: 14pt;">close</i>
              </div>
            </div>
          </div>
          <div *ngIf="imageUrls && imageUrls.length < 3" class="col s4">
            <div class="col s10 file-field input-field noMarginPaddingBN">
              <img *ngIf="!uploading" src="../../assets/shared/images/add-image.png" class="responsive-img">
              <div *ngIf="uploading" class="col s12 center">
                <div class="row"></div>
                <div class="row"></div>
                <div class="preloader-wrapper small active">
                  <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                  </div>
                </div>
              </div>
              <input title="Product Image Here" accept=".jpg, .jpeg, .png" id="otherUploadImg2" type="file"
                     (change)="fileChange($event)" />
            </div>
          </div>
        </div>
          <div class="input-field col s12" style="margin-top: 20px">
            <input id="oTitle" name="oTitle" type="text" [(ngModel)]="newProduct.name" class="validate inputTextBN" maxlength="50"
                   placeholder="{{'Enter the name of your Product' | translate}}" required />
            <label for="oTitle" class ="active labelPLBN">{{'Product Title*' | translate}}</label>
          </div>
          <div class="input-field col s12">
            <input id="oDescription" name="oDescription" type="text" [(ngModel)]="newProduct.description" class="validate inputTextBN"
                   placeholder="{{'Mention important details of your Product(Optional)' | translate}}" maxlength="500" />
            <label for="oDescription" class ="active labelPLBN">{{'Description' | translate}}</label>
          </div>
          <div class="input-field col s6">
            <input id="oPrice" name="oPrice" type="number" [(ngModel)]="newProduct.price" class="validate inputTextBN"
                   placeholder="{{'Product Price' | translate}}" required style="margin-bottom: 0px" (keyup)="checkAmount()" />
            <label for="oPrice" class ="active labelPLBN">{{'Price*' | translate}}</label>
            <span *ngIf="isAmountLess" class="errNrmS6B2BN">{{'*Min Price: ₹10' | translate}}</span>
          </div>
          <div class="input-field col s6">
            <input id="oDiscountPrice" name="oDiscountPrice" type="text" [(ngModel)]="newProduct.discountedPrice" class="validate inputTextBN"
                   placeholder="{{'Discounted price of the product(Optional)' | translate}}" style="margin-bottom: 0px" (keyup)="checkAmount()"/>
            <label for="oDiscountPrice" class ="active labelPLBN">{{'Discounted Price' | translate}}</label>
            <span *ngIf="discountError" class="errNrmS6B2BN">{{'Improper Discount' | translate}}</span>
          </div>
          <div class="input-field col s12" *ngIf="!businesspro.freeShip && !businesspro.chargePerOrder">
            <input id="shipchrge" name="shipchrge" type="number" [(ngModel)]="newProduct.shippingcharge" class="validate inputTextBN"
                   placeholder="{{'Shipping price of the product' | translate}}" style="margin-top: 10px"  />
            <label for="shipchrge" class ="active labelPLBN">{{'Shipping Charge' | translate}}</label>
            <span *ngIf="shippingcharg" class="errNrmS6B2BN">{{'Improper Discount' | translate}}</span>
          </div>
          
      </div>
    </div>
      <div class="row"></div>
      <div class="row valign-wrapper">
        <div class="col s12 center">
          <button class="btn waves-effect waves-light buttonBN regNrmS4BN center checkHeight" type="submit" name="create"
                 >{{'ADD TO STORE' | translate}}</button>
                 <div class= "row"> </div>
                 <span class="col s12 center err" *ngIf= "errSubmit " >Please fill the fields marked with * </span>
        </div>
      </div>
      
    </form>
  </div>
</div>
