.mainBodyBN{
  font-family: Barlow;
  font-size: 12pt;
  line-height: 14px;
}

.noMarginPaddingBN{
  margin: 0px!important;
  padding: 0px!important;
}

.noLeftPaddingBN{
  padding-left: 0px!important;
}

.dashboardRedirectBN{
  color: #E53935;
  font-weight: bold;
}

.prodTypeBN{
  font-size: 10pt!important;
  font-weight: bold;
  color: grey;
}

.typeBN{
  font-size: 13pt!important;
  line-height: 14px!important;
  font-weight: bold;
}

.dottedborderBN{
  border: 2px dotted grey;
  border-radius: 15px;
  background-color: #f2f2f2;
  height: 150px;
}

.checkHeight{
  line-height: 10px!important;
  height: 30px!important;
  font-size: 10pt;
  font-weight: bold;
}

.inputLabelBN{
  font-size: 10pt!important;
  line-height: 12px!important;
  margin-bottom: 3px;
}

.labelPLBN{
  color: black!important;
  font-size: 13pt!important;
}

.variantBN{
  border: 1px solid red;
  border-radius: 2px;
  color: red;
  padding: 3px 10px 3px 10px;
  font-weight: bold;

}

.variantTitleBN{
  margin-top: 5px;
  border-bottom: 1px solid #9f9f9f;
  font-weight: bold;
}

.variantMobTitleBN{
  margin-top: 5px;
  font-weight: bold;
}

.deleteImg{
  color: black;
  background-color: #dddddd;
  float: left;
  border-radius: 15px;
}

.deleteImgSmall{
  color: black;
  background-color: #dddddd;
  float: left;
  border-radius: 10px;
  position: relative;
  left: -10px;
}

.imgListBN{
  height: 56px;
}

.normalImgListBN{
  height: 150px;
}

.mainImageBN{
  max-height: 210px!important;
}

.firstImgBN{
  margin: 0px 0px 10px 0px!important;
  padding: 0px!important;
}

.variantBoxBN{
  height: 325px;
  overflow: auto;
  width:48%!important;
  margin-right: 10px!important;
}

.successModalBN{
  height: 47%;
  width: 50%;
}

.titleBN{
  font-family: Barlow;
  font-size: 14pt;
  line-height: 17px;
  font-weight: bold;
  color: teal;
  margin-bottom: 10px;
  margin-top: 20px;
}

.buttonModalBN{
  text-transform: none;
  color: white!important;
  height: 30px;
  line-height: 30px;
  background-color: #E53935!important;
}

.imageHeightBN{
  height: 100px!important;
}

.smallerFontBN{
  font-family: Barlow;
  font-size: 10pt!important;
  line-height: 12px!important;
  padding: 0px;
  height: 25px;
}
.err{
  color:red;
  font-size: 11pt;
  font-weight: 700;
}
