.mainBodyBN{
  font-family: Barlow;
  font-size: 12pt;
  line-height: 14px;
}

.noLeftPaddingBN{
  padding-left: 0px!important;
}

.dashboardRedirectBN{
  color: #E53935;
  font-weight: bold;
}

.typeBN{
  font-size: 13pt!important;
  line-height: 14px!important;
  font-weight: bold;
}

.dottedborderBN{
  border: 2px dotted grey;
  border-radius: 15px;
  background-color: #f2f2f2;
  height: 150px;
}

.checkHeight{
  line-height: 10px!important;
  height: 30px!important;
  font-size: 10pt;
  font-weight: bold;
}

.inputLabelBN{
  font-size: 10pt!important;
  line-height: 12px!important;
}
