<div materialize>
<div class="col s6 m8 l6 jumbotronBN text-xs-center">
  <div class= "row"></div>
  <div class= "row"></div>
    <h1 class="textgreenBN center ">Thank You!</h1>
    <div class= "row"></div>
    <div class= "thankyoumessageBN">
    <p class=" center s4 m6 l6">You have successfully updated your business category.<br> Now you have become a <b>STAR MERCHANT</b> of Benow.</p>
  </div>
    <div class= "row"></div>
    <div class= "row"></div>
    <p class="leadBN center">
      <a class="btn btn-primary btnBN" href="https://merchant.benow.in" role="button">Close</a>
    </p>
  </div>
</div>