<div class="row buyFooterBN" align="center">
  <div class="col s12">&nbsp;</div>
  <div class="col s12 center">
  <div class="col s12 m6 l3 regNrmS4BN buyfootercolorBN">
    {{'Powered by' | translate}} <b> {{'Benow' | translate}} </b>
  </div> <div class="col s12 m6 l9 ">
  <a class="buyfootercolorBN" href="http://www.benow.in/privacy-policy/" target="_blank"> 
   {{'Privacy Policy' | translate}} </a>  &nbsp;&nbsp;| &nbsp;
    <a  class="buyfootercolorBN" href="http://www.benow.in/terms-and-conditions/" target="_blank"> 
     &nbsp; {{'Terms and conditions'| translate}}</a> 
      <span class="buycopyBn">{{'Copyright @ 2016 Cashless Technologies India' | translate}}</span>
  </div>
  </div>
  <div class="col s12">&nbsp;</div>
</div>