<div class="row buyFooterBN" align="center">
  <div class="col s12">&nbsp;</div>
  <div class="col s12 center">
  <div class="col s12 m6 l6 buyfootercolorBN">
    <div class="col s12 m4 l4 offset-l2 offset-m2 center ">{{'Powered by' | translate}} <b> {{'Benow' | translate}} </b></div> 
    <div class="col s12 m4 l4 offset-l2 offset-m2 center">{{'Are you merchant?'}} 
      <a class="buyfootercolorBN" href="https://merchant.benow.in/register" target="_blank" >Sign Up Now</a>
    </div>
  </div> <div class="col s12 m6 l6 ">
  <a class="buyfootercolorBN" href="http://www.benow.in/privacy-policy/" target="_blank"> 
   {{'Privacy Policy' | translate}} </a>  &nbsp;&nbsp;| &nbsp;
    <a  class="buyfootercolorBN" href="http://www.benow.in/terms-and-conditions/" target="_blank"> 
     &nbsp; {{'Terms and conditions'| translate}}</a> 
      <span class="buycopyBn">{{'Copyright @ 2016 Cashless Technologies India' | translate}}</span>
  </div>
  </div>
  <div class="col s12">&nbsp;</div>
</div>