.loginHeaderBN {
        background-color:#00c038;
    }
    .loginHeaderBNColor{
        background-color:#00c038;
    }
    .smallLogoBN {
        padding-top: 10px;
        float: left;
        margin-left: 50px;
        margin-bottom: -56px;
        position: relative;
    }
    .titleHead {
        padding-top: 20px;
        padding-left: 2px;
        font-size: 38px;
        color:#ffffff;
        opacity: 1;
        text-align: left;
        margin-left: 20px;
        font-family: 'Areal, Regular';
        
    }
    .titleFont{
        font-family: 'Arial, Regular';
        font-weight: 600;
        font-size: 14pt!important;
    }
    .uline{
        background-color:#006ec3;
        height: 20px;   
    }
    


@media screen and (max-width: 480px){
    .smallLogoBN {
        padding-top: 5px;
        float: left;
        margin-left: 25px;
        margin-bottom: -28px;
        position: relative;
        width:80px;
        height:76px;
    }
     
    .titleHead {
        padding-top: 10px;
        padding-left: 2px;
        font-size: 22px;
        color:#ffffff;
        opacity: 1;
        text-align: left;
        margin-left: 10px;
        font-family: 'Areal, Regular';
        
    }
    
}