.loginHeaderBN {
    padding: 10px!important;
    background-color:#00c038;
    height: 90px; 
}

.smallLogoBN {
    padding-top: 10px;
    max-width: 145px;
    float: left;
    margin-left: 50px;
    height: 100px;
    margin-bottom: -56px;
    position: relative;
}
.titleHead {
    padding-top: 10px;
    padding-left: 20px;
    color: white;
    text-align: left;
    margin-left: 150px;
    
}
.titleFont{
    font-family: 'Arial-Regular';
    font-weight: 600;
    font-size: 14pt!important;
}
.uline{
    background-color:#006ec3;
    height: 10px;   
}